<div class="col-sm-4">
    <h4>{{ object.field.farm.client.contact }}</h4>
    {% include "orders/stubs/contactblock.html" with contact=object.field.farm.client.contact %}
</div>
<div class="col-sm-4">
    {{ object.field.farm }} <br>
    {{ object.field.name }} <br>
    State: {{ object.field.state|default:"???" }} County: {{ object.field.county|default:"???" }},
    Township:
    {{ object.field.township|default:"???" }}
    Section: {{ object.field.section|default:"???" }}
</div>
<div class="col-sm-4">
    Originator: {{ object.field.farm.client.originator.name }}<br>
    Salesperson: {{ object.created_by.name }}<br>
    Lab: {{ object.lab_processor }}<br>
    Field Tech: {{ object.sampler }}
</div>