{% load contact_extras %}
<ol>
{% for add in contact.address.all %}
<li>{{ add }} ({{ add.address_type }})</li>
{% endfor %}
</ol>
<ol>
{% for add in contact.email.all %}
<li>{{ add }}</li>
{% endfor %}
</ol>
<ol>
{% for add in contact.phone.all %}
<li>{{ add }}</li>
{% endfor %}
</ol>