{% load contact_extras %}
<div class="row">
    <div class="col-sm-8">
        <span><h2>Soil Test Report</h2></span>
        <br>
        <div class="col-sm-6">
            Dealer: {{ object.field.farm.client.originator.name }}<br>
            Client: {{ object.field.farm.client.name }}<br>
            Farm: {{ object.field.farm }} <br>
            Field: {{ object.field.name }} <br>
            Date: {% now "jS F Y" %}
        </div>
        <div class="col-sm-6">
            Order: {{ object.order_number }} <br>
            File #: {{ file }} <br>
            No. of Samples: {{ object.samples.count }} <br>
        </div>
    </div>
    <div class="col-sm-4">
        {% if orgimage %}
            <div class="seipkon-logo">
                <img src="{{ orgimage }}" alt="logo"> <br>
            </div>
        {% else %}
            <p>No logo!</p>
        {% endif %}
        {{ org.company.address.first }} <br>
        {{ org.company.phone.first|usphone }}
    </div>
</div>


<div class="col-sm-6">
    {% if view_type == "workorder" %}
        <h2>{{ org.name }} Work Order</h2>
    {% else %}
        {% if orgimage %}
            <div class="col-sm-8">
                <img src="{{ orgimage }}" alt="logo">
                {{ org.company.address.first }}
                {{ org.company.phone.first|usphone }}
            </div>
        {% else %}
            <p>No logo!</p>
        {% endif %}
    {% endif %}
</div>
<div class="col-sm-5">
    <h3>Order #{{ object.order_number }} ({{ object.order_status }})</h3>
    Created {{ object.date_created }}
    <ol>
        {% for p in object.products.all %}
            <li><h4>{{ p.name }}</h4></li>
        {% endfor %}
    </ol>
</div>