<h3>Reports</h3>
<div>
{% if products %}
    {% for product in products %}
        {% if product.is_package %}
            <h4>Package {{ product.name }}</h4>
            {% for p in product.package.all %}
                {% include p.get_report_template.name with product=p %}
            {% endfor %}
        {% else %}
            {% include product.get_report_template.name %}
        {% endif %}
    {% endfor %}
{% endif %}
</div>
