{% load order_render %}
<div class="row">
    <div class="col-sm-12">
        <h4>Products in this order</h4>
        {% if object.products.all %}
            {% for p in object.products.all %}
                {{ p.name }}
                {% if p.is_package %}
                    <ol>
                        {% for subprod in p.package.all %}
                            <li><h5>{{ subprod.name }}</h5></li>
                            <ol>
                                {% for f in subprod.custom_fields.all %}
                                    <li>{{ f }}: <b>{{ f|answer:object }}</b></li>
                                {% endfor %}
                            </ol>
                        {% endfor %}
                    </ol>
                {% else %}
                    <ol>
                        {% for f in p.custom_fields.all %}
                            <li>{{ f }}: <b>{{ f|answer:object }}</b></li>
                        {% endfor %}
                    </ol>
                {% endif %}
                </li>
                <br>
            {% endfor %}
        {% endif %}
        </ul>
        <h4>Laboratory / Sampler Use Only</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h4>Field identification</h4>
        {% include "products/misc/plat_identification.html" %}
    </div>
    <div class="col-sm-12">
        <h4>Sampling Record</h4>
        {% include "products/misc/sampling_record.html" %}
    </div>
    <div class="col-sm-12">
        <h4>Laboratory records</h4>
        {% include "products/misc/sample_registry.html" %}
    </div>
    <div class="col-sm-12">
        <h4>Additional Info</h4>
        {% include "products/misc/additional_info.html" %}
    </div>
</div>
{% if object.field.plat_file %}
    <div class="row">
        <img src="{{ object.field.plat_file.url }}">
    </div>
{% endif %}