{% extends "dashboard/dashboard_base.html" %}
{% load static %}

{% block breadcrumb %}
<div class="row">
    <div class="col-md-12">
        <div class="breadcromb-area">
            <div class="row">
                <div class="col-md-6  col-sm-6">
                    <div class="seipkon-breadcromb-left">
                        <h3>Fields</h3>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-right">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li>Fields</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block dashcontent %}
<div class="row">
    <div class="col-md-12">
        <div class="page-box">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>Originator</th>
                        <th>Client</th>
                        <th>Farm</th>
                        <th>Field</th>
                        <th>Size (Acres)</th>
                    </tr>
                    {% for obj in object_list %}
                    <tr>
                        <td>{{ field.farm.client.originator }}</td>
                        <td><a href="{% url 'client_detail' pk=field.farm.client.pk %}">{{ field.farm.client.name }}</a></td>
                        <td><a href="{% url 'farm_detail' pk=field.farm.pk %}">{{ field.farm }}</a></td>
                        <td><a href="{% url 'field_detail' pk=field.pk %}">{{ field.name }}</a></td>
                        <td>{{ field.area }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}



