{% extends 'dashboard/dashboard_base.html' %}
{% load crispy_forms_tags %}
{% block sidebar %}
{% endblock %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <div class="breadcromb-area">
                <div class="row">
                    <div class="col-md-6  col-sm-6">
                        <div class="seipkon-breadcromb-left">
                            <h3>Sign in</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block dashcontent %}
    <div class="row">
        <div class="col-md-4">
            <div class="page-box">
                {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                {% endif %}

                {% if next %}
                    {% if user.is_authenticated %}
                        <p>Your account doesn't have access to this page. To proceed,
                            please login with an account that has access.</p>
                    {% else %}
                        <p>Please login to see this page.</p>
                    {% endif %}
                {% endif %}
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}" />
                    <div class="form-group">
                        <input type="text" name="username" placeholder="Username" class="form-control" required
                               id="id_username">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" class="form-control" required id="id_password"
                               name="password">
                    </div>
                    <div class="form-group form-checkbox">
                        <input type="checkbox" checked id="chk_2">
                        <label class="inline control-label" for="chk_2">Remember me</label>
                        <p class="lost-pass pull-right">
                            <a href="{% url 'password_reset' %}">Forget Your Password?</a>
                        </p>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-layout-submit">
                                    <button class="btn btn-bordered-info" type="submit">Sign in</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <p><strong>-- OR --</strong></p>
                <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google if your username is the same</a><br>
            </div>
        </div>
    </div>
{% endblock %}