{% extends 'dashboard/dashboard_base.html' %}
{% load crispy_forms_tags %}
{% block sidebar %}
{% endblock %}

{% block breadcrumb %}
<div class="row">
   <div class="col-md-12">
      <div class="breadcromb-area">
         <div class="row">
            <div class="col-md-6  col-sm-6">
               <div class="seipkon-breadcromb-left">
                  <h3>Logged out</h3>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

{% endblock %}
{% block dashcontent %}
<div class="row">
   <div class="col-md-4">
      <div class="page-box">
        <a href="{% url 'login' %}">Sign in again</a>
      </div>
   </div>
</div>
{% endblock %}