{% extends 'dashboard/dashboard_base.html' %}
{% load crispy_forms_tags %}
{% block sidebar %}
{% endblock %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <div class="breadcromb-area">
                <div class="row">
                    <div class="col-md-6  col-sm-6">
                        <div class="seipkon-breadcromb-left">
                            <h3>Reset Password</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block dashcontent %}
    <div class="row">
        <div class="col-md-4">
            <div class="page-box">
                <p>
                    We've emailed you instructions for setting your password, if an account exists with the email you
                    entered. You should receive them shortly.
                </p>
                <p>
                    If you don't receive an email, please make sure you've entered the address you registered with,
                    and check your spam folder.
                </p>
            </div>
        </div>
    </div>
{% endblock %}