{% extends 'dashboard/dashboard_base.html' %}
{% load crispy_forms_tags %}
{% block sidebar %}
{% endblock %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <div class="breadcromb-area">
                <div class="row">
                    <div class="col-md-6  col-sm-6">
                        <div class="seipkon-breadcromb-left">
                            <h3>Change Password</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block dashcontent %}
    <div class="row">
        <div class="col-md-4">
            <div class="page-box">
                {% if validlink %}
                    <ul>
                        <li>Your password can't be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can't be a commonly used password.</li>
                        <li>Your password can't be entirely numeric.</li>
                    </ul>
                    <form method="post">
                        {% if form.errors %}
                            {{ form.errors }}
                        {% endif %}
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="password" class='form-control' placeholder="New Password" name="new_password1"
                                   required="" id="id_new_password1">
                        </div>
                        <div class="form-group">
                            <input type="password" class='form-control' placeholder="Confirm Password"
                                   name="new_password2" required="" id="id_new_password2">
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-layout-submit">
                                        <button class='btn btn-bordered-info' type="submit">Change Password</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                {% else %}
                    <p>
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}