{% extends 'dashboard/dashboard_base.html' %}
{% load crispy_forms_tags %}
{% block sidebar %}
{% endblock %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <div class="breadcromb-area">
                <div class="row">
                    <div class="col-md-6  col-sm-6">
                        <div class="seipkon-breadcromb-left">
                            <h3>Reset Password</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block dashcontent %}
    <div class="row">
        <div class="col-md-4">
            <div class="page-box">
                <p>
                    Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
                </p>
            </div>
        </div>
    </div>
{% endblock %}