{% extends 'dashboard/dashboard_base.html' %}
{% load crispy_forms_tags %}
{% block sidebar %}
{% endblock %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <div class="breadcromb-area">
                <div class="row">
                    <div class="col-md-6  col-sm-6">
                        <div class="seipkon-breadcromb-left">
                            <h3>Reset Password</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block dashcontent %}
    <div class="row">
        <div class="col-md-4">
            <div class="page-box">
                <p>Enter your email below - look for a reset link in your mailbox.</p>
                {% if form.errors %}
                    {{ form.errors }}
                {% endif %}
                <form method="post" action="{% url 'password_reset' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Email" class="form-control" required
                               id="id_email">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-layout-submit">
                                    <button class='btn btn-bordered-info' type="submit">Send Reset Email</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}