{% extends "organizations_base.html" %}

{% load static %}
{% load org_tags %}
{% block heading %}
    {{ organization }}
{% endblock %}

{% block help %}
    You can edit the organization details here
{% endblock %} 

{% block org_page %}
<div class="content animate-panel">

<div class="row">
    <div class="col-lg-9">
        <div class="hpanel hgreen contact-panel">
            <div class="panel-body">
                <h3><a href=""> Your organization</a></h3>
                <div class="hr-line-dashed"></div>
                <form method="post" action="." class="form-horizontal">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group"><label class="col-sm-3 control-label">{{ field.label }}</label>
                    <div class="col-sm-9">{{ field }}</div>
                </div>
                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-2">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </div>
                </form>
            <div class="hr-line-dashed"></div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %} 

