{% extends "organizations_base.html" %}
{% load static %}

{% block heading %} 
                Organizations you are currently part of
{% endblock %}
{% block help %}
If you expect to see an organization name in the list below, make sure you contact the 
            organization owner and have them add you to their organization. 
{% endblock %}

{% block org_page %}
<div class="row">
    {% for organization in organizations %}
    <div class="col-lg-3">
        <div class="hpanel hgreen contact-panel">
            <div class="panel-body">
                <h3><a href="{{ organization.get_absolute_url }}">{{ organization }}</a></h3>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

