{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block breadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <div class="breadcromb-area">
                <div class="row">
                    <div class="col-md-6  col-sm-6">
                        <div class="seipkon-breadcromb-left">
                            <h3>My Team</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="seipkon-breadcromb-right">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li>Team</li>
                                <li>New User Registration</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block dashcontent %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-box">
                <div class="panel-heading">
                    <div class="pull-right seipkon-logo">
                        <img src="{{ orgimage }}" alt="company logo"/>
                    </div>
                    <h3>
                        <a href="{% url 'company_detail' pk=org.company.pk %}">
                            {{ org }}
                        </a>
                    </h3>

                    <p>{{ org.company.url }}</p>
                </div>
                <div class="panel-body">
                    <p>{{ org.company.email.all|join:"<br/>" }}</p>
                    <p>{{ org.phone.all|join:"<br/>" }}</p>
                    <p>{{ org.address.all|join:"<br/>" }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-md-12">
                <div class="page-box">
                    <div class="panel-heading">
                            <span class="pull-left">
                                {% if ouser.user.person.image %}
                                    <img src="{{ ouser.user.person.image.url }}" alt="profile" class="profile-avator"/>
                                {% else %}
                                    <img src="{% static 'assets/img/default_user.png' %}" alt="profile" class="profile-avator"/>
                                {% endif %}
                            </span>
                        <span class="pull-right">
                                {% if ouser.is_owner %}
                                    <i class="fa fa-cogs">Owner</i>
                                {% endif %}
                            {% if ouser.is_admin %}
                                <i class="fa fa-key">Admin</i>
                            {% endif %}
                            </span>
                        <h4>
                            Welcome {{ ouser.user.email }}
                        </h4>
                    </div>
                    <div class="panel-body">
                        {% crispy form %}
                    </div>
                </div>
            </div>
    </div>
{% endblock %}