{% load samples_extras %}
{% load humanize %}
{% if product.test_params %}
    <table class="table table-sm fullwidth">
        <thead>
        <tr>
            <th>#</th>
            <th>Lab ID</th>
            {% for par in product.test_params %}
                <th>{% if par.name == "pH Water" or par.name == "pH Buffer" %}
                        pH
                    {% else %}
                        {{ par.name }}
                    {% endif %}
                    {% if par.calculated %}*{% endif %}
                </th>
            {% endfor %}
        </tr>
        <tr>
            <th></th>
            <th></th>
            {% for par in product.test_params %}
                <th>{% if par.name == "pH Water" %}
                        Water
                    {% elif par.name == "pH Buffer" %}
                        Buffer
                    {% else %}
                        {{ par.unit }}
                    {% endif %}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for sample in samples_list %}
            <tr>
                <td>
                    {% if sample.custom_name is not null %}
                        {{ sample.custom_name }}
                    {% else %}
                        {{ sample.order_serial }}
                    {% endif %}
                </td>
                <td>{{ sample }}</td>
                {% for par, measurements in sample|sample_product_items:product %}
                    {% if not par.calculated and par.name %}
                        <td>
                            {% for m in measurements.measures %}
                                {% if forloop.first and not sample.void and not m.void %}
                                    {{ m|bdl_floatformat }}
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% elif par.calculated and par.name %}
                        <td>
                            {{ sample|calculated_parameter:par }}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2">Average</td>
            {% for par in product.test_params %}
                <td>{{ par|mean_for_order:order }}</td>
            {% endfor %}
        </tr>
        </tfoot>
    </table>
{% endif %}