{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block breadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <div class="breadcromb-area">
                <div class="row">
                    <div class="col-md-6  col-sm-6">
                        <div class="seipkon-breadcromb-left">
                            <h3>My Team</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="seipkon-breadcromb-right">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li>Team</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block dashcontent %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-box">
                <div class="panel-heading">
                    <div class="pull-right seipkon-logo">
                        <img src="{{ orgimage }}" alt="company logo"/>
                    </div>
                    <h3>
                        <a href="{% url 'company_detail' pk=org.company.pk %}" title="Click to edit">
                            {{ org }} <i class="fa fa-edit"></i>
                        </a>
                    </h3>

                    <p>{{ org.company.url }}</p>
                </div>
                <div class="panel-body">
                    <p>{{ org.company.email.all|join:"<br/>" }}</p>
                    <p>{{ org.phone.all|join:"<br/>" }}</p>
                    <p>{{ org.address.all|join:"<br/>" }}</p>
                </div>
                {% if orguser.is_admin %}
                    <div class="panel-heading">
                        <h4>
                            Invite a new user to your organization
                        </h4>
                        <small>Add email address below</small>
                    </div>
                    <div class="panel-body">
                        {% crispy invitation_form invitation_form.helper %}
                        {% if form_msg %}
                            {{ form_msg }}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% if object_list %}
        <div class="row">
            {% for ouser in object_list %}
                <div class="col-md-4">
                    <div class="page-box">
                        <div class="panel-heading">
                            <span class="pull-left">
                                {% if ouser.user.person.image %}
                                    <img src="{{ ouser.user.person.image.url }}" alt="profile" class="profile-avator"/>
                                {% else %}
                                    <img src="{% static 'assets/img/default_user.png' %}" alt="profile"
                                         class="profile-avator"/>
                                {% endif %}
                            </span>
                            <span class="pull-right">
                                {% if ouser.organizationowner %}
                                    <i class="fa fa-cogs"></i>Owner<br>
                                {% endif %}
                                {% if ouser.is_admin %}
                                    <i class="fa fa-key"></i>Admin
                                {% endif %}
                            </span>
                            <h4>
                                {% if ouser.user.person.pk %}
                                <a href="{% url 'person_detail' pk=ouser.user.person.pk %}">
                                    {{ ouser.user.person }} ({{ ouser.user.username }})
                                </a>
                                {% endif %}
                            </h4>
                        </div>
                        <div class="panel-body">
                            <p>{{ ouser.user.person.email.all|join:"<br/>" }}</p>
                            <p>{{ ouser.user.person.phone.all|join:"<br/>" }}</p>
                            <p>{{ ouser.user.person.address.all|join:"<br/>" }}</p>
                        </div>
                        {% if orguser.is_admin %}
                            <div class="panel-body">
                                <p id="result_{{ ouser.user.pk }}"></p>
                                <div class="form-group form-checkbox">
                                    <input type="checkbox" name="active"
                                           title="Only active users may log in to this site"
                                           {% if ouser.user.is_active %}checked="checked"{% endif %}
                                           {% if ouser.user == request.user %}disabled{% endif %}
                                           {% if ouser.organizationowner %}disabled{% endif %}
                                           id="active_{{ ouser.user.pk }}">
                                    <label class="inline control-label" for="active_{{ ouser.user.pk }}">Active</label>
                                </div>
                                <div class="form-group form-checkbox">
                                    <input type="checkbox" name="admin"
                                           title="Only Admin users may invite additional users"
                                           {% if ouser.is_admin %}checked="checked"{% endif %}
                                           {% if ouser.organizationowner %}disabled{% endif %}
                                           id="admin_{{ ouser.user.pk }}">
                                    <label class="inline control-label" for="admin_{{ ouser.user.pk }}">Admin</label>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block pagescripts %}
    <script  src="{% static 'assets/js/associates.js' %}"></script>
{% endblock %}
