{% extends "meetingsbase.html" %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <div class="breadcromb-area">
                <div class="row">
                    <div class="col-md-6  col-sm-6">
                        <div class="seipkon-breadcromb-left">
                            <h3>Meeting Report</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="seipkon-breadcromb-right">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li>Meetings</li>
                                <li>{{ meeting.name }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block dashcontent %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-box">
                <div class="panel-heading">
                    <h2>{{ meeting.name }}</h2>
                </div>
                <div class="panel-body">
                    <h4>Agenda</h4>
                    <ul>
                        {% for agenda in meeting.agenda_item.all %}
                            <li>{{ agenda.item }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="page-box">
                <div class="panel-heading">
                    <h4>Notes</h4>
                </div>
                <div class="panel-body">
                    {% for agenda in meeting.agenda_item.all %}
                        <div class="panel-heading">
                            <h4>[{{ agenda.get_state_display }}] {{ agenda.item }}</h4>
                            <span class="pull-right"> Priority: {{ agenda.get_priority_display }}</span>
                        </div>
                        <div class="panel-body">
                            <p>Proposed: {{ agenda.created }} by {{ agenda.proposed_by }}</p>
                            {% for discussion in agenda.discussion.all %}
                                <p>On {{ discussion.created }}, {{ discussion.user }} wrote<br/>
                                    {% if discussion.resolution %}
                                        RESOLVED:<br/>
                                    {% endif %}
                                    {{ discussion.text }}
                                </p>
                            {% endfor %}
                            {% for action in agenda.action_item.all %}
                                <p>Due {{ action.due }}:<br/>
                                    {{ action.action }}
                                </p>
                                Resposible party(ies):
                                <ul>
                                    {% for responsible in action.responsible.all %}
                                        <li>{{ responsible }}</li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

