{% extends "meetingsbase.html" %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <div class="breadcromb-area">
                <div class="row">
                    <div class="col-md-6  col-sm-6">
                        <div class="seipkon-breadcromb-left">
                            <h3>List of meetings</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="seipkon-breadcromb-right">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li>Meetings</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block dashcontent %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-box">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table datatable table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Time
                                </th>
                                <th>
                                    Location
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for meeting in object_list %}
                                <tr>
                                    <td>
                                        <a href="{% url 'meeting_details' pk=meeting.pk %}">{{ meeting.name }}</a>
                                    </td>
                                    <td>
                                        {{ meeting.when }}
                                    </td>
                                    <td>
                                        {{ meeting.venue }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
    <script>
        $(document).ready(function () {
            $('.datatable').DataTable({
                paging: true,
                pagingType: "numbers",
            });
        });
    </script>
{% endblock %}