{% extends "dashboard/dashboard_base.html" %}

{% block breadcrumb %}
    {% block breadcrumbs %}
    {% endblock %}
{% endblock %}

{% block dashcontent %}

    <!-- Article list page Start -->
    <div class="row">
        <div class="col-md-12">
            <div class="page-box">
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <div class="mailbox-left">
                            {% block sidebar %}
                            {% endblock %}
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-8">
                        {% block link %}
                        {% endblock %}
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Mail Compose Row -->
{% endblock %} 
