{% extends "zinnia/article_base.html" %}
{% load i18n %}
{% load zinnia %}

{% block meta-keywords %}{% get_tags as entry_tags %}{{ entry_tags|join:", " }}{% endblock meta-keywords %}

{% block meta %}
    <meta name="generator" content="Zinnia {{ ZINNIA_VERSION }}"/>
{% endblock meta %}

{% block link %}
    <link rel="index" href="{% url 'zinnia:entry_archive_index' %}"/>
    <link rel="author" type="text/plain" href="{% url 'zinnia:humans' %}"/>
    <link rel="EditURI" type="application/rsd+xml" href="{% url 'zinnia:rsd' %}"/>
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="{% url 'zinnia:wlwmanifest' %}"/>
    <link rel="search" type="application/opensearchdescription+xml" title="Zinnia's Weblog"
          href="{% url 'zinnia:opensearch' %}"/>
    <link rel="alternate" type="application/rss+xml" title="{% trans "RSS feed of last entries" %}"
          href="{% url 'zinnia:entry_feed' %}"/>
    <link rel="alternate" type="application/rss+xml" title="{% trans "RSS feed of last discussions" %}"
          href="{% url 'zinnia:discussion_feed' %}"/>
    {% get_archives_entries "zinnia/tags/entries_archives_link.html" %}
{% endblock link %}

{% block breadcrumbs %}
    {% trans "Articles" as root_name %}
    {% zinnia_breadcrumbs root_name "zinnia/breadcrumb_template.html" %}
{% endblock breadcrumbs %}

{% block sidebar %}
    <div class="mail-sidebar">
        <h4>
            <a href="/articles">
                <i class="fa fa-newspaper"></i>
                {% trans "Recent entries" %}</a>
        </h4>
        {% get_recent_entries %}
    </div>
    <div class="mail-sidebar">
        <h4>
            <a href="{% url 'zinnia:tag_list' %}">
                <i class="fa fa-tags"></i>
                {% trans "Tags" %}</a>
        </h4>
        {% get_tag_cloud %}
    </div>
    <div class="mail-sidebar">
        <h4>
            <a href="{% url 'zinnia:category_list' %}">
                <i class="fa fa-object-group"></i>
                {% trans "Categories" %}</a>
        </h4>
        {% get_categories %}
    </div>
    <div class="mail-sidebar">
        <h4>
            <a href="{% url 'zinnia:author_list' %}">
                <i class="fa fa-pen-fancy"></i>
                {% trans "Authors" %}</a>
        </h4>
        {% get_authors %}
    </div>
    <div class="mail-sidebar">
        <h4>
            <a href="{% url 'zinnia:author_list' %}">
                <i class="fa fa-thumbs-up"></i>
                {% trans "Popular entries" %}</a>
        </h4>
        {% get_popular_entries %}
    </div>
    <div class="mail-sidebar">
        <h4>
            <a href="{% url 'zinnia:author_list' %}">
                <i class="fa fa-archive"></i>
                {% trans "Archives" %}</a>
        </h4>
        {% get_archives_entries_tree %}
    </div>
    {% comment %}
        <li>
            <h4>{% trans "Recent comments" %}</h4>
            {% get_recent_comments %}
        </li>
        {% endcomment %}
{% endblock sidebar %}
