<div class="row">
   <div class="col-md-12">
      <div class="breadcromb-area">
         <div class="row">
            <div class="col-md-6  col-sm-6">
               <div class="seipkon-breadcromb-left">
                  <h3>Articles</h3>
               </div>
            </div>
            <div class="col-md-6 col-sm-6">
               <div class="seipkon-breadcromb-right">
                    <ul>
                      {% for crumb in breadcrumbs %}
                      <li>
                        {% if crumb.url %}
                        <a href="{{ crumb.url }}" title="{{ crumb.name }}">{{ crumb.name }}</a>
                        {% else %}
                        {{ crumb.name }}
                        {% endif %}
                      </li>
                      {% endfor %}
                    </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>




