{% extends "zinnia/entry_list.html" %}
{% load i18n %}
{% load zinnia %}

{% block meta-description %}{% trans "Last entries" %}{% endblock meta-description %}

{% block title %}{% trans "Last entries" %}{% endblock title %}

{% block body-class %}{{ block.super }} archive index
    {% now "\y\e\a\r-Y \m\o\n\t\h-m \w\e\ek-W \d\a\y-d" %}{% endblock body-class %}

{% block slider %}
    {% get_featured_entries template="zinnia/tags/entries_slider.html" %}
{% endblock slider %}

{% block content-related %}
{% if date_list %}
        <div class="page-box">
            <h2>{% trans "Yearly archives" %}</h2>
            <ul>
                {% for date in date_list %}
                    <li>
                        <a href="{% url 'zinnia:entry_archive_year' date|date:"Y" %}"
                           rel="archives">{{ date|date:"Y" }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock content-related %}
