{% extends "soildxadminbase.html" %}
{% block content %}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="/dashboard/">Dashboard</a></li>
                    <li class="active">
                        <span>Organizations</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                {% block heading %}
                
                {% endblock %}
            </h2>
            <small>
            {% block help %} 
            If you expect to see an organization name in the list below, make sure you contact the 
            organization owner and have them add you to their organization.
            {% endblock %}
            </small>
        </div>
    </div>
</div>

<div class="content animate-panel">
{% block org_page %}

{% endblock %}
</div>
{% endblock %}

