{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block pagestyles %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <div class="breadcromb-area">
                <div class="row">
                    <div class="col-md-6  col-sm-6">
                        <div class="seipkon-breadcromb-left">
                            <h3>Bug Details</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="seipkon-breadcromb-right">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/bugs/">List of Bugs</a></li>
                                <li>{{ bug.id }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block dashcontent %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-box">
                <div class="panel-heading">
                    <h3>{{ bug.bug_name }}
                    {% if bug.category %}
                        &nbsp;({{ bug.category }})
                    {% endif %}
                    </h3>
                    {% if bug.state == '0' %}
                        <span class="label label-warning pull-right">Submitted</span>
                    {% endif %}
                    {% if bug.state == '1' %}
                        <span class="label label-danger pull-right">Confirmed</span>
                    {% endif %}
                    {% if bug.state == '2' %}
                        <span class="label label-info pull-right">Assigned</span>
                    {% endif %}
                    {% if bug.state == '3' %}
                        <span class="label label-success pull-right">Resolved</span>
                    {% endif %}
                    {% if bug.state == '4' %}
                        <span class="label label-success pull-right">Fixed</span>
                    {% endif %}
                    {% if bug.state == '5' %}
                        <span class="label label-success pull-right">Closed</span>
                    {% endif %}
                    {% if bug.state == '6' %}
                        <span class="label label-success pull-right">Feature Request</span>
                    {% endif %}
                    {% if bug.state == '7' %}
                        <span class="label label-success pull-right">Won't Fix</span>
                    {% endif %}

                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <h4>Description</h4>
                        <p>
                            {{ bug.bug_description|linebreaks }}
                        </p>
                        {% if bug.image %}
                            <div class="panel-body">
                                <img src="{% static bug.image.name %}"/>
                            </div>
                        {% endif %}
                        {% crispy form %}
                    </div>
                    <div class="col-md-6">
                        <div>
                            Submitted: {{ bug.submitted | naturaltime }} <br>
                            Modified: {{ bug.modified | naturaltime }} <br>
                        </div>
                        <div class="clearfix">
                            Submitted by: {{ bug.provided_by }}
                            <span class="pull-right">
                                {% if bug.provided_by.person.image %}
                                    <img src="{{ bug.provided_by.person.image.url }}" alt="profile"
                                         class="profile-avator"/>
                                {% else %}
                                    <img src="{% static 'assets/img/default_user.png' %}" alt="profile"
                                         class="profile-avator"/>
                                {% endif %}
                            </span>
                        </div>
                        <div class="clearfix">
                            Assigned to: {{ bug.assigned_to.name }}
                            <span class="pull-right">
                                {% if bug.assigned_to.user.person.image %}
                                    <img src="{{ bug.assigned_to.user.person.image.url }}" alt="profile"
                                         class="profile-avator"/>
                                {% else %}
                                    <img src="{% static 'assets/img/default_user.png' %}" alt="profile"
                                         class="profile-avator"/>
                                {% endif %}
                            </span>
                        </div>
                        <hr>
                        {% if bug.related_bugs.count > 0 %}
                            <h4>Related Bugs</h4>
                            <ul>
                                {% for b in bug.related_bugs.all %}
                                    <li><a href="{% url 'bug_detail' pk=b.pk %}">{{ b.bug_name }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                </div>
            </div>
            {% if comments %}
                <div class="page-box">
                    <div class="panel-heading">
                        <h3>{{ comments.count }} comments</h3>
                        Most recent on top
                    </div>
                    {% for comment in comments %}
                        <hr>
                        <div class="panel-heading">
                            <div class="col-md-1">
                                <span class="pull-left">
                                {% if comment.provided_by.person.image %}
                                    <img src="{{ comment.provided_by.person.image.url }}" alt="profile"
                                         class="profile-avator"/>
                                {% else %}
                                    <img src="{% static 'assets/img/default_user.png' %}" alt="profile"
                                         class="profile-avator"/>
                                {% endif %}
                            </span>
                            </div>
                            <h5>On {{ comment.submitted }} {{ comment.provided_by.username }} wrote:</h5>
                        </div>
                        <hr>
                        <div class="panel-body">
                            <p>{{ comment.comment|linebreaks }}</p>
                            {% if comment.image %}
                                <div class="panel-body">
                                    <img src="{{ comment.image.url }}"/>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}

{% block pagescripts %}


{% endblock %}
    
    

    