{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block pagestyles %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <div class="breadcromb-area">
                <div class="row">
                    <div class="col-md-6  col-sm-6">
                        <div class="seipkon-breadcromb-left">
                            <h3>Report Bugs</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="seipkon-breadcromb-right">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li>List of Bugs</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block dashcontent %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-box">
                <div class="panel-heading">
                    <h3>Bug report</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        {% crispy form form.helper %}
                    </div>
                    <div class="col-md-6">
                        <h4>Please include the following in your bug report:</h4>
                        <ol>
                            <li>Location of the bug (i.e. the web URL) where the bug occurred. You may attach a screenshot if necessary</li>
                            <li>The procedure by which this bug can be replicated</li>
                            <li>Your expectation on what should occur. New feature requests and suggestions are
                                welcome
                            </li>
                            <li>If there is any error message (e.g. a 404 error) that occurs.</li>
                        </ol>
                    </div>
                </div>
                <div class="panel-heading">
                    <h3>List of Open Bugs</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <table class="table datatable wrap table-responsive table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Category</th>
                                <th>Title</th>
                                <th>Modified</th>
                                <th>Status</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
    <script>
        var actionurl = "{% url 'bug_list_json' %}";
    </script>
    <script src={% static "assets/js/bugs.js" %}></script>
{% endblock %}



    

    