<html>
<head>
    <style>
        @media print {
            @page {
                size: 8.5in 11in;
                margin-top: 0.625in;
                margin-right: 0.3in;
                margin-bottom: 0.4in;
                margin-left: 0.3in;
            }
        }

        td.label {
            font-size: 14px;
            font-family: sans-serif;
            width: 2.65in;
            height: 0.94in;
            vertical-align: top;
            padding: 0in;
            {#outline: .1px solid black;#}
            overflow: hidden;
        }

        td.order {
            font-size: 12px;
            font-family: sans-serif;
            width: 1.7in;
            vertical-align: center;
            box-sizing: border-box;
            {#outline: 0.1px solid black;#}
            overflow: hidden;
            padding-left: 0.1in;
            {#padding-right: 0.05in;#}
            padding-top: 0.1in;
            {#padding-left: 0.2in;#}
        }

        td.sample {
            font-size: 36px;
            font-family: sans-serif;
            width: .9in;
            vertical-align: center;
            horiz-align: right;
            {#padding-left: 0.05in;#}
            {#padding-right: 0.1in;#}
            {#outline: 0.1px solid black;#}
            overflow: hidden;
        }

        * {
            font-family: sans-serif;
        }
        table.label {
            vertical-align: center;
            horiz-align: center;
        }
    </style>
</head>
<body>
<table>
    {% for samples in samples_grp %}
        <tr>
            {% for s in samples %}
                <td class="label">
                    <table class="center">
                        <tr>
                            <td class="order"><b>#{{ pk }}</b><br>
                                {{ order.field.farm.client.contact }}<br>
                                {{ order.field.farm.name }}<br>
                                {{ order.field.name }}
                            </td>
                            <td class="sample">{{ s }}</td>
                        </tr>
                    </table>
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
</div>
</body>
</html>