{% extends "dashboard/dashboard_base.html" %}
{% load humanize %}
{% load leaflet_tags %}
{% load product_extras %}
{% load crispy_forms_tags %}
{% block pagestyles %}
    {{ block.super }}
    {% leaflet_css plugins="forms" %}
    <style>

        .leaflet-container { /* all maps */
            height: 300px;
        }

        #specialbigmap {
            height: 1000px;
        }

        img {
            width: 48px;
        }

        .info {
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255, 255, 255, 0.8);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
        }

        .info h4 {
            margin: 0 0 5px;
            color: #777;
        }

        .legend {
            line-height: 18px;
            color: #555;
        }

        .legend i {
            width: 18px;
            height: 18px;
            float: left;
            margin-right: 8px;
            opacity: 0.7;
        }

        .slider {
            width: 50% !important;
        }


    </style>
{% endblock %}
{% block breadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <div class="breadcromb-area">
                <div class="row">
                    <div class="col-md-6  col-sm-6">
                        <div class="seipkon-breadcromb-left">
                            <h3>{{ formtype }}</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="seipkon-breadcromb-right">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li>
                                    <a href="{% url 'client_detail' pk=field.farm.client.pk %}">{{ field.farm.client.contact }}</a>
                                </li>
                                <li><a href="{% url 'farm_detail' pk=field.farm.pk %}">{{ field.farm.name }}</a></li>
                                <li><a href="{% url 'field_detail' pk=field.pk %}">{{ field.name }}</a></li>
                                <li>Orders</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block dashcontent %}
    <div class="row">
        <div class="col-md-6">
            <div class="page-box">
                {% crispy fielddisplay %}
            </div>
            <div class="page-box">
                <h4>Available Products</h4>
                <small>Drag the products to the box on the right, or press
                    <button type="button" class="btn btn-success btn-xs">
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </small>
                <div class="panel-body">
                    <span class="badge pull-left fa fa-cubes"> Package</span><br/>
                </div>
                <div class="table-responsive">
                    <table class="table datatable">
                        <thead>
                        <th>Category</th>
                        <th>Product</th>
                        <th>Info</th>
                        <th>Price</th>
                        </thead>
                        <tbody>
                        {% for prod in products %}
                            {% if prod.active and prod|available_to:org %}
                                <tr draggable="true" ondragstart="drag(event)" id="{{ prod.pk }}">
                                    <td><span style="color: {{ prod.category.color }}">{{ prod.category }}</span></td>
                                    <td>
                                        <span>
                                                {% if prod.image %}
                                                    <img src="{{ prod.image.url }}" alt="no icon"/>
                                                {% endif %}
                                            {{ prod.name }}
                                    </span>
                                        <span class="pull-right">
                                            {% if prod.is_package %}
                                                <span class="badge fa fa-cubes"> </span>
                                            {% endif %}
                                            <p hidden>{{ prod.description }}</p>
                                            <button href="#" type="button"
                                                    class="btn btn-success btn-xs prod_select">
                                                <i class="fa fa-arrow-right"></i>
                                            </button>
                                        </span>
                                    </td>
                                    <td>
                                        <ul>
                                            {% for cf in prod.custom_fields.all %}
                                                <li>{{ cf }}
                                                    <p hidden id="{{ cf.pk }}">{{ cf.help_text }}</p>
                                                </li>
                                            {% endfor %}
                                            {% if prod.is_package %}
                                                {% for component in prod.package.all %}
                                                    {% for cf in component.custom_fields.all %}
                                                        <li>{{ cf }}
                                                            <p hidden id="{{ cf.pk }}">{{ cf.help_text }}</p>
                                                        </li>
                                                    {% endfor %}
                                                {% endfor %}
                                            {% endif %}
                                        </ul>
                                    </td>
                                    <td>
                                        {% for price in prod.prices.all %}
                                            <span class="pull-right">{{ price|discount:org }}</span><br/>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <form id="order_form" action="{{ request.path }}" method="post">
                <div class="page-box">
                    {% crispy form %}
                </div>
                <div class="page-box">
                    <h4>Drop Products Here
                        <span class="badge pull-right fa fa-cart-plus"> </span>
                    </h4>
                    All fields below are mandatory
                    <div id="selected_products" ondrop="drop(event)" ondragover="allowDrop(event)">
                        &nbsp;
                    </div>
                </div>
                <div class="page-box">
                    <h4>Finalize and Submit</h4>
                    <div class="page-box">
                        <input type="submit" value="Submit" class="btn btn-primary" id="submit-id-submit">
                        <input type="button" name="cancel" value="Cancel" class="btn btn-default" id="button-id-cancel"
                               onclick="window.history.back()">
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block pagescripts %}
    {% leaflet_js plugins="forms" %}
    {{ block.super }}
    <script type="text/javascript">
        var mapsList = [];
        var boundary_layer;
        MyGeometryField = L.GeometryField.extend({
            addTo: function (map) {
                L.GeometryField.prototype.addTo.call(this, map);
                // Customize map for field
                boundary_layer = this;
                boundary_layer.drawnItems.setStyle({fillOpacity: 0.05});
            }
        });
        L.Map.addInitHook(function () {
            mapsList.push(this); // Use whatever global scope variable you like.
            this.on('click', function () {
                var hyb = L.gridLayer.googleMutant({
                    type: 'hybrid' // valid values are 'roadmap', 'satellite', 'terrain' and 'hybrid'
                }).addTo(this);
                this.panTo(this.getCenter());
                this._onResize();
                this.invalidateSize();
            });
            var a = this;
            setTimeout(function () {
                a.fireEvent("click");
            }, 2000);
        });
        (function ($) {
            $(document).ready(function () {
                $('.add-another').click(function (e) {
                    e.preventDefault();
                    showAddAnotherPopup(this);
                });
                $('.related-lookup').click(function (e) {
                    e.preventDefault();
                    showRelatedObjectLookupPopup(this);
                });

                // Added from GoogleMutant API
            });
        })(jQuery);

        function zoomTo() {
            var lat = document.getElementById("id_latitude").value;
            var lng = document.getElementById("id_longitude").value;
            mapsList[0].panTo(new L.LatLng(lat, lng));
        }


    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}" async defer></script>
    <script src='https://unpkg.com/leaflet.gridlayer.googlemutant@latest/Leaflet.GoogleMutant.js'></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            var oTable = $('.datatable').dataTable({
                order: [[0, "asc"], [1, "asc"]],
                paging: false,
                columnDefs: [
                    {
                        name: "category",
                        orderable: true,
                        searchable: true,
                        targets: [0]
                    },
                    {
                        name: "Product",
                        orderable: true,
                        searchable: true,
                        targets: [1]
                    }
                ],
                "processing": true,
                "serverSide": false
            });
            var prod = $("#id_easy_product").val();
            if (prod != "") {
                create_div_from_tr($("tr#" + prod));
            }
            var additional_data = $("#id_additional_data").val();
            if (additional_data === "null") {
                additional_data = {};
            } else {
                additional_data = JSON.parse($("#id_additional_data").val());
            }
            console.log(additional_data);
            Object.keys(additional_data).forEach(function (key) {
                //console.log(key, additional_data[key]);
                var tr = $("tr[id={0}]".formatUnicorn(key));
                console.log(tr);
                create_div_from_tr(tr);
                Object.keys(additional_data[key]).forEach(function (f) {
                    var textarea = $("textarea[id=text_{0}]".formatUnicorn(f));
                    textarea.text(additional_data[key][f]);
                });

            });
            $("#submit-id-submit").click(function (event) {
                event.preventDefault();
                additional_data = {};
                var complete = true;
                var prodids = [];
                var prods = $("div.product");
                prods.each(function (t) {
                    prod_data = {};
                    var texts = $(prods[t]).find("textarea");
                    texts.each(function (t) {
                        if (texts[t].value.trim() == "") {
                            complete = false;
                        }
                        prod_data[$(texts[t]).attr('id').substring(5)] = texts[t].value.trim();
                    });
                    additional_data[$(prods[t]).attr('id')] = prod_data;
                });

                console.log(additional_data);
                $("#id_additional_data").val(JSON.stringify(additional_data));
                if (prods.length === 0) {
                    alert("At least one product must be ordered")
                } else {
                    if (complete) {
                        $("#order_form").submit();
                    } else {
                        alert("Mandatory fields not filled in");
                    }
                }
            });
            $("button.prod_select").click(function (t) {
                var tr = $(t.target).parent().closest("tr");
                create_div_from_tr(tr);
            });
            if ($("#id_order_number").val() == "") {
                $("#id_order_number").val("{0}_temp".formatUnicorn(new Date().getTime()));
            }


        });
    </script>
    <script>
        String.prototype.formatUnicorn = String.prototype.formatUnicorn ||
            function () {
                "use strict";
                var str = this.toString();
                if (arguments.length) {
                    var t = typeof arguments[0];
                    var key;
                    var args = ("string" === t || "number" === t) ?
                        Array.prototype.slice.call(arguments)
                        : arguments[0];

                    for (key in args) {
                        str = str.replace(new RegExp("\\{" + key + "\\}", "gi"), args[key]);
                    }
                }

                return str;
            };

        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("text/plain", ev.target.id);
        }

        function formdiv_for_field(field) {
            var new_div = document.createElement("div");
            new_div.className = "form-group"
            obj = $(field);
            var fieldname = obj[0].innerText
            var fieldhelp = obj.children()[0].innerText;
            var fieldid = $(obj.children()[0]).attr('id');
            new_div.id = "{0}_info".formatUnicorn(fieldname);
            new_div.innerHTML = "\
        <label for=\"{2}\" class=\"control-label\">{0}</label>\
        <div class=\"controls \">\
            <textarea required type=\"text\" name=\"{0}\" class=\"form-control\" id=\"text_{2}\" rows=\"1\"></textarea>\
                <p id=\"hint_id_{0}\" class=\"help-block\">{1}</p>\
        </div>".formatUnicorn(fieldname, fieldhelp, fieldid);
            return (new_div);
        }

        function create_div_from_tr(table_row) {
            table_row.attr('draggable', 'false');
            $(table_row).find('button').prop("disabled", true);
            var imgtag = $(table_row).find("img");
            try {
                imgtag = imgtag[0].outerHTML;
            } catch (e) {
                imgtag = "";
            }
            console.log(imgtag);
            var new_div = document.createElement("div");
            new_div.id = table_row.attr('id');
            new_div.className = "page-box product";
            new_div.innerHTML = "<h4>" + imgtag + table_row.children()[1].children[0].innerText + " <button id='button_" + new_div.id + "' class='pull-right btn-bordered-danger'><i class='fa fa-trash'></i></button></h4>";
            //new_div.innerHTML += table_row.children()[1].children[0].innerText;
            var main_div = document.getElementById("selected_products");
            main_div.appendChild(new_div);
            field_list = $($(table_row.children()[2]).children()[0]);
            field_list_items = field_list.children().toArray();
            field_list_items.forEach(function (f) {
                //console.log(f);
                form_div = formdiv_for_field(f);
                new_div.appendChild(form_div);
            });
            $("button#button_" + new_div.id).click(deldiv);
        }

        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text/plain");
            var table_row = $("#" + data);
            create_div_from_tr(table_row);
        }

        function deldiv(evt) {
            var button = $(evt.target);
            var pdiv = button.parent().closest("div");
            //console.log(div);
            //console.log(div.attr('id'));
            var tr = "tr[id={0}]".formatUnicorn(pdiv.attr('id'));
            $(tr).attr('draggable', 'true');
            $(tr).find('button').prop("disabled", false);
            pdiv.remove();
        }

        function prepare_submit(e) {
            e.preventDefault();
        }
    </script>
{% endblock %}