{% extends "clients/fieldrecbase.html" %}
{% load static %}
{% load leaflet_tags %}
{% block extrahead %}
    {{ block.super }}
    <style>
        #order_birdsdeye {
            height: 80vh;
        }

        .leaflet-container {
            height: inherit !important;
        }
    </style>
{% endblock %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <div class="breadcromb-area">
                <div class="row">
                    <div class="col-md-6  col-sm-6">
                        <div class="seipkon-breadcromb-left">
                            <h3>Recent Orders</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="seipkon-breadcromb-right">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li>Recent Orders</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block dashcontent %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-box">
                <div id="order_birdsdeye">
                    {% leaflet_map "birdseye" callback="window.map_init" %}
                </div>
            </div>
        </div>
    </div>
    <div class="hidden">
        {% include "orders/order_popup_template.html" %}
    </div>
{% endblock %}

{% block pagescripts %}
    {{ block.super }}
    <script>
        function create_feature(object) {
            var poly = JSON.parse(object.boundary);
            poly.properties = object;
            let layer = L.geoJSON(poly, {
                style: featureStyle
            }).bindPopup(format_popup);
            return layer
        }

        $(document).ready(function () {
            {#let extent = mapsList[0].getBounds();#}
            {#let ext = `${extent._northEast.lat},${extent._northEast.lng},${extent._southWest.lat},${extent._southWest.lng}`;#}
            $.getJSON("{% url 'api_order_list_birdseye' %}", (data) => {
                var ftgroup = L.featureGroup();
                $.each(data, (idx, val) => {
                    let feature = create_feature(val);
                    ftgroup.addLayer(feature);
                });
                ftgroup.addTo(mapsList[0])
                mapsList[0].fitBounds(ftgroup.getBounds());
            });
        });
    </script>
{% endblock %}