{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% load humanize %}
{% load order_render %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}
{% block pagestyles %}
    {{ block.super }}
    {% leaflet_css plugins="forms" %}
    <link rel="stylesheet" href="{% static "assets/css/leaflet_custom.css" %}">
{% endblock %}
{% block breadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <div class="breadcromb-area">
                <div class="row">
                    <div class="col-md-6  col-sm-6">
                        <div class="seipkon-breadcromb-left">
                            <h3>Orders</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="seipkon-breadcromb-right">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li>
                                    <a href="{% url 'client_detail' pk=object.field.farm.client.pk %}">{{ object.field.farm.client }}</a>
                                </li>
                                <li>
                                    <a href="{% url 'farm_detail' pk=object.field.farm.pk %}">{{ object.field.farm.name }}</a>
                                </li>
                                <li><a href="{% url 'field_detail' pk=object.field.pk %}">{{ object.field.name }}</a>
                                </li>
                                <li>Order {{ object.order_number }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block dashcontent %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-box">
                <div class="panel-head">
                    <div class="col-md-6">
                        <h3>{{ object.order_number }} ({{ object.order_status }})</h3>

                    </div>
                    <div class="col-md-6">
                        <a href="{% url 'update_order' pk=object.pk %}" role="button"
                           {% if not allow_edit %}disabled{% endif %}
                           class="btn btn-sm btn-info pull-right">
                            <i class="fa fa-edit"></i> Edit</a>
                        {% if object.order_status.name == "published" or request.user.is_staff %}
                            <a href="?format=pdf" role="button"
                               title="Use this when you want to generate a trial report, but not save it"
                               class="btn btn-sm btn-success pull-right">
                                <i class="fa fa-list-ul"></i> Generate Report</a>
                            <a href="?format=pdf&save=1" role="button"
                               title="Use this when you want to save a copy"
                               class="btn btn-sm btn-warning pull-right">
                                <i class="fa fa-list-ul"></i> Generate & Save Report</a>
                            <a href="?format=pdf&cached=1" role="button"
                               title="Use this to get the last saved copy (much faster)"
                               class="btn btn-sm btn-info pull-right">
                                <i class="fa fa-list-ul"></i> Get Report</a>
                        {% endif %}
                        <a href="{% url 'work_order_detail' pk=object.pk %}" role="button"
                           class="btn btn-sm btn-primary pull-right">
                            <i class="fa fa-print"></i> Work Order</a>
                        {#                        <span class="pull-right">Price: {{ object.totalUSD }}</span><br>#}
                        <br><br><span class="pull-right">Created: {{ object.date_created }}</span>
                        <br><span class="pull-right">Modified: {{ object.date_modified }}</span>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            {% if object.field.is_located %}
                                <img src="https://maps.googleapis.com/maps/api/staticmap?maptype=hybrid&size=500x500&path=color:0xffff00ff|{{ object.field.google_path }}&key={{ google_api_key }}"/>
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <table class="table table-bordered table-striped">
                                <thead>

                                </thead>
                                <tbody>
                                <tr>
                                    <td>Client</td>
                                    <td><h4>{{ object.field.farm.client.contact }}</h4></td>
                                </tr>
                                <tr>
                                    <td>Farm / Field</td>
                                    <td><h5>Farm: {{ object.field.farm.name }}, Field: {{ object.field.name }}</h5><br>
                                        <table class="table table-condensed">
                                            <thead>
                                            <tr>
                                                <th>County</th>
                                                <th>Township</th>
                                                <th>Section</th>
                                                <th>Range</th>
                                                <th>Plat Name</th>
                                                <th>Lat/Long</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>{{ object.field.county }}, {{ object.field.state }}</td>
                                                <td>{{ object.field.township }}</td>
                                                <td>{{ object.field.section }}</td>
                                                <td>{{ object.field.range }}</td>
                                                <td>{{ object.field.plat_name }}</td>
                                                <td>{% if object.field.is_located %}
                                                    {{ object.field.boundary.centroid.coords.1|floatformat:6 }},
                                                    {{ object.field.boundary.centroid.coords.0|floatformat:6 }}
                                                {% endif %}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Order created by</td>
                                    <td>{% if object.created_by %}
                                            {{ object.created_by.user.person }}
                                        {% elif object.draftorder %}
                                            {{ object.draftorder.user.person }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Lab processor</td>
                                    <td>{{ object.lab_processor }}</td>
                                </tr>
                                {% if object.legacy_order %}
                                    <tr>
                                        <td>Reordered from</td>
                                        <td>{{ object.parent_order }}</td>
                                    </tr>
                                {% endif %}
                                {% if object.notes %}
                                    <tr>
                                        <td>Notes</td>
                                        <td>{{ object.notes }}</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>

                            <h4>Products</h4>
                            <br>
                            <ul>
                                {% if products %}
                                    {% for p in products %}
                                        <li><h4>{{ p.name }}</h4>
                                            {% if p.is_package %}
                                                <ol>
                                                    {% for subprod in p.package.all %}
                                                        <li><h5>{{ subprod.name }}</h5></li>
                                                        <ol>
                                                            {% for f in subprod.custom_fields.all %}
                                                                <li>{{ f }}: <b>{{ f|answer:object }}</b></li>
                                                            {% endfor %}
                                                        </ol>
                                                    {% endfor %}
                                                </ol>
                                            {% else %}
                                                <ol>
                                                    {% for f in p.custom_fields.all %}
                                                        <li>{{ f }}: <b>{{ f|answer:object }}</b></li>
                                                    {% endfor %}
                                                </ol>
                                            {% endif %}
                                            <ol>
                                                {% for f in p.custom_fields.all %}
                                                    <li>{{ f }}: <b>{{ f|answer:object }}</b></li>
                                                {% endfor %}
                                            </ol>
                                        </li>
                                        <br>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if object.order_status.name == "published" or request.user.is_staff %}
        <div class="row">
            <div class="col-md-12">
                <div class="page-box clearfix">
                    {% include "orders/stubs/product_report_block.html" %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="page-box">
                    <div class="panel-heading">
                        <h3>Report files associated with this order</h3>
                        <p>You can download an existing report from the list below. Clicking the "Generate & Save"
                            button above will generate a new report</p>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>File</th>
                                <th>Created</th>
                            </tr>

                            </thead>
                            <tbody>
                            {% for r in reports %}
                                <tr>
                                    <td><a href="{% url 'fieldevent_file' pk=r.pk %}">{{ r.file.name }}</a></td>
                                    <td>{{ r.created|naturaltime }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="page-box">
                    <div class="panel-heading">
                        <h3>Order Status Updates</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Update</th>
                            </tr>

                            </thead>
                            <tbody>
                            {% for fe in object.event_trail %}
                                <tr>
                                    <td>{{ fe.start }}</td>
                                    <td>{{ fe.details.title }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block pagescripts %}
    {% leaflet_js plugins="forms" %}
    {{ block.super }}
    <script src="{% static 'assets/js/googlemap.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}" async defer></script>
    <script src='https://unpkg.com/leaflet.gridlayer.googlemutant@latest/Leaflet.GoogleMutant.js'></script>
{% endblock %}