{% load static %}
<div>
    <table id="ordertable" class="table datatable table-responsive table-striped table-bordered">
        <thead>
        <th>Number</th>
        <th>Status</th>
        <th>Client</th>
        <th>Farm</th>
        <th>Field</th>
        <th>Created</th>
        <th>Modified</th>
        <th>Products</th>
        </thead>
        <tbody>
        </tbody>
    </table>
    <script>
        var actionurl = "{% url 'order_list_json' %}"
    </script>

    <div id="scheduleModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="schdmodal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <form id="modal-form">
                        {% csrf_token %}
                        <div class="modal-form-group">
                            <div class="form-group">
                                <label for="datetimepicker1">Date / Time and Duration (Click twice for start and
                                    end)</label>
                                <input type="text" id="datetimepicker1" class="form-control" value="">
                            </div>
                            <div class="form-group">
                                <label for="task">Describe the task</label>
                                <input type="text" id="task" value="NA" class="form-control">
                            </div>
                            <div class="form-group form-checkbox">
                                <input type="checkbox" checked="checked" id="done">
                                <label class="inline control-label" for="done">Mark as Done</label><br>
                                <small>Tasks marked done will no longer be editable</small>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="schdmodal-save" class="btn btn-primary">Save</button>
                    <button type="button" id="schdmodal-close" class="btn btn-default" data-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/js/orders.js' %}"></script>
</div>
