<div class="popup_template">
    <h4 class="popup_title"></h4>
    <div class="order"></div>
</div>
<div class="order_template">
    <hr>
    <a class="order_link" href="#"><h5>Order <span class="order"></span></h5></a>
    <span class="order_status"></span>
    <h5>Products</h5>
    <ul class="products"></ul>
</div>
<script>
    var featureStyle = function (feature) {
        return {color: "red"};
    }
    var format_popup = function (layer) {
        var popupDiv = $(".popup_template").clone();
        popupDiv.removeClass("popup_template");
        popupDiv.find(".popup_title").html(layer.feature.geometry.properties.name);
        var orders = popupDiv.find("div.order")
        $.each(layer.feature.geometry.properties.orders, (idx, order) => {
            var orddiv = $(".order_template").clone();
            orddiv.removeClass("order_template");
            orddiv.find("a.order_link").attr("href", `/orders/${order.id}`)
            orddiv.find('span.order').html(order.order_number);
            orddiv.find('span.order_status').html(order.order_status.name);
            var prods = "";
            $.each(order.products, (idx, prod) => {
                prods += `<li>${prod.name}</li>`;
            });
            orddiv.find('ul.products').html(prods);
            orders.append(orddiv);
        })
        return popupDiv.html();
    }
</script>