<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Print Labels</h4>
                <p id="order"></p>
            </div>
            <div class="modal-body">
                <form id="label-modal-form">
                    <div class="modal-form-group">
                        <div class="form-group">
                            <label for="num_samples">Number of Samples</label>
                            <input type="text" id="num_samples" value="30" class="form-control"><br>
                        </div>
                        <div class="form-group">
                            <label for="start">Starting Number</label>
                            <input type="text" id="start" value="1" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal-save" class="btn btn-primary">Make Labels</button>
                <button type="button" id="modal-close" class="btn btn-default" data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>