{% load static %}
<div>
    <table id="samplertable" class="table datatable table-responsive table-striped table-bordered">
        <thead>
        <th>Number</th>
        <th>Status</th>
        <th>Client</th>
        <th>Farm</th>
        <th>Field</th>
        <th>Created</th>
        <th>Modified</th>
        </thead>
        <tbody>
        </tbody>
    </table>
    <script src="{% static 'assets/js/samplerslist.js' %}"></script>
    <script>
        var samplerurl = "{% url 'sampler_list_json' %}";
    </script>
</div>