{% load static %}
{% load contact_extras %}
{% load order_render %}
{% load product_extras %}

<html>
<head>
    <style>
        @media print {
            div {
                margin-bottom: -1px;
            }

            body {
                font-family: 'Roboto', sans-serif;
                font-size: 12px;
                line-height: 24px;
                color: #000000;
                font-weight: 400;
                background: white;
            }

            img {
                max-height: 100%;
                max-width: 100%;
            }

            [class*="col-"] {
                display: inline-block;
            }

            .col-12 {
                width: 100%;
            }

            .col-8 {
                width: 66%;
            }

            .col-4 {
                width: 33%;
            }

            a[href]:after {
                display: none;
                visibility: hidden;
            }

            body {
                transform: scale(1);
                margin: 0;
            }

            @page {
                size: 8.5in 11in;   /* auto is the initial value */
                /* this affects the margin in the printer settings */
                margin: 10mm 10mm 10mm 10mm;
            }

            table {
                page-break-inside: auto;
                border-collapse: collapse;
                border: 1px solid #8a8a8a;
                border-spacing: 0;
                width: 100%;
            }

            table.titleblock,
            td.titleblock {
                border: none !important;
                border-spacing: 0;
                width: 100%;
                vertical-align: middle;
                text-align: center;
            }

            table.orderblock,
            td.orderblock {
                vertical-align: middle;
                text-align: right;
                padding-right: 8px;
                font-size: 12pt;
            }

            td {
                border: 1px solid #8a8a8a;
                padding-left: 4px;
            }

            th.table-heading {
                padding-left: 4px;
            }

            td.entry-heading {
                font-size: 8pt;
                font-style: italic;
                line-height: 24px;
                min-width: 70px;
            }

            td.data-entry {
                font-size: 8pt;
                line-height: 24px;
                min-width: 140px;
            }


            td.blank {
                line-height: 24px;

            }

            td.question {
                font-size: 9pt;
                line-height: 24px;
                text-align: center;
            }

            .nopadding {
                padding: 0px !important;
                margin: 0px !important;
            }

            ul {
                margin-left: 4px;
            }
            li {
                font-size: 8pt;
                line-height: 14px;
                margin-left: 4px;
            }
        }
    </style>
</head>
<body>
<!--        Work Order Heading-->
<div>
    <div class="col-8">
        <table class="titleblock">
            <tr class="titleblock">
                <td class="titleblock"><h2>Department of Crop Sciences<br>
                    University of Illinois at Urbana-Champaign</h2></td>
            </tr>
        </table>
    </div>
    <div class="col-4">
        <table>
            <tr>
                <td>
                    <strong>#{{ object.order_number }}</strong>&nbsp;({{ object.order_status }})
                </td>
            </tr>
            <tr>
                <td>{{ object.date_created }}</td>
            </tr>
            <tr>
                <td><h2>INVOICE</h2></td>
            </tr>
        </table>
    </div>
</div>
<p></p>
<!--        Billing Information -->
<div class="col-12 nopadding">
    <div class="col-4 nopadding">
        <table width="100%" border="2px" cellpadding="2" cellspacing="0">
            {% with object|billing_org:org as billing %}
                <thead>
                <th class="table-heading">{{ billing.name }}</th>
                </thead>
                {% with billing|format_address as address %}
                    {% if address %}
                        <tr>
                            <td class="data-entry">{{ address.street }}</td>
                        </tr>
                        <tr>
                            <td class="data-entry">{{ address.city|default:"&nbsp;" }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="data-entry">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="data-entry">&nbsp;</td>
                        </tr>
                    {% endif %}
                {% endwith %}
                {% with billing|primary_email as email %}
                    {% if email %}
                        <tr>
                            <td class="data-entry">{{ email }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="data-entry">&nbsp;</td>
                        </tr>
                    {% endif %}
                {% endwith %}
                {% with billing|primary_phone as phone %}
                    {% if phone %}
                        <tr>
                            <td class="data-entry">{{ phone }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="data-entry">&nbsp;</td>
                        </tr>
                    {% endif %}
                {% endwith %}
                <tr>
                    <td class="data-entry">&nbsp;</td>
                </tr>
            {% endwith %}
        </table>
    </div>
    <div class="col-8 nopadding">
        <table>
            <thead>
            <th colspan="3" class="table-heading">Billing Information</th>
            </thead>
            <tbody>
            <tr>
                <td class="entry-heading">Account</td>
                <td class="entry-heading">Code</td>
                <td class="entry-heading">Activity</td>
            </tr>
            <tr>
                <td class="data-entry">&nbsp;</td>
                <td class="data-entry">&nbsp;</td>
                <td class="data-entry">&nbsp;</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Products table -->
<h3>Products and Services</h3>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Item</th>
        <th>Cost/unit</th>
        <th>Units</th>
        <th>Cost</th>
    </tr>
    </thead>
    <tbody>
    {% if object.products.all %}
        {% for p in object.products.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    {% if p.is_package %}
                        {{ p.name }} (Pkg)
                        <ul>
                            {% for subprod in p.package.all %}
                                <li>{{ subprod.name }}</li>
                                <ul>
                                    {% for f in subprod.custom_fields.all %}
                                        <li>{{ f }}: <b>{{ f|answer:object }}</b></li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </ul>
                        {% if p.custom_fields %}
                            <ul>
                                {% for f in p.custom_fields.all %}
                                    <li>{{ f }}: <b>{{ f|answer:object }}</b></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% else %}
                        {{ p.name }}
                        <ul>
                            {% for f in p.custom_fields.all %}
                                <li>{{ f }}: <b>{{ f|answer:object }}</b></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
                <td>
                    {% for price in p.prices.all %}
                        {{ price|discount:org }}
                    {% endfor %}
                </td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="5">No products and services selected</td>
        </tr>
    {% endif %}
    <tr>
        <td colspan="4"><h3>TOTAL</h3></td>
        <td>&nbsp;</td>
    </tr>
    </tbody>
</table>
</body>
</html>