{% load static %}
{% load i18n %}
{% load cache %}
<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="google" content="notranslate">
<meta http-equiv="Content-Language" content="en">


<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', '{{ GATrackerID }}');</script>
    <!-- End Google Tag Manager -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="SoilDx Labcore"/>
    {% block meta-keywords %}
        <meta name="keywords" content=""/>
    {% endblock %}
    <meta name="author" content="Soil Diagnostics, Inc.">
    {% block meta %}
    {% endblock %}
    <!-- Title -->
    <title>SoilDx Labcore</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "assets/img/favicon/favicon.ico" %}">
    {% block pagestyles %}
        <!-- Animate CSS -->
        <link rel="stylesheet" href="{% static "assets/css/animate.min.css" %}">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static "assets/plugins/bootstrap/bootstrap.min.css" %}">
        <!-- Font awesome CSS -->
        <link rel="stylesheet" href="{% static "assets/css/all.min.css" %}">
        <!-- Perfect Scrollbar CSS -->
        <link rel="stylesheet" href="{% static "assets/plugins/perfect-scrollbar/perfect-scrollbar.min.css" %}">
        <!-- Daterange CSS -->
        <link rel="stylesheet" href="{% static "assets/plugins/daterangepicker/css/daterangepicker.css" %}">
        <!-- Bootstrap-select CSS -->
        <link rel="stylesheet" href="{% static "assets/plugins/bootstrap-select/css/bootstrap-select.min.css" %}">
        <!-- Main CSS -->
        <link rel="stylesheet" href="{% static "assets/css/seipkon.css" %}">
        <link rel="stylesheet" href="{% static "assets/css/tables.css" %}">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="{% static "assets/css/responsive.css" %}">
        <link rel="stylesheet" type="text/css"
              href="https://cdn.datatables.net/v/bs/dt-1.10.20/b-1.6.1/b-html5-1.6.1/datatables.min.css"/>

    {% endblock %}
    {% block extrahead %}
    {% endblock %}
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id={{ GATrackerID }}"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- Start Page Loading -->
{% block loader %}
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
{% endblock %}
<!-- End Page Loading -->

<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Main Header Start -->
    <header class="main-header">

        <!-- Logo Start -->
        {% if not request.user.is_anonymous %}
            <div class="seipkon-logo">
                <a href="/">
                    {% if orgimage %}
                        <img src="{{ orgimage }}" alt="logo">
                    {% else %}
                        <p>No logo for {{ org }}</p>
                    {% endif %}
                </a>
            </div>
        {% endif %}
        <!-- Logo End -->

        <!-- Header Top Start -->
        {% cache 600 navbar request.user.username %}
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="header-top-section">
                        {% if request.user.is_authenticated %}
                            <div class="pull-left">
                                <button type="button" id="sidebarCollapse" class=" navbar-btn">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <!-- Header Top Search Start -->
                                <div class="header-top-search">
                                    <form method="get" action="{% url 'zinnia:entry_search' %}">
                                        <input type="text" name="pattern" class="form-control"
                                               placeholder="{% trans "Search articles..." %}"
                                               {% if pattern %}value="{{ pattern }}"{% endif %}/>
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                                <!-- Header Top Search End -->
                            </div>
                            <div class="header-top-right-section pull-right">
                                {% include "dashboard/top_right_nav_buttons.html" %}
                            </div>
                        {% else %}
                            <div class="pull-left">

                            </div>
                            <div class="header-top-right-section pull-right">
                                <ul class="nav nav-pills nav-top navbar-right">
                                    <!-- Full Screen Btn Start -->
                                    <li>
                                        <a href="#" id="fullscreen-button">
                                            <i class="fa fa-expand-arrows-alt"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/dashboard" id="dashboard">
                                            <i class="fa fa-tachometer-alt"></i>
                                            Login
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </nav>
        {% endcache %}
        <!-- Header Top End -->
    </header>
    <!-- Main Header End -->

    <!-- Sidebar Start -->
    {% cache 600 dashsidebar request.user.username %}
        {% block dashsidebar %}
            <aside class="seipkon-main-sidebar">
                <nav id="sidebar">
                    <!-- Sidebar Profile Start -->

                    {% if not request.user.is_anonymous %}
                        <div class="sidebar-profile clearfix">
                            <div class="profile-avatar">{% if request.user.person.image %}
                                <img src="{{ request.user.person.image.url }}" alt="profile"/>
                            {% else %}
                                <img src="{% static 'assets/img/default_user.png' %}" alt="profile"/>
                            {% endif %}
                            </div>
                            <div class="profile-info">
                                <h3>{{ request.user.person.name }}</h3>
                                <p>{{ orguser.organization.name }}</p>
                            </div>
                        </div>
                        <!-- Sidebar Profile End -->

                        <!-- Menu Section Start -->
                        <div class="menu-section">
                            <h3>General</h3>
                            {% include "dashboard/nav_components.html" %}
                        </div>
                    {% else %}
                        <div class="menu-section">
                            <h3>General</h3>
                            {% include "dashboard/nav_components_logged_out.html" %}
                        </div>
                    {% endif %}

                    <!-- Menu Section End -->
                </nav>
            </aside>
        {% endblock %}
    {% endcache %}
    <!-- End Sidebar -->

    <!-- Right Side Content Start -->
    <section id="content" class="seipkon-content-wrapper">
        <div class="page-content">
            <div class="container-fluid">
                <!-- Breadcromb Row Start -->
                {% block breadcrumb %}

                {% endblock %}
                <!-- End Breadcromb Row -->
                <div class="col-md-12">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                {% block dashcontent %}

                {% endblock %}
            </div>
        </div>

        <!-- Footer Area Start -->
        <footer class="seipkon-footer-area">
            <p><a href="/">{{ org }}</a><br>Web development by <a href="http://soildiagnostics.com">Soil Diagnostics,
                Inc.</a></p>
        </footer>
        <!-- End Footer Area -->

    </section>
    <!-- End Right Side Content -->
    <input id="id_labcorecsrf" hidden value="{{ csrf_token }}">
    <input id="id_labcoreicon" hidden value="{% static "assets/img/square_Icon.png" %}">
</div>
<!-- End Wrapper -->


<!-- jQuery -->
<script src="{% static 'assets/js/jquery-3.1.0.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/tooltip.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/bootstrap.min.js' %}"></script>
<!-- Bootstrap-select JS -->
<script src="{% static 'assets/plugins/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
<!-- Daterange JS -->
<script src="{% static 'assets/plugins/daterangepicker/js/moment.min.js' %}"></script>
<script src="{% static 'assets/plugins/daterangepicker/js/daterangepicker.js' %}"></script>
<!-- Datatables JS -->
{#<script src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script>#}

<script type="text/javascript"
        src="https://cdn.datatables.net/v/bs/dt-1.10.20/b-1.6.1/b-html5-1.6.1/datatables.min.js"></script>
<script src="{% static 'assets/js/datetime.js' %}"></script>
<script src="{% static 'assets/js/perfect-scrollbar.jquery.js' %}"></script>
<!-- Vue JS -->
<!-- Dashboard JS -->
<script src="{% static 'assets/js/dashboard.js' %}"></script>
<!-- Custom JS -->
<script src="{% static 'assets/js/seipkon.js' %}"></script>
<script>
    var roomname = '{{ request.user.username }}';
    var chatSocket;
    var message_queue = [];
    $(document).ready(function () {
        setTimeout(function () {
            if (roomname != "") {
                chatconnect(roomname);
            }
        }, 3000);
    });
</script>
<!-- Page JS here -->
{% block pagescripts %}

{% endblock %}
<!-- end Page JS -->

</body>


</html>