{% extends "dashboard/dashboard_base.html" %}
{% load static %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <div class="breadcromb-area">
                <div class="row">
                    <div class="col-md-6  col-sm-6">
                        <div class="seipkon-breadcromb-left">
                            <h3>Dashboard</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="seipkon-breadcromb-right">
                            <ul>
                                <li><a href="/">home</a></li>
                                <li>dashboard</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% include "common/announcements_stub.html" %}
        </div>
    </div>
{% endblock %}
{% block dashcontent %}
    {% if "Dealer" in roles or user.person.client or user.person.company.client %}
        <div class="row">
            <div class="col-md-12">
                <div class="page-box">
                    <div class="panel-heading">
                        <h3>View Open Orders and Initiate Reorders</h3>
                    </div>
                    <div class="panel-body">
                        {% include "orders/orders_table.html" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="page-box">
                    <div class="panel-heading">
                        <h3>Edit Clients, Farms and Fields</h3>
                        {% if "Dealer" in roles %}
                            <a class="btn btn-success" href="/clients/add/">
                                <i class="fa fa-plus"></i>
                                or Add New Client
                            </a>
                        {% endif %}
                    </div>

                    <div class="panel-body">
                        {% include "clients/fields_table.html" %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if "Sampler" in roles %}
        <div class="row">
            <div class="col-md-12">
                <div class="page-box">
                    <div class="panel-heading">
                        <h3>View Sampling Assignments</h3>
                    </div>
                    <div class="panel-body">
                        {% include "orders/samplers_table.html" %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if user.person.client %}
        <div class="row">
            <div class="col-md-12">
                <div class="page-box">
                    <div class="panel-heading">
                        <h3>My Field Events</h3>
                    </div>
                    <div class="panel-body">
                        {% include "clients/fieldevents_table.html" with client=user.person.client %}
                    </div>
                </div>
            </div>
        </div>
    {% elif user.person.company.client %}
        <div class="row">
            <div class="col-md-12">
                <div class="page-box">
                    <div class="panel-heading">
                        <h3>My Company's Field Events</h3>
                    </div>
                    <div class="panel-body">
                        {% include "clients/fieldevents_table.html" with client=user.person.company.client %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% include "orders/printlinks.html" %}
{% endblock %}
