{{ block.super }}
<script type="text/javascript">
    var mapsList = [];
    L.Map.addInitHook(function () {
        mapsList.push(this); // Use whatever global scope variable you like.
        this.on('click', function() {
            var hyb = L.gridLayer.googleMutant({
            type: 'hybrid' // valid values are 'roadmap', 'satellite', 'terrain' and 'hybrid'
            }).addTo(this);
            this.panTo(this.getCenter());
            this._onResize();
            this.invalidateSize();
        });
        var a = this;
        setTimeout(function() {a.fireEvent("click");}, 2000);
    });
    (function($) {
        $(document).ready(function() {
            $('.add-another').click(function(e) {
                e.preventDefault();
                showAddAnotherPopup(this);
            });
            $('.related-lookup').click(function(e) {
                e.preventDefault();
                showRelatedObjectLookupPopup(this);
            });

            // Added from GoogleMutant API
        {% if adminform and add %}
            $('form#{{ opts.model_name }}_form :input:visible:enabled:first').focus()
        {% endif %}
        });
    })(grp.jQuery);
</script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key={{ GOOGLE_API_KEY }}" async defer></script>
<script src='https://unpkg.com/leaflet.gridlayer.googlemutant@latest/Leaflet.GoogleMutant.js'></script>