{% load cache %}
{% cache 600 navcomponents request.user.username %}
<ul class="list-unstyled components">
    <li class="{% ifequal request.path '/dashboard/' %} active {% endifequal %}">
        <a href="/dashboard/">
            <i class="fa fa-tachometer-alt"></i>
            Dashboard
        </a>
    </li>
{#    <li class="{% ifequal request.path '/clients/' %} active {% endifequal %}">#}
{#        <a href="/clients/">#}
{#            <i class="fa fa-headset"></i>#}
{#            Clients List#}
{#        </a>#}
{#    </li>#}
    {% comment %}
    <li>
        <a href="#clients" data-toggle="collapse" aria-expanded="false">
            <i class="fa fa-headset"></i>
            <a href="{% url 'client_list' %}">Clients</a>
        </a>
        <ul class="collapse list-unstyled" id="clients">
            <li><a href="{% url 'client_list' %}">Clients</a></li>
            <li><a href="{% url 'field_list' %}">Fields</a></li>
        </ul>
    </li>
    {% endcomment %}
    <li>
        <a href="#clients" data-toggle="collapse"
           class="{% if '/clients/' in request.path %} active {% endif %}"
           aria-expanded="{% if "/clients/" in request.path %}true{% else %}false{% endif %}">
            <i class="fa fa-headset"></i>
            Clients
        </a>
        <ul class="{% if not "/clients/" in request.path %}collapsed collapse{% endif %} list-unstyled" id="clients">
            <li class="{% ifequal request.path '/clients/' %} active {% endifequal %}">
                <a href="/clients/">
                    Clients List
                </a>
            </li>
            <li class="{% ifequal request.path '/clients/spatial/' %} active {% endifequal %}">
                <a href="/clients/spatial/">Bird's Eye View</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#products" data-toggle="collapse"
           aria-expanded="{% if "/products/" in request.path %}true{% else %}false{% endif %}">
            <i class="fa fa-box-open"></i>
            Products
        </a>
        <ul class="{% if not "/products/" in request.path %}collapsed collapse{% endif %} list-unstyled" id="products">
            <li class="{% ifequal request.path '/products/' %} active {% endifequal %}">
                <a href="{% url 'category_list' %}">Available Products</a></li>
            {% if request.user.is_superuser %}
                <li class="{% ifequal request.path '/products/svx/' %} active {% endifequal %}">
                    <a href="{% url 'svx_products' %}">SVX Products</a>
                </li>
            {% endif %}
        </ul>
    </li>
    {% comment %}

    {% if 'fertisaverN.add_filledsample' in permissions %}
        <li>
            <a href="#fertisaverN" data-toggle="collapse"
               aria-expanded="{% if "/fertisaverN/" in request.path %}true{% else %}false{% endif %}">
                <i class="fa fa-leaf"></i>
                FertiSaver-N
            </a>
            <ul class="{% if "/fertisaverN/" in request.path %}true{% else %}collapsed collapse{% endif %} list-unstyled"
                id="fertisaverN">
                <li class="{% if '/filling/' in request.path %} active {% endif %}"><a href="{% url 'filling' %}">Filling
                    Station</a></li>
                {% if 'fertisaverN.add_samplescan' %}
                    <li class="{% if '/reading/' in request.path %} active {% endif %}"><a href="{% url 'reading' %}">Reading
                        Station</a></li>
                {% endif %}
                {% if 'fertisaverN.view_calibratedread' %}
                    <li class="{% if '/data/' in request.path %} active {% endif %}"><a href="{% url 'data' %}">Data
                        View</a></li>
                {% endif %}
                {% if 'fertisaverN.add_calibratedread' %}
                    <li class="{% if '/calibration/' in request.path %} active {% endif %}"><a
                            href="{% url 'calibrate' %}">Calibrate</a></li>
                {% endif %}
            </ul>
        </li>
    {% endif %}
    <li>
        <a href="#orders" data-toggle="collapse" aria-expanded="false">
            <i class="fa fa-chart-line"></i>
            Orders
        </a>
        <ul class="collapse list-unstyled" id="orders">
            <li><a href="{% url 'order_list' %}">List Orders</a></li>
        </ul>
    </li>
    {% endcomment %}
    <li class="{% ifequal request.path '/articles/' %} active {% endifequal %}">
        <a href="/articles/">
            <i class="fa fa-newspaper"></i>
            Articles
        </a>
    </li>
    <li class="{% ifequal request.path '/inventory/' %} active {% endifequal %}">
        <a href="/inventory/">
            <i class="fa fa-tractor"></i>
            Inventory
        </a>
    </li>
    <li class="{% ifequal request.path '/bugs/' %} active {% endifequal %}">
        <a href="/bugs/">
            <i class="fa fa-bug"></i>
            Report bugs
        </a>
    </li>
    {% if orguser %}
        <li>
            <a href="#admin" data-toggle="collapse"
               aria-expanded="{% if "/meetings/" in request.path or "/associates/" in request.path %}true{% else %}false{% endif %}">
                <i class="fa fa-toolbox"></i>
                Staff Area
            </a>
            <ul class="collapsed collapse {% if "/meetings/" in request.path or "/associates/" in request.path %}in{% endif %} list-unstyled"
                id="admin">
                {% if user.is_staff %}
                    <li><a href="/admin/">Admin</a></li>
                    <li class="{% ifequal request.path '/meetings/' %} active {% endifequal %}"><a href="/meetings/">Meeting
                        Reports</a></li>
                {% endif %}
                <li class="{% ifequal request.path '/associates/' %} active {% endifequal %}"><a
                        href="{% url 'team_members' %}">Team</a></li>
            </ul>
        </li>
    {% endif %}
</ul>
{% endcache %}