{% load cache %}
{% cache 3600 logoutnav %}
<ul class="list-unstyled components">
    <li "{% ifequal request.path '/dashboard/'%} active {% endifequal%}">
    <a href="/dashboard/">
        <i class="fa fa-tachometer-alt"></i>
        Dashboard
    </a>
    </li>
</ul>
{% endcache %}