{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% load humanize %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <div class="breadcromb-area">
                <div class="row">
                    <div class="col-md-6  col-sm-6">
                        <div class="seipkon-breadcromb-left">
                            <h3>Permissions for user id {{ object.pk }}</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="seipkon-breadcromb-right">
                            <ul>
                                <li><a href="/">home</a></li>
                                <li>dashboard</li>
                                <li>{{ object.pk }}</li>
                                <li>Permissions</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block dashcontent %}
    <div class="row">
        <div class="col-md-6">
            <div class="page-box">
                <div class="panel-heading">
                    <h2>{{ object.first_name }} {{ object.last_name }}</h2>
                </div>
                <div class="panel-heading">
                    <h3>Username: {{ object.username }}</h3>
                    <p>Last Login: {{ object.last_login }}</p>
                    <p>Active: {{ object.is_active }}, Staff: {{ object.is_staff }}</p>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Person Record</td>
                            <td>ID {{ object.person.pk }}, {{ object.person }}</td>
                        </tr>
                        <tr>
                            <td>Company</td>
                            <td>ID {{ object.person.company.pk }}, {{ object.person.company }}</td>
                        </tr>
                        <tr>
                            <th colspan="2">Associated Organization</th>
                        </tr>
                        <tr>
                            <td>Organization User</td>
                            <td>ID {{ organizationuser.pk }}, {{ organizationuser }}</td>
                        </tr>
                        <tr>
                            <td>Organization Roles</td>
                            <td>{{ organizationuser.organization.roles.all|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>Organization Primary</td>
                            <td>{{ organizationuser.organization.owner }}</td>
                        </tr>
                        <tr>
                            <th colspan="2">
                                Client Records
                            </th>
                        </tr>
                        <tr>
                            <td>User's Client Record</td>
                            <td>ID {{ clientrec.pk }}, {{ clientrec }}</td>
                        </tr>
                        <tr>
                            <td>User's Company's Client Record</td>
                            <td>ID {{ company_client.pk }}, {{ company_client }}</td>
                        </tr>
                        <tr>
                            <th colspan="2">View Permissions</th>
                        </tr>
                        {% for url, status in view_permissions.items %}
                            <tr>
                                <td>{{ url }}</td>
                                <td>{% if status == 200 %}OK{% else %}{{ status }}{% endif %}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <th colspan="2">HallPass Privileges</th>
                        </tr>
                        {% for hp in hallpasses %}
                            <tr>
                                <td>Field {{ hp.field.id }}, {{ hp.field }}</td>
                                <td>{{ hp.expiry|naturaltime }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>HallPass Order(s)</td>
                            <td>{{ hallpassOrder|join:"," }}</td>
                        </tr>
                        <tr>
                            <th colspan="2">Draft Orders</th>
                        </tr>
                        {% for hp in draftorders %}
                            <tr>
                                <td>Field {{ hp.field.id }}, {{ hp.field }}</td>
                                <td>Draft Order {{ hp }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="page-box">
                <div class="panel-heading">
                    <h4>Properties</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-bordered">
                        <tr>
                            <th>Farm</th>
                            <th>Fields</th>
                        </tr>
                        {% for farm in farms %}
                            <tr>
                                <td>{{ farm.name }}</td>
                                <td>{% for field in farm.fields.all %}{{ field.name }}<br>{% endfor %}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
