{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="SoilDx Labcore"/>
    {% block meta-keywords %}
    {% endblock %}
    <meta name="author" content="Soil Diagnostics, Inc.">
    {% block meta %}
    {% endblock %}
    <!-- Title -->
    <title>{% block pagetitle %}PDF Report for {{ object.order_number }}{% endblock %}</title>
    {% block pagestyles %}
        <!-- Main CSS -->
        <link rel="stylesheet" href="{% static "assets/css/seipkon_print.css" %}">
        <link rel="stylesheet" href="{% static "assets/css/tables_print.css" %}">
    {% endblock %}
    {% block extrahead %}
    {% endblock %}
</head>
<body>
{% block headfoot %}

{% endblock %}
<div>
    {% block dashcontent %}

    {% endblock %}
</div>
<!-- End Wrapper -->


<!-- jQuery -->
{% block pagescripts %}
{% endblock %}

</body>


</html>