{% load static %}
{% load humanize %}
<ul class="nav nav-pills nav-top navbar-right">

    <!-- Full Screen Btn Start -->
    <li>
        <a href="#" id="fullscreen-button">
            <i class="fa fa-expand-arrows-alt"></i>
        </a>
    </li>
    <!-- Full Screen Btn End -->

    <!-- Message Toggle Start -->
    <li class="dropdown">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
            <i class="fa fa-bell"></i>
            <span id="notification_messages">{{ announcements.count }}</span>
        </a>
        <div class="message-box dropdown-menu animated bounceIn">
            <div class="message-header">
                <h4>System Notifications</h4>
                <a id="dismiss-notifications" href="#">Dismiss</a>
            </div>
            <div class="message-body">
                <ul id="message-list">
                    {% for message in announcements %}
                        <li>
                            <a href="#" class="single-notification">
                                <div class="notification-img bg_yellow">
                                    <i class="fa fa-comment"></i>
                                </div>
                                <div class="notification-txt">
                                    <h4>{{ message }}</h4>
                                    <span>Posted {{ message.start|naturaltime }}</span>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </li>
    <!-- Message Toggle Start -->

    <!-- Notification Toggle Start -->
    <!--li class="dropdown">
        <a class="dropdown-toggle cart-icon" href="#" data-toggle="dropdown">
            <i class="fa fa-bell"></i>
            {% if messages %}
            <span>{{ messages.len }}</span>
            {% endif %}
        </a>
        <div class="notification-box dropdown-menu animated bounceIn">
            <div class="notification-header">
                <h4>{{ messages.len|default:0 }}  new messages</h4>
            </div>
            <div class="notification-body">
                <ul>
                    {% for message in messages %}
                    <li>
                        <a href="#" class="single-notification">
                            {% if message.tags == messages.INFO %}
                            <div class="notification-img bg_blue">
                                <i class="fa fa-info"></i>
                            </div>
                            {% endif %}
                            {% if message.tags == messages.SUCCESS %}
                            <div class="notification-img bg_green">
                                <i class="fa fa-thumbs-up"></i>
                            </div>
                            {% endif %}
                            {% if message.tags == messages.ERROR %}
                            <div class="notification-img bg_red">
                                <i class="fa fa-exclamation-triangle"></i>
                            </div>
                            {% endif %}
                            {% if message.tags == messages.WARNING %}
                            <div class="notification-img bg_yellow">
                                <i class="fa fa-exclamation"></i>
                            </div>
                            {% endif %}
                            {% if message.tags == messages.DEBUG %}
                            <div class="notification-img bg_yellow">
                                <i class="fa fa-bug"></i>
                            </div>
                            {% endif %}
                            <div class="notification-txt">
                                <h4>{{ message }}</h4>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% comment %}
            <div class="notification-footer">
                <a href="#"><i class="fa fa-angle-down"></i>see all notification</a>
            </div>
            {% endcomment %}
        </div>
    </--li>
    <!-- Notification Toggle End -->

    <!-- Profile Toggle Start -->
    {% if not request.user.is_anonymous %}
        <li class="dropdown">
            <a class="dropdown-toggle profile-toggle" href="#" data-toggle="dropdown">
                {% if request.user.person.image %}
                    <img src="{{ request.user.person.image.url }}" alt="profile" class="profile-avator"/>
                {% else %}
                    <img src="{% static 'assets/img/default_user.png' %}" alt="profile" class="profile-avator"/>
                {% endif %}
                <div id="profile_button" class="profile-avatar-txt">
                    <p>{{ user.person }}</p>
                    <i class="fa fa-angle-down"></i>
                </div>
            </a>
            {% if request.user.person.pk %}
                <div class="profile-box dropdown-menu animated bounceIn">
                    <ul>
                        <li><a id="profile_link" href="{% url 'person_detail' pk=request.user.person.pk %}"><i class="fa fa-edit"></i>View
                            Profile</a></li>
                        <li><a href="{% url 'logout' %}"><i class="fa fa-power-off"></i>Sign Out</a></li>
                    </ul>
                </div>
            {% endif %}
        </li>
    {% endif %}
    <!-- Profile Toggle End -->

</ul>