{% extends "dashboard/dashboard_base.html" %}
{% load static %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <div class="breadcromb-area">
                <div class="row">
                    <div class="col-md-6  col-sm-6">
                        <div class="seipkon-breadcromb-left">
                            <h3>Calibration Details</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="seipkon-breadcromb-right">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="#">FertiSaver-N</a></li>
                                <li>Calibration Details</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block dashcontent %}
    <div class="row">
        <div class="col-md-6">
            <div class="page-box">
                <div class="panel-heading">
                    <h4 class="m-t-none" id="device_name">{{ object.bright_read.reading_station }}</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Reading</th>
                            <th>Value</th>
                            <th>Sample Organic N</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Dark read brightness</td>
                            <td>{{ object.dark_read.get_value }}</td>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <td>Bright read brightness</td>
                            <td>{{ object.bright_read.get_value }}</td>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <td>Standard 0 color index</td>
                            <td>{{ object.get_cal_points.chromic_index.0 }}</td>
                            <td>{{ object.get_cal_points.isnt.0 }}</td>
                        </tr>
                        <tr>
                            <td>Standard 1 color index</td>
                            <td>{{ object.get_cal_points.chromic_index.1 }}</td>
                            <td>{{ object.get_cal_points.isnt.1 }}</td>
                        </tr>
                        <tr>
                            <td>Standard 2 color index</td>
                            <td>{{ object.get_cal_points.chromic_index.2 }}</td>
                            <td>{{ object.get_cal_points.isnt.2 }}</td>
                        </tr>
                        <tr>
                            <td>Standard 3 color index</td>
                            <td>{{ object.get_cal_points.chromic_index.3 }}</td>
                            <td>{{ object.get_cal_points.isnt.3 }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="page-box">
                <div class="panel-heading">
                    <h4 class="m-t-none">Calibration Curve</h4>
                </div>
                <div class="panel-body">
                    <small>Straighter lines are better</small>
                    <div id="placeholder" style="width:100%;height:300px">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="page-box">
                <div class="panel-heading">
                    <h4 class="m-t-none">Model</h4>
                    <a href="{% url 'delete_calibration' pk=object.pk %}"
                       class="btn btn-danger btn-xs pull-right" role="button">Delete</a>
                        {{ object.model }}
                    </p>
                </div>
                <div class="panel-body">
                    <h4>Regression details:</h4>
                    <div class="panel-body">
                        <pre>{{ object.summary }}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block pagescripts %}
    <script src="{% static "assets/plugins/flot/jquery.flot.js"%}"></script>
    <script src="{% static "assets/js/jquery.flot.axislabels.js"%}"></script>
    <script src="{% static "fsnscripts/calibrate.js"%}"></script>
    <script>
        make_plot({{ object.get_cal_vector }});
    </script>
{% endblock %}