{% extends "fertisaverN/devices.html" %}
{% load static %}

{% block device_input_form %}
    <form name="calibration_form" novalidate id="calibration_form" action="#" method="post">
        {% csrf_token %}
        <div class="text-center m-b-md" id="wizardControl">
            <a class="btn btn-primary" href="#step1" data-toggle="tab">1: Sensor zero</a>
            <a class="btn btn-default" href="#step2" data-toggle="tab">2: Standard samples</a>
            <a class="btn btn-default" href="#step3" data-toggle="tab">3: Approval</a>
        </div>

        <div class="tab-content">
            <div id="step1" class="p-m tab-pane active">
                <div class="row">
                    <div class="col-lg-3 text-center">
                        <i class="pe-7s-sun fa-3x text-muted" id="icon_sun"></i>
                        <p class="small m-t-md">
                            <strong>Sensor health</strong> <br/><br/>
                            Let's make sure the sensor is working correctly first. Place the
                            <strong>Sensor check</strong> jar on the scanner and place the scanner
                            in the 'read' position.
                        </p>
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="form-group col-lg-12">
                                <label>Sensor Check Jar</label>
                                <input type="" value="" id="id_jar" class="form-control" name="id_jar">
                            </div>
                            <div class="form-group col-lg-12">
                                <label>Dark read
                                    <small>(Please ignore this value. It is used in sensor calibrations)</small>
                                </label>
                                <input type="" value="" id="dark_read" class="form-control" name="dark_read">
                            </div>
                            <div class="form-group col-lg-12">
                                <label>Bright read
                                    <small>(Please ignore this value. It is used in sensor calibrations)</small>
                                </label>
                                <input type="" value="" id="bright_read" class="form-control" name="bright_read">
                            </div>
                            <input type="hidden" value="" id="dark_read_raw" class="form-control" name="dark_read_raw">
                            <input type="hidden" value="" id="bright_read_raw" class="form-control"
                                   name="bright_read_raw">
                            <input type="hidden" value="" id="raw_reading" class="form-control" name="raw_reading">
                            <input type="hidden" value="" id="reading_station_id" class="form-control"
                                   name="reading_station_id">
                            <input type="hidden" value="" id="sample_read" class="form-control" name="sample_read">
                        </div>
                    </div>
                </div>

                <div class="text-right m-t-xs">
                    <a class="btn btn-primary" href="#" id="reset_form">Reset Form</a>
                    <a class="btn btn-default prev" href="#">Previous</a>
                    <a class="btn btn-default next" href="#">Next</a>
                </div>
            </div>
            <div id="step2" class="p-m tab-pane">

                <div class="row">
                    <div class="col-lg-3 text-center">
                        <i class="pe-7s-config fa-3x text-muted"></i>
                        <p class="small m-t-md">
                            <strong>Calibration</strong> <br/><br/>
                            Let's look at reference samples now. Proceed to scanning the reference samples as normal.
                            Order of the standard samples does not matter.
                        </p>
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="form-group col-lg-12">
                                <label>Standard 0</label>
                                <input type="" value="" id="standard_0" class="form-control" name="standard_0">
                            </div>
                            <div class="form-group col-lg-12">
                                <label>Standard 1</label>
                                <input type="" value="" id="standard_1" class="form-control" name="standard_1">
                            </div>
                            <div class="form-group col-lg-12">
                                <label>Standard 2</label>
                                <input type="" value="" id="standard_2" class="form-control" name="standard_2">
                            </div>
                            <div class="form-group col-lg-12">
                                <label>Standard 3</label>
                                <input type="" value="" id="standard_3" class="form-control" name="standard_3">
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 col-sm-offset-2">
                                    <button class="btn" id="standard_check">Check</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right m-t-xs">
                    <a class="btn btn-default prev" href="#">Previous</a>
                    <a class="btn btn-default next" href="#">Next</a>
                </div>

            </div>
            <div id="step3" class="tab-pane">
                <div class="row text-center m-t-lg m-b-lg">
                    <div class="col-lg-12">
                        <i id="calibration_check" class="fa fa-3x fa-times-circle"></i>
                        <div id="calibration_results"><p>Everything looks good!</p></div>
                        <p class="small m-t-md">
                            <strong>Use this calibration</strong> for future readings with your FertiSaver-N Reading
                            Station?<br/>
                            If you don't, this calibration will be evaluated, but will not be stored.
                        </p>
                    </div>
                    <div class="checkbox col-lg-12">
                        <input type="checkbox" class="i-checks approveCheck" name="approve">
                        Yes!
                    </div>
                </div>
                <div class="text-right m-t-xs">
                    <a class="btn btn-default prev" href="#">Previous</a>
                    <a class="btn btn-default next" href="#">Next</a>
                    <a class="btn btn-success submitWizard" href="#">Submit</a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% if request.user.is_staff %}
    {% block tuning %}
        <div class="form-group">
            <div class="col-sm-12">
                <h5>Sensor tuning controls</h5>
                <button class="btn" id="sensor_check">Check</button>
                <button class="btn" id="dark_threshold">Dark tuning</button>
                <button class="btn" id="bright_threshold">Bright tuning</button>
                <div id='tuning'>
                    <p>
                        Dark and Bright tuning is required only if you observe the scanner not behaving correctly.
                        This generally occurs if you significantly change the illumination level in
                        your workspace.
                    </p>
                </div>
            </div>
        </div>
    {% endblock %}
{% endif %}

{% block calgraph %}
    <h4>Calibration curve</h4>
    <small>Straighter lines are better</small>
    <div id="placeholder" style="width:100%;height:300px">
    </div>
{% endblock %}


{% block last_readings %}
    <table id="calibration_table" class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Device</th>
            <th>Calibration date</th>
            <th>Calibrated by</th>
            <th>Model</th>
        </tr>
        </thead>
        <tbody>
        {% for read in last_readings %}
            <tr>
                <td>{{ read.dark_read.reading_station.name }}</td>
                <td>{{ read.date }}</td>
                <td>{{ read.dark_read.read_by.name }}</td>
                {% if read.active %}
                    <td>{{ read.model }}
                        <a href="{% url 'details_calibration' pk=read.pk %}" class="btn btn-info btn-xs pull-right"
                           role="button">Details</a>
                        <a href="{% url 'delete_calibration' pk=read.pk %}" class="btn btn-danger btn-xs pull-right"
                           role="button">Delete</a>
                    </td>
                {% else %}
                    <td>Deleted: {{ read.model }}
                        <a href="{% url 'details_calibration' pk=read.pk %}" class="btn btn-info btn-xs pull-right"
                           role="button">Details</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block device_table %}
    <table id="readingstation_devices" class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Serial number</th>
            <th>Name</th>
            <th>Last calibrated</th>
        </tr>
        </thead>
        <tbody>
        {% for device in devices %}
            <tr>
                <td>{{ device.serial_number }}</td>
                <td>{{ device.name }}</td>
                <td>{{ device.last_calibrated.date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block devscripts %}
    {{ block.super }}
    <script src="{% static "assets/plugins/flot/jquery.flot.js" %}"></script>
    <script src="{% static "assets/js/jquery.flot.axislabels.js" %}"></script>
    <script src="{% static "fsnscripts/calibrate.js" %}"></script>
{% endblock %}