{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% block pagestyles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "assets/plugins/daterangepicker/css/daterangepicker.css" %}"/>
{% endblock %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <div class="breadcromb-area">
                <div class="row">
                    <div class="col-md-6  col-sm-6">
                        <div class="seipkon-breadcromb-left">
                            <h3>FertiSaver-N Data View</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="seipkon-breadcromb-right">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="#">FertiSaver-N</a></li>
                                <li>Data View</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block dashcontent %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-box">
                <div class="panel-heading">
                    <h4 class="m-t-none" id="device_name">Calibrated Readings</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="input-daterange input-group col-lg-6">
                                <input type="text" class="input-sm form-control" name="range" id="datepicker"/>
                                <input type="text" class="hidden" name="start" id="start"/>
                                <input type="text" class="hidden" name="end" id="end"/>
                            </div>
                        </div>
                    </div>
                    <table id="calibrated_readings" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Sample ID</th>
                            <th>FS-N</th>
                            <th>Filled at</th>
                            <th>Filled by</th>
                            <th>Weight (g)</th>
                            <th>Read at</th>
                            <th>Read by</th>
                            <th>Calibration date</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}

    <!-- DataTables -->
    {{ block.super }}
    <!-- App scripts -->
    <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="{% static "fsnscripts/fsn_data.js"%}"></script>
    <script src="{% static "assets/plugins/daterangepicker/js/daterangepicker.js" %}"></script>

{% endblock %}