{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% block pagestyles %}
    {{ block.super }}
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/pcngagajhlocaamcdoableokimllkacl">
{% endblock %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <div class="breadcromb-area">
                <div class="row">
                    <div class="col-md-6  col-sm-6">
                        <div class="seipkon-breadcromb-left">
                            <h3>{{ formtype }}</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="seipkon-breadcromb-right">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="#">FertiSaver-N</a></li>
                                <li>{{ formtype }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block dashcontent %}
    <div class="row">
        <div class="col-md-6">
            <div class="page-box">
                <div class="panel-heading">
                    <h4 class="m-t-none" id="device_name">Device Name</h4>
                </div>
                <div class="panel-body">
                    <small>
                        Instructions: {{ device.instructions }}
                    </small>
                    {% block device_input_form %}

                    {% endblock %}
                    <div id=results></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="page-box">
                <div class="panel-heading">
                    <h4 class="m-t-none" id="device_name">Device Status</h4>
                </div>
                <div class="panel-body">
                    <div class="pull-right">
                        <button class="btn btn-xs" id="button_active">Unavailable!</button>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <small class="stat-label">Port (refresh if blank)</small>
                            <select class="form-control" id="ports_list">
                            </select>
                        </div>
                        <div class="col-xs-6">
                            <small class="stat-label">Device type</small>
                            <h4 id="device_type">???</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <button type="button" class="btn btn-info-outline" id="info_button">Connect</button>
                            <button onclick="chrome.webstore.install()" id="install-button" type="button" class="btn btn-success">Add to Chrome</button>
                        </div>
                        <div class="col-xs-6">
                            <small class="stat-label">Serial number</small>
                            <h4 id="serial_status">???<i class="fa text-success"></i></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div id="serial_message" class="row"></div>
                    </div>
                    <div class="row">
                        {% block tuning %}
                        {% endblock %}
                    </div>
                </div>
                <div class="panel-body">
                    {% block calgraph %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="page-box">
                <div class="panel-heading">
                    <h4 class="m-t-none" id="device_name">Last Few Readings</h4>
                </div>
                <div class="panel-body">
                    {% block last_readings %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    {% block device_status %}
        <div class="row">
            <div class="col-md-12">
                <div class="page-box">
                    <div class="panel-heading">
                        <h4 class="m-t-none" id="device_name">Available Devices</h4>
                    </div>
                    <div class="panel-body">
                        {% block device_table %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}

{% block pagescripts %}

    <!-- DataTables -->
    <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.11/sorting/datetime-moment.js"></script>
    <script src="{% static "fsnscripts/serial.js"%}"></script>
    <script src="{% static "fsnscripts/device.js"%}"></script>
    <!-- App scripts -->

    {% block devscripts %}
    {% endblock %}

{% endblock %}