{% extends "fertisaverN/devices.html" %}
{% load static %}

{% block device_input_form %}
    <form method="post" action="#" class="form-horizontal" id="post-form">
        {% csrf_token %}
        {{ form_msg }}
        {% for field in form %}
            <div class="form-group"><label class="col-sm-3 control-label">{{ field.label }}</label>
                <div class="col-sm-8"><input type= "text" id="{{ field.auto_id }}" class="form-control" value="{{ field.value|default_if_none:'' }}">{{ form.sample_id.errors }}</div>
                {{ field.errors }}
            </div>
        {% endfor %}
        <input type= "hidden" id="filling_station_id" class="form-control" value="FS00001">
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
                <button class="btn btn-default" id="reset_form">Reset Form</button>
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
            <div class="col-sm-8 col-sm-offset-2">
                <label class="radio-inline">
                    <input type="radio" name="optradio" checked="checked" value="manual">Manual
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio" value="autoincrement">Autoincrement
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio" value="barcodes">Barcodes
                </label>
            </div>
        </div>
    </form>
{% endblock %}

{% block last_readings %}
    <div class="table-responsive">
        <table id="fillingstation" class="table datatable table-striped table-bordered">
            <thead>
            <th>Sample ID</th>
            <th>Fill date</th>
            <th>Filled by</th>
            <th>Weight (g)</th>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block device_table %}
    <table id="fillingstation_devices" class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Serial number</th>
            <th>Brand</th>
            <th>Model</th>
        </tr>
        </thead>
        <tbody>
        {% for filler in fillers %}
            <tr>
                <td>{{filler.name}}</td>
                <td>{{filler.serial_number}}</td>
                <td>{{filler.template.brand}}</td>
                <td>{{filler.template.model}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block devscripts %}
    {{ block.super }}
    <script src="{% static "fsnscripts/cookie.js"%}"></script>
    <script src="{% static "fsnscripts/filling.js"%}"></script>
{% endblock %}