{% extends "fertisaverN/devices.html" %}
{% load static %}

{% block device_input_form %}
    <form method="post" action="#" class="form-horizontal" id="post-form">
        {% csrf_token %}
        {{ form_msg }}
        {% for field in form %}
            <div class="form-group"><label class="col-sm-3 control-label">{{ field.label }}</label>
                <div class="col-sm-8"><input type= "text" id="{{ field.auto_id }}" class="form-control" value="{{ field.value|default_if_none:'' }}">{{ form.sample_id.errors }}</div>
                {{ field.errors }}
            </div>
        {% endfor %}
        <input type= "hidden" id="reading_station_id" class="form-control" value="">
        <input type= "hidden" id="raw_reading" class="form-control" value="">
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
                <button class="btn btn-default" type="cancel" id="reset_form">Reset Form</button>
                <button class="btn btn-primary" type="submit">Save</button>
                <button class="btn btn-primary" type="submit" id="manual_read">Manual</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block last_readings %}
    <table id="readingstation" class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Lab ID</th>
            <th>Read date</th>
            <th>FS-N number
                <span class="label label-success pull-right">0-3; 3=Great!</span>
            </th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block device_table %}
    {% if scanners %}
        <table id="readingstation_devices" class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Serial number</th>
                <th>Name</th>
                <th>Last calibrated</th>
            </tr>
            </thead>
            <tbody>
            {% for device in scanners %}
                <tr>
                    <td>{{ device.serial_number }}</td>
                    <td>{{ device.name }}</td>
                    <td>{{ device.last_calibration }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block devscripts %}
    {{ block.super }}
    <script src="{% static "fsnscripts/reading.js"%}"></script>
{% endblock %}