{% if announcements %}
    <div class="row">
        <div class="col-sm-12" style="text-align: center">
            {% for announcement in announcements %}
                <div class="panel panel-{{ announcement.get_css_display }}">
                    <div class="panel-heading">
                        {{ announcement.get_css_display|capfirst }}: {{ announcement.message }}
                    </div>
                    {% if announcement.url %}
                        <div class="panel-body">
                            &nbsp;<a href="{{ announcement.url }}">Click HERE for more information</a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}