{% extends "dashboard/dashboard_base.html" %}
{% block dashcontent %}
    <!-- Error Page Area Start -->
    <div class="row">
        <div class="container-fluid">
            <div class="error-page-box">
                <h2>{% block errorcode %}404{% endblock %}</h2>
                <h4>{% block errortext %}Page not found{% endblock %}</h4>
                <h4>If you believe this is a bug, please file a Bug Report <a href="/bugs/"><u>here</u></a>
                </h4>
                <p>{% block errordescription %}The URL may be misplaced or the page you are looking is no
                    longer
                    available.{% endblock %}</p>
            </div>
        </div>
    </div>
    <!-- Error Page Area End -->
{% endblock %}
