{% if form.errors %}
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading panel-danger">
                <h4>Errors on form</h4>
            </div>
            <div class="panel-body">
                {{ form.errors }}
            </div>
        </div>
    </div>
{% endif %}