{% if form.non_form_errors %}
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading panel-danger">
                <h4>Validation error</h4>
            </div>
            <div class="panel-body">
                {{ form.non_form_errors }}
            </div>
        </div>
    </div>
{% endif %}