<div class="{{ groupclass }}">
    <label class="control-label">{{ cf.name }}{% if cf.required %}*{% endif %}</label><br>
    <div class="controls">
        {% for option in cf.options.all %}
            <div class="{{ cf.get_field_type_display }}">
                <label><input type="{{ cf.get_field_type_display }}" value="{{ option.pk }}"
                              {% if option.name == value or option.name in value %}checked{% endif %}
                              name="custom_field_{{ cf.pk }}">
                {{ option.name }}
                </label>
            </div>
        {% endfor %}
        <div class="help-block">{{ cf.help_text }}</div>
    </div>
</div>
