{% spaceless %}
    <div class="{{ groupclass }}">
        <div class="controls">
            <label for="custom_field_{{ cf.pk }}" class="control-label">
                {{ cf.name }}{% if cf.required %}*{% endif %}</label>
            <input type="{{ cf.get_field_type_display }}"
                   id=custom_field_{{ cf.pk }}"
                   {% if classes %}class="{{ classes }}"{% endif %}
                   name="custom_field_{{ cf.pk }}"
                   value="{{ value }}"
                   {% if cf.required %}required{% endif %}>
            <div class="help-block">{{ cf.help_text }}</div>
        </div>
    </div>
{% endspaceless %}