# 'admin/order_intermediate.html'
{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <h1>
            Apply formulas to Soil Test Data on the following orders?
        </h1>
        <p>Select a Formula from available formulas:
            A new Lab Measurement for will be created for the Test Parameter defined in the output of the Formula</p>
        <div>
            {% for order in orders %}
                <h2>{{ order }}, ({{ order.order_status }})</h2>
                <input type="hidden" name="_selected_action" value="{{ order.pk }}"/>
                <table>
                    <tr>
                        <th>Requirements</th>
                        <th>Values</th>
                    </tr>
                    <tr>
                        <td>Originator > Client > Farm > Field</td>
                        <td>{{ order.field }}</td>
                    </tr>
                    <tr>
                        <td>Samples</td>
                        <td>Total: {{ order.num_samples }}, from {{ order.sample_range.0 }}
                            to {{ order.sample_range.1 }}</td>
                    </tr>
                    <tr>
                        <td>Parameters</td>
                        <td>{{ order.all_parameters|join:", " }}</td>
                    </tr>
                    <tr>
                        <td>Sample Points File</td>
                        <td>{{ order.field.sample_points_url|default_if_none:"Not Available!!" }}</td>
                    </tr>
                    <tr>
                        <td>Select Formula(s) to apply</td>
                        <td>
                            <table>
                                <tr>
                                    <th>Select</th>
                                    <th>Description</th>
                                    <th>Input Parameters</th>
                                    <th>Output Parameter</th>
                                </tr>
                                {% for formula in formulas %}
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="{{ formula.id }}"
                                                   name="{{ order.id }}" value="{{ formula.id }}">
                                        </td>
                                        <td>{{ formula.name }}<br>{{ formula.description }}</td>
                                        <td>{{ formula.input_parameters }}</td>
                                        <td>{{ formula.output_parameter }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                </table>

            {% endfor %}

            <input type="hidden" name="action" value="apply_formula"/>
        </div>
        <div class="submit-row">
            <input type="submit" name="apply" class="default" value="Confirm and Proceed"/>
            <a href="javascript:history.back()" class="deletelink">{% trans "No, take me back" %}</a>
        </div>
    </form>
{% endblock %}