{% extends "admin/change_list.html" %}
{% load humanize %}
{% block content_title %}
    <h1> Sales Summary </h1>
    {% if product %}
    <h2>Product: {{ product }}</h2>
    {% endif %}
{% endblock %}
{% block result_list %}
    <div class="results">
        <table>
            <thead>
            <tr>
                <th>
                    <div class="text">
                        <a href="#">Originator</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Orders</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#"># Samples</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Total Acreage</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">
                            <strong>% Of Total Acreage</strong>
                        </a>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            {% if summary %}
                {% for row in summary %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td> {{ row.created_by__organization__name }} </td>
                        <td> {{ row.total | intcomma }} </td>
                        <td> {{ row.total_samples | intcomma }}</td>
                        <td> {{ row.total_acres | default:0 | intcomma }}</td>
                        <td>
                            <strong>
                                {% if not row.total_acres %}
                                    Not calculated
                                {% else %}
                                    {% widthratio row.total_acres summary_total.total_acres 100 %}%
                                {% endif %}
                            </strong>
                        </td>
                    </tr>
                {% endfor %}
                <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
                    <td> Organizations: {{ summary|length }} </td>
                    <td> {{ summary_total.total | intcomma }} </td>
                    <td> {{ summary_total.total_samples | intcomma }} </td>
                    <td> {{ summary_total.total_acres | default:0 | intcomma }}</td>
                    <td>
                        <strong>
                            {% if not summary_total.total_acres %}
                                Not calculated
                            {% else %}
                                {% widthratio summary_total.total_acres summary_total.total_acres 100 %}%
                            {% endif %}
                        </strong>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100%">No data</td>
                </tr>
            {% endif %}
            </tbody>

        </table>
    </div>
    <script type="text/javascript">
        if (!$) {
            $ = django.jQuery;
        }
        $(document).ready(function () {
            $('select.form-control').select2();
        });

    </script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
{% endblock %}
{% block pagination %}{% endblock %}