{% extends "admin/change_list.html" %}
{% load humanize %}
{% block content_title %}
    <h1> Sampler Assignment Summary {% if sampler %}for {{ sampler }}{% endif %}</h1>
{% endblock %}
{% block result_list %}
    <div class="results">
        <table id="result_list">
            <thead>
            <tr>
                <th>
                    <div class="text">
                        <a href="#">Sampler</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Orders</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Samples</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Approx Acres</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">GPS Acres</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">
                            <strong>% Of Total Acreage</strong>
                        </a>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            {% if summary %}
                {% for row in summary %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td> {{ row.sampler }} </td>
                        <td> {{ row.total | intcomma }} </td>
                        <td> {{ row.total_samples | default:0 | intcomma }}</td>
                        <td> {{ row.total_acres | default:0 | intcomma }}</td>
                        <td> {{ row.gps_acres | default:0 | intcomma }}</td>
                        <td>
                            <strong>
                                {% if not row.total_acres %}
                                    Not calculated
                                {% else %}
                                    {% widthratio row.total_acres summary_total.total_acres 100 %}%
                                {% endif %}
                            </strong>
                        </td>
                    </tr>
                {% endfor %}
                <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
                    <td> Samplers: {{ summary|length }} </td>
                    <td> {{ summary_total.total | intcomma }} </td>
                    <td> {{ summary_total.total_samples | default:0 | intcomma }}</td>
                    <td> {{ summary_total.total_acres | default:0 | intcomma }}</td>
                    <td> {{ summary_total.total_gpsacres | default:0 | intcomma }}</td>
                    <td>
                        <strong>
                            {% if not summary_total.total_acres %}
                                Not calculated
                            {% else %}
                                {% widthratio summary_total.total_acres summary_total.total_acres 100 %}%
                            {% endif %}
                        </strong>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100%">No data</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        {% if samplers_orders %}
            <h2>Assigned Orders</h2>
            <table>
                <thead>
                <tr>
                    <th>Order</th>
                    <th>Created</th>
                    <th>Originator</th>
                    <th>Client: Farm: Field</th>
                    <th>Location</th>
                    <th># Samples</th>
                    <th>Approx Acres</th>
                    <th>GPS Acres</th>
                </tr>
                </thead>
                <tbody>
                {% for o in samplers_orders %}
                    <tr>
                        <td>{{ o.order_number }}<br>({{ o.order_status }})</td>
                        <td>{{ o.date_created|date:"m/d/y" }}</td>
                        <td>{{ o.created_by.organization }}</td>
                        <td>{{ o.field.farm.client.contact }}:
                            {{ o.field.farm }}:
                            {{ o.field.name }}</td>
                        <td>{{ o.field.county }}, {{ o.field.state }}</td>
                        <td>{{ o.num_samples }}</td>
                        <td>{{ o.field.area }}</td>
                        <td>{{ o.sampleregistry_set.first.gps_acres }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <h2>Summary</h2>
            <table id="result_list">
            <thead>
            <tr>
                <th>
                    <div class="text">
                        <a href="#">Sampler</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Orders</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Samples</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Approx Acres</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">GPS Acres</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">
                            <strong>% Of Total Acreage</strong>
                        </a>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            {% if summary %}
                {% for row in summary %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td> {{ row.sampler }} </td>
                        <td> {{ row.total | intcomma }} </td>
                        <td> {{ row.total_samples | default:0 | intcomma }}</td>
                        <td> {{ row.total_acres | default:0 | intcomma }}</td>
                        <td> {{ row.gps_acres | default:0 | intcomma }}</td>
                        <td>
                            <strong>
                                {% if not row.total_acres %}
                                    Not calculated
                                {% else %}
                                    {% widthratio row.total_acres summary_total.total_acres 100 %}%
                                {% endif %}
                            </strong>
                        </td>
                    </tr>
                {% endfor %}
                <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
                    <td> Samplers: {{ summary|length }} </td>
                    <td> {{ summary_total.total | intcomma }} </td>
                    <td> {{ summary_total.total_samples | default:0 | intcomma }}</td>
                    <td> {{ summary_total.total_acres | default:0 | intcomma }}</td>
                    <td> {{ summary_total.total_gpsacres | default:0 | intcomma }}</td>
                    <td>
                        <strong>
                            {% if not summary_total.total_acres %}
                                Not calculated
                            {% else %}
                                {% widthratio summary_total.total_acres summary_total.total_acres 100 %}%
                            {% endif %}
                        </strong>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100%">No data</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        {% endif %}
    </div>
    <script type="text/javascript">
        if (!$) {
            $ = django.jQuery;
        }
        $(document).ready(function () {
            $('select.form-control').select2();
        });

    </script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
{% endblock %}
{% block pagination %}{% endblock %}