# 'admin/soildata_intermediate.html'
{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <h1>
            Create GIS Layers for Soil Test Data on the following orders?
        </h1>
        <p>Select GIS Layer from available layers:
            A new layer will be created using the geospatial features of the selected layer</p>
        <div>
            {% for order in orders %}
                <h2>{{ order }}, ({{ order.order_status }})</h2>
                <input type="hidden" name="_selected_action" value="{{ order.pk }}"/>
                <table>
                    <tr>
                        <th>Requirements</th>
                        <th>Values</th>
                    </tr>
                    <tr>
                        <td>Originator > Client > Farm > Field</td>
                        <td>{{ order.field }}</td>
                    </tr>
                    <tr>
                        <td>Samples</td>
                        <td>Total: {{ order.num_samples }}, from {{ order.sample_range.0 }}
                            to {{ order.sample_range.1 }}</td>
                    </tr>
                    <tr>
                        <td>Parameters</td>
                        <td>{{ order.all_parameters|join:", " }}</td>
                    </tr>
                    <tr>
                        <td>Sample Points File</td>
                        <td>{{ order.field.sample_points_url|default_if_none:"Not Available!!" }}</td>
                    </tr>
                    <tr>
                        <td>Select Layer to Copy</td>
                        <td>
                            <table>
                                <tr>
                                    <th>Select</th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Fields</th>
                                </tr>
                                {% for layer in order.eligible_layers %}
                                    <tr>
                                        <td>
                                            <input type="radio" id="{{ layer.id }}"
                                                   name="{{ order.id }}"
                                                   value="{{ layer.id }}">
                                        </td>
                                        <td>{{ layer.id }}</td>
                                        <td>{{ layer.name }}</td>
                                        <td>{{ layer.dbf_field_names.field_names|join:", " }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>Create Recommendation Draft</td>
                        <td>
                            <h3>Create Layer</h3>
                            <table>
                                <tr>
                                    <td><input type="checkbox"
                                               id="create_rec_{{ order.id }}"
                                               name="create_rec_{{ order.id }}" checked></td>
                                    <td>Yes (Will attempt to copy in pH, P and K values from the layer selected above)
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="text" id="name_rec_{{ order.id }}"
                                               name="name_rec_{{ order.id }}"
                                               value="Draft Recommendation {{ order }}"
                                               style="width: 300px"></td>
                                    <td>Name of the Layer</td>
                                </tr>
                            </table>
                            <h3>Choose Yield</h3>
                            <table>
                                <tr>
                                    <th>Select Yield</th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Value</th>
                                </tr>
                                {% for layer in order.field.layer.all %}
                                    {% if 'Yld_Vol_Dr' in layer.dbf_field_names.field_names or 'nccpi3corn' in layer.dbf_field_names.field_names or 'nccpi2cs' in layer.dbf_field_names.field_names %}
                                        <tr>
                                            <td>
                                                <input type="radio" id="yld_{{ layer.id }}"
                                                       name="yld_{{ order.id }}"
                                                       value="{{ layer.id }}">
                                            </td>
                                            <td>{{ layer.id }}</td>
                                            <td>{{ layer.name }}
                                                {% if layer.name == "Soil Survey Data" %}
                                                    (Will use scaling formula to estimate yield)
                                                {% endif %}
                                            </td>
                                            <td>{{ layer.dbf_field_names.field_names|join:", " }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                <tr>
                                    <td>
                                        <input type="radio" id="yld_fixed"
                                               name="yld_{{ order.id }}"
                                               value="yld_fixed" checked>
                                    </td>
                                    <td>NA</td>
                                    <td>Use fixed value</td>
                                    <td>
                                        <input type="text" id="yld_value" name="yld_value_{{ order.id }}"
                                               value="200">
                                    </td>
                                    </td>
                                </tr>
                            </table>
                            <h3>Apply Formulas in Draft Recommendation</h3>
                            <table>
                                <tr>
                                    <th>Select</th>
                                    <th>Description</th>
                                    <th>Input Parameters</th>
                                    <th>Output Parameter</th>
                                    <th>Scalars</th>
                                </tr>
                                {% for formula in formulas %}
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="formula_{{ formula.id }}"
                                                   name="formula_{{ order.id }}" value="{{ formula.id }}">
                                        </td>
                                        <td><strong>{{ formula.name }}</strong><br>{{ formula.description }}</td>
                                        <td>
                                            {% for input in formula.inputs.all %}
                                                {{ input }}<br>
                                            {% endfor %}
                                        </td>
                                        <td>{{ formula.output }}</td>
                                        <td>
                                            {% for scalar in formula.scalar_defaults.all %}
                                                <label for="scalar_{{ formula.id }}_{{ scalar.test_parameter.name }}">
                                                    {{ scalar.test_parameter.name }}</label>&nbsp;
                                                <input type="text"
                                                       id="scalar_{{ formula.id }}_{{ scalar.test_parameter.name }}"
                                                       name="scalar_{{ formula.id }}_{{ scalar.test_parameter.name }}"
                                                       value="{{ scalar.default_value }}"><br>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                </table>

            {% endfor %}

            <input type="hidden" name="action" value="make_layers_from_soildata"/>
        </div>
        <div class="submit-row">
            <input type="submit" name="apply" class="default" value="Confirm and Proceed"/>
            <a href="javascript:history.back()" class="deletelink">{% trans "No, take me back" %}</a>
        </div>
    </form>
{% endblock %}