{% extends "dashboard/dashboard_base.html" %}
{% load static %}

{% block loader %}
{% endblock %}

{% block dashcontent %}
    <div class="page-box">
        <img src="{% static 'assets/img/header.jpg' %}">
    </div>
    <div class="page-box">
        <div class="row">
            <div class="col-sm-8">
                <img src="{% static 'assets/img/SoilDiagnosticsLogo.png' %}">
                <h3>Helping growers manage their most valuable asset: Soil!</h3>
                <br>
                <ul>
                    <li class="card-text">Are you a crop adviser who wants to <b>make a difference</b> to your clients' profitability?
                    </li>
                    <li class="card-text">Are you looking for tools to help growers utilize their existing data to <b>manage their
                        production
                        risk</b>?
                    </li>
                    <li class="card-text">Do you feel that <b>growers deserve better</b> than what they currently get from their input
                        dealers?
                    </li>
                    <li class="card-text">Do you believe that a grower's profitability is closely aligned to the ideals of <b>environmental
                        sustainability</b>?
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h2 class="mt-4">Let's Talk!</h2>
                <address class="card-text">
                    <strong>Soil Diagnostics, Inc.,</strong>
                    <br>14 Oak Court
                    <br>Champaign, IL 61822
                    <br>
                </address>
                <address class="card-text">
                    <abbr title="Phone">P:</abbr>
                    (217) 721 6032
                    <br>
                    <abbr title="Email">E:</abbr>
                    <a href='ma&#105;l&#116;o&#58;%&#54;9&#110;f%6F&#64;%73&#37;6Fil&#100;i&#97;gnos%&#55;4i&#37;63&#115;&#46;com'>&#105;&#110;f&#111;&#64;so&#105;&#108;diagnostic&#115;&#46;&#99;&#111;m</a>
                </address>
            </div>
        </div>
    </div>
    <div class="page-box">
        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <img src="{% static 'assets/img/AddingField.png' %}">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Map your client's fields</h3>
                        <br>
                        <p class="card-text">Use the latest technologies to manage your business database.
                            Map your clients' farms, fields
                            and other facilities. Map them directly or import them as ESRI Shapefiles.
                            Direct connectivity with proprietary formats coming soon.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-box">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Keep good records</h3>
                        <br>
                        <p class="card-text">Use the Field Events module to document all the action
                            that happens on the field. A nifty drag-and-drop interface allows you to
                            capture more data without filling tedious forms. Direct integration with
                            weather and nutrient loss monitoring means that you get field specific insights
                            as the growing season progresses.
                        </p>
                        <p class="card-text">Use this information in negotiating rents or land sale values,
                            or to file crop insurance paperwork. Integration with insurance filing and
                            manure registration coming soon.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="card">
                    <img src="{% static 'assets/img/FieldEvents.png' %}">
                </div>
            </div>
        </div>
    </div>
    <div class="page-box">
        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <img src="{% static 'assets/img/GISInsight.png' %}">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Analyze Field Variability</h3>
                        <br>
                        <p class="card-text">Use our proprietary algorithm that allows you
                            to generate field variability analysis on your clients' entire land portfolio, one
                            field at a time using their existing yield, planting, as applied and soil / plant test data.
                        </p>
                        <p class="card-text">Show them where their fields are vulnerable to loss, where they need better drainage,
                            or where they could chase higher yields. Help them understand the interplay between
                            the lay of the land, the soil biology and their management practices and the impact
                            on their bottom line.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-box">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Make Recommendations</h3>
                        <br>
                        <p class="card-text">Help growers become more profitable through optimized
                            placement of fertilizer. Work with a partner lab providing the
                            Soil Diagnostics, Inc. <i>FertiSaver-N</i> test that uses multiple soil
                            chemistry parameters to determine where you can save fertilizer and where
                            you can boost yields.
                        </p>
                        <p class="card-text">Combining soil test results with field variability analysis is a
                        powerful new way to exploit your precision agriculture equipment
                        for maximum profitability. </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="card">
                    <img src="{% static 'assets/img/NRec.png' %}">
                </div>
            </div>
        </div>
    </div>

{% endblock %}