{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% load humanize %}
{% load order_render %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}
{% block pagestyles %}
    {{ block.super }}
    <style>
        .input-group-addon {
            width: 150px;
        }
    </style>
{% endblock %}
{% block breadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <div class="breadcromb-area">
                <div class="row">
                    <div class="col-md-6  col-sm-6">
                        <div class="seipkon-breadcromb-left">
                            <h3>Generate Recommendation on Order {{ object.order_number }}</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="seipkon-breadcromb-right">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li>
                                    <a href="{% url 'client_detail' pk=object.field.farm.client.pk %}">{{ object.field.farm.client }}</a>
                                </li>
                                <li>
                                    <a href="{% url 'farm_detail' pk=object.field.farm.pk %}">{{ object.field.farm.name }}</a>
                                </li>
                                <li><a href="{% url 'field_detail' pk=object.field.pk %}">{{ object.field.name }}</a>
                                </li>
                                <li><a href="{% url 'order_detail' pk=object.pk %}">Order {{ object.order_number }}</a>
                                </li>
                                <li>Generate Recommendation</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block dashcontent %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-box">
                <div class="panel-head">
                    <div class="col-md-6">
                        <h3>Site-specific Recommendation Worksheet</h3>
                    </div>
                    <div class="col-md-6">
                        {% if object.order_status.name == "published" or request.user.is_staff %}
                            <a href="?format=pdf&cached=1" role="button"
                               title="Quick review of your soil test results"
                               class="btn btn-sm btn-info pull-right">
                                <i class="fa fa-list-ul"></i> Review Soil Test Report</a>
                        {% endif %}
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            {% if object.field.is_located %}
                                <img src="https://maps.googleapis.com/maps/api/staticmap?maptype=hybrid&size=500x500&path=color:0xffff00ff|{{ object.field.google_path }}&key={{ google_api_key }}"/>
                            {% else %}
                                <p></p><p></p>
                                <h4>Unknown boundary / field location</h4>
                                <p>
                                    This field does not have a boundary set up.
                                    Recommendations cannot be created</p>
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <h4>Products in this Order</h4>
                            <br>
                            <ul>
                                {% if products %}
                                    {% for p in products %}
                                        <li><h4>{{ p.name }}</h4>
                                            {% if p.is_package %}
                                                <ol>
                                                    {% for subprod in p.package.all %}
                                                        <li><h5>{{ subprod.name }}</h5></li>
                                                        <ol>
                                                            {% for f in subprod.custom_fields.all %}
                                                                <li>{{ f }}: <b>{{ f|answer:object }}</b></li>
                                                            {% endfor %}
                                                        </ol>
                                                    {% endfor %}
                                                </ol>
                                            {% else %}
                                                <ol>
                                                    {% for f in p.custom_fields.all %}
                                                        <li>{{ f }}: <b>{{ f|answer:object }}</b></li>
                                                    {% endfor %}
                                                </ol>
                                            {% endif %}
                                            <ol>
                                                {% for f in p.custom_fields.all %}
                                                    <li>{{ f }}: <b>{{ f|answer:object }}</b></li>
                                                {% endfor %}
                                            </ol>
                                        </li>
                                        <br>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="page-box clearfix">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="_selected_action" value="{{ object.pk }}"/>
                    <div class="panel">
                        <div class="panel-heading">
                            <h4>Step 1: Create a new recommendation file</h4>
                        </div>
                        <div class="panel-body">
                            <input type="checkbox" hidden
                                   id="create_rec_{{ object.id }}"
                                   name="create_rec_{{ object.id }}" checked>
                            <div class="form-group">
                                <label for="create_rec_{{ object.id }}">Layer Name</label>
                                <input type="text" id="name_rec_{{ object.id }}"
                                       class="form-control"
                                       name="name_rec_{{ object.id }}"
                                       value="Draft Recommendation {{ object.id }}">
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <h4>Step 2: Review the GIS Layer to base this recommendation</h4>
                        </div>
                        <div class="panel-body">
                            <p>Recommendation will be based upon layer <strong>{{ layer.name }}</strong></p>
                            <p>This layer contains <strong>{{ layer.features }} polygons</strong>, each with
                                an average area of <strong>{{ layer.avg_area|floatformat:2 }} acres</strong>.</p>

                            {#                            <p>Please select a GIS layer from the following layers. These layers are related to this#}
                            {#                                Order</p>#}
                            {#                            <p>We will copy over the geometries, and test values for pH, P, K and CEC measurements from#}
                            {#                                the layers into our recommendation file</p>#}
                            {#                            {% if subfieldlayers %}#}
                            {#                                <table class="table table-bordered table-condensed">#}
                            {#                                    <thead>#}
                            {#                                    <tr>#}
                            {#                                        <th>Select</th>#}
                            {#                                        <th>Name</th>#}
                            {#                                        <th>Layer ID</th>#}
                            {#                                    </tr>#}
                            {#                                    </thead>#}
                            {#                                    <tbody>#}
                            {#                                    {% for layer in subfieldlayers %}#}
                            {#                                        <tr>#}
                            {#                                            <td>#}
                            {#                                                <input type="radio" id="{{ layer.id }}"#}
                            {#                                                       name="order_{{ order.id }}"#}
                            {#                                                       value="{{ layer.id }}"#}
                            {#                                                       {% if forloop.first %}checked{% endif %}>#}
                            {#                                            </td>#}
                            {#                                            <td><strong>{{ layer.name }}</strong><br>#}
                            {#                                                {{ layer.features }} Features<br>#}
                            {#                                                <i>Created {{ layer.date_created|naturalday }}</i>#}
                            {#                                            </td>#}
                            {#                                            <td>{{ layer.id }}</td>#}
                            {#                                        </tr>#}
                            {#                                    {% endfor %}#}
                            {#                                    </tbody>#}
                            {#                                </table>#}
                            {#                            {% else %}#}
                            {#                                No GIS layers found#}
                            {#                            {% endif %}#}

                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <h4>Step 3: Choose a Yield model</h4>
                        </div>
                        <div class="panel-body">
                            <p>Several formula require yield in their calculations.
                                Choose one of the following methods for yield values </p>
                            <table class="table table-condensed table-bordered">
                                <thead>
                                <tr>
                                    <th>Select Yield or Goal</th>
                                    <th>Value</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="radio">
                                            <label><input type="radio" id="yld_fixed"
                                                          name="yld_{{ object.id }}"
                                                          value="yld_fixed" checked>
                                                <strong>Fixed</strong><br>
                                                Fixed value across the whole field
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" id="yld_value"
                                                   class="form-control"
                                                   name="yld_value_{{ object.id }}"
                                                   value="200">
                                            <span class="input-group-addon">Bushels</span>
                                        </div>
                                    </td>
                                    </td>
                                </tr>
                                {% for layer in yield_layers %}
                                    <tr>
                                        <td>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" id="yld_{{ layer.id }}"
                                                           name="yld_{{ object.id }}"
                                                           value="{{ layer.id }}">
                                                    <strong>{{ layer.name }}</strong><br>
                                                    {{ layer.features }} Features<br>
                                                    <i>Created {{ layer.date_created|naturalday }}</i>
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            {% if 'nccpi3corn' in layer.dbf_field_names.field_names %}
                                                Will use scaling formula based on PI Index to estimate yield
                                            {% else %}
                                                {% if layer.points_only %}
                                                    Will calculate area averages from yield map over chosen polygons
                                                {% endif %}
                                            {% endif %}
                                            <strong>Not implemented yet</strong>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <h4>Step 4: Apply Formulas</h4>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered table-condensed">
                                <thead>
                                <tr>
                                    <th>Select</th>
                                    <th>Description</th>
                                    <th>Input</th>
                                    <th>Output</th>
                                    <th>Fine Tuning</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for formula in formulas %}
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" id="formula_{{ formula.id }}"
                                                           checked
                                                           name="formula_{{ object.id }}" value="{{ formula.id }}">
                                                    <strong>{{ formula.name }}</strong>
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            {{ formula.description }}
                                        </td>
                                        <td>
                                            {% for input in formula.inputs.all %}
                                                {{ input.test_parameter.name }}
                                                {% if input.caption %}
                                                    <br><small>{{ input.caption }}</small>
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {{ formula.output.test_parameter.name }}
                                            {% if formula.output.caption %}
                                                <br><small>{{ formula.output.caption }}</small>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% for scalar in formula.scalar_defaults.all %}
                                                <div class="input-group">
                                                    <span class="input-group-addon">{{ scalar.test_parameter.name }}</span>
                                                    <input type="text"
                                                           class="form-control"
                                                           id="scalar_{{ formula.id }}_{{ scalar.test_parameter.name }}"
                                                           name="scalar_{{ formula.id }}_{{ scalar.test_parameter.name }}"
                                                           value="{{ scalar.default_value }}">
                                                </div>
                                                {% if scalar.caption %}
                                                    <small>{{ scalar.caption }}</small>
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <h4>Step 5: Generate spread files</h4>
                        </div>
                        <div class="panel-body">
                            <input type="submit" class="btn btn-primary">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
    {% leaflet_js plugins="forms" %}
    {{ block.super }}
    <script src="{% static 'assets/js/googlemap.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}" async defer></script>
    <script src='https://unpkg.com/leaflet.gridlayer.googlemutant@latest/Leaflet.GoogleMutant.js'></script>
{% endblock %}