<table id="assettable"
       class="table datatable wrap table-responsive table-striped table-bordered responsive" width="100%">
    <thead>
    <th>Name</th>
    <th>Template</th>
    <th>Location</th>
    <th>Contact</th>
    <th>Notes</th>
    </thead>
    <tbody>
    </tbody>
</table>