{% extends 'inventory/itemtemplate_form.html' %}
{% load static %}
{% block related_include %}
    {% include "inventory/filedrop_stub.html" %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-box" id="fieldhistory">
                <div class="panel-heading">
                    <h2>Item Log</h2>
                </div>
                <div class="panel-body">
                    <div id='wrap'>
                        <div id='external-events'>
                            <div id='external-events-listing'>
                                <h4>Drag Item Log Entries onto Calendar</h4>
                                <br>
                                <input type="text" class="form-control" id="eventInput" onkeyup="eventSearch()"
                                       placeholder="Search..">
                                {% if events %}
                                    <ul id="fieldevents_list">
                                        {% for cat, evts in events.items %}
                                            <li class="categoryLabel" style="color:{{ cat.color }}">
                                                <strong>{{ cat.name }}</strong>
                                                <ul id="category_{{ cat }}">
                                                    {% for e in evts %}
                                                        <li class='fc-event'
                                                            style="background:{{ cat.color }}"
                                                            id="event_{{ e.pk }}"
                                                            name="{{ e.name }}"
                                                            rendercolor="{{ cat.color }}">
                                                            <strong>{{ e.name }}</strong>
                                                            {% for cf in e.custom_fields.all %}
                                                                <p hidden id="{{ cf.pk }}"
                                                                   name="{{ cf }}"
                                                                   help_text="{{ cf.help_text }}">{{ cf.value }}</p>
                                                            {% endfor %}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                        {% include "inventory/item_calendar_stub.html" %}
                        <div style='clear:both'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
    {% if object %}
        <script>
            var fieldcalendarurl = "{% url 'api_item_events_json' pk=object.pk %}";
            var itempk = {{ object.pk }};
        </script>
        <script type="text/javascript" src="{% static 'assets/js/fieldcalendar.js' %}"></script>
    {% endif %}

    <!-- address -->
    <script type="text/javascript" src="{% static 'js/jquery.geocomplete.min.js' %}"></script>
    <script src="{% static 'address/js/address.js' %}"></script>
    <!-- address -->

{% endblock %}