{% load humanize %}
{% load static %}
<div class="row">
    <link rel="stylesheet" href="{% static 'assets/css/dropzone.css' %}">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <h4>File drop</h4>
            </div>
            <div class="dropzone container-fluid" id="container-dropzone">
            </div>
            <script src="{% static 'assets/js/dropzone.js' %}"></script>
            <script>
                Dropzone.autoDiscover = false;
                let url = "{% url "item_file_upload" pk=object.id %}";
                var myDropZone = new Dropzone("div#container-dropzone", {
                    url: url,
                    headers: {
                        'X-CSRFToken': "{{ csrf_token }}"
                    }
                });
            </script>
        </div>
    </div>
    <div class="col-md-6">
        <div class="page-box">
            <div class="panel-heading">
                <h4>Files Associated with {{ object.name }}</h4>
            </div>
            <div class="panel-body">
                <div id="images"></div>
                <table class="table table-striped table-bordered" id="field_files">
                    <thead>
                    <tr>
                        <th>File</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for f in files %}
                        <tr>
                            <td><a href="{% url 'item_file_download' pk=f.pk %}"
                                   title="{{ f.event_id }}">{{ f.file.name }}</a>
{#                                {% if not is_client %}#}
{#                                    <span class="pull-right">#}
{#                                                <a class="btn btn-xs btn-danger"#}
{#                                                   href="{% url 'fieldevent_delete' pk=f.pk %}"><i#}
{#                                                        class="fa fa-trash"></i></a>#}
{#                                            </span>#}
{#                                {% endif %}#}
                            </td>
                            <td>{{ f.modified|date:"m/d/Y" }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <script>
                    window.onload = function () {
                        $("#field_files").DataTable(
                            {
                                "order": [[1, "desc"]]
                            }
                        );
                    }
                </script>
            </div>
        </div>
    </div>
</div>