{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% load static %}
{% block pagestyles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'assets/plugins/fullcalendar/core/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/fullcalendar/daygrid/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/fullcalendar/timegrid/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/fullcalendar/list/main.min.css' %}">
    <script type="text/javascript" src="{% static 'assets/plugins/fullcalendar/core/main.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/fullcalendar/daygrid/main.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/fullcalendar/timegrid/main.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/fullcalendar/list/main.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/fullcalendar/interaction/main.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/css/fieldcalendar.css' %}">
{% endblock %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <div class="breadcromb-area">
                <div class="row">
                    <div class="col-md-6  col-sm-6">
                        <div class="seipkon-breadcromb-left">
                            <h3>Inventory Items</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="seipkon-breadcromb-right">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li>Inventory</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block dashcontent %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-box">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#assets"><i class="fa fa-tractor"></i> Assets</a>
                        </li>
                        <li><a data-toggle="tab" href="#consumables"><i class="fa fa-flask"></i> Consumables</a></li>
                        <li><a data-toggle="tab" href="#templates"><i class="fa fa-sitemap"></i> Item Templates</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="assets" class="tab-pane fade in active">
                            <div class="panel-heading">
                                <h3>Assets</h3>
                            </div>
                            <div class="panel-heading">
                                <h5>Go to Item Templates to create a new Asset based on a Template</h5>
                            </div>
                            <div class="panel-body">
                                <div>
                                    {% include 'inventory/asset_table.html' %}
                                </div>
                            </div>
                        </div>
                        <div id="consumables" class="tab-pane fade">
                            <div class="panel-heading">
                                <h3>Consumables</h3>
                            </div>
                            <div class="panel-heading">
                                <h5>Go to Item Templates to create a new Consumable based on a Template</h5>
                            </div>
                            <div class="panel-body">
                                <div>
                                    {% include 'inventory/consumables_table.html' %}
                                </div>
                            </div>
                        </div>
                        <div id="templates" class="tab-pane fade">
                            <div class="panel-heading">
                                <h3>Item Templates</h3>
                            </div>
                            <div class="panel-heading">
                                <h5>Adding and modifying Inventory Templates is currently only available through the Administration console</h5>
                            </div>
                            <div class="panel-body">
                                <div>
                                    {% include 'inventory/template_table.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'inventory/inventory_logs.html' %}
{% endblock %}

{% block pagescripts %}
    <script>
        var assets_action_url = "{% url 'asset_json_list' %}";
        var consumables_action_url = "{% url 'consumable_json_list' %}";
        var templates_action_url = "{% url 'template_json_list' %}";
        var fieldcalendarurl = "{% url 'api_all_item_events_json' %}";
    </script>
    <script src="{% static 'assets/js/inventory.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/fieldcalendar.js' %}"></script>

{% endblock %}