<div class="row">
    <div class="col-md-12">
        <div class="page-box">
            <div class="panel-heading">
                <h3>Recent Inventory Logs</h3>
            </div>
            <div class="panel-body">
                {% include "inventory/item_calendar_stub.html" %}
            </div>
        </div>
    </div>
</div>