<div id="calendar"></div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
                <span class="pull-right" id="event-id">Event ID</span>
            </div>
            <div class="modal-body">
                <form id="modal-form">
                    {% csrf_token %}
                    <input hidden type="text" id="field_id" value="{{ item.pk }}">
                    <div class="modal-form-group form-group">

                    </div>
                </form>
                <div class="file_download"></div>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal-save" class="btn btn-primary">Save</button>
                <button type="button" id="modal-close" class="btn btn-default"
                        data-dismiss="modal">Close
                </button>
                <button type="button" id="modal-delete" class="btn btn-danger"
                        data-dismiss="modal">Delete
                </button>
            </div>
        </div>
    </div>
</div>