{% extends "dashboard/dashboard_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load static %}
{% load customfields_tags %}
{% block pagestyles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'assets/plugins/fullcalendar/core/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/fullcalendar/daygrid/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/fullcalendar/timegrid/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/fullcalendar/list/main.min.css' %}">
    <script type="text/javascript" src="{% static 'assets/plugins/fullcalendar/core/main.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/fullcalendar/daygrid/main.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/fullcalendar/timegrid/main.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/fullcalendar/list/main.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/fullcalendar/interaction/main.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/css/fieldcalendar.css' %}">
{% endblock %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <div class="breadcromb-area">
                <div class="row">
                    <div class="col-md-6  col-sm-6">
                        <div class="seipkon-breadcromb-left">
                            <h3>{{ form_heading }}</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="seipkon-breadcromb-right">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="{% url 'inventory_list' %}">Inventory</a></li>
                                <li>{{ breadcrumb_tag }}</li>
                                {% if object %}
                                    <li>{{ object.name }}</li>
                                    <li>Update</li>
                                {% else %}
                                    <li>Add New</li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block dashcontent %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-box">
                <div class="panel-body">
                    <div>
                        <form method="post">
                            {% crispy form form.helper %}
                            <div class="col-md-12">
                                {% for cf in custom_fields_dict %}
                                    <div class="col-md-12">
                                        {% if cf.field_type == "T" %}
                                            {% cfrender cf classes='form-control' instance=object %}
                                        {% else %}
                                            {% cfoptionrender cf classes="form-control" groupclass="form-group" instance=object %}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="submit" name="submit" value="Save"
                                               class="btn btn-primary button"
                                               id="submit-id-submit">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if object %}
        <div class="row">
            <div class="col-md-12">
                <div class="page-box">
                    <div class="panel-heading">
                        <h3>{{ related_records_heading }}</h3>
                    </div>
                    <div class="panel-body">
                        <div>
                            {% block related_include %}
                                {% include 'inventory/asset_table.html' %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block pagescripts %}
    {% if object %}
        <script>
            var inventory_action_url = "{% url 'asset_json_list' %}";
            var search = "{{ object.description }}"
        </script>
        <script src="{% static 'assets/js/inventory.js' %}"></script>
    {% endif %}
{% endblock %}