<table id="templatetable"
       class="table datatable wrap table-responsive table-striped table-bordered responsive" width="100%">
    <thead>
    <th>Description</th>
    <th>Brand</th>
    <th>Model</th>
    <th>Part Number</th>
    <th>Notes</th>
    </thead>
    <tbody>
    </tbody>
</table>