
#wrap {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#external-events {
    float: left;
    width: 28%;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

#external-events .categoryLabel {
    margin: 4px 20px;
    cursor: pointer;
    border: none;
    line-height: 1.2;
    padding: 4px;
    text-align: left;
}

.fc-event {
    font-size: 1em;
}

#external-events .fc-event {
    margin: 4px 10px;
    cursor: pointer;
    border: none;
    line-height: 30px;
    padding: 4px;
    padding-left: 20px;
}

#external-events li {
    margin: 4px;
    font-size: 14px;
}

#external-events p input {
    margin: 0;
    vertical-align: middle;
}

#wrap #calendar {
    float: right;
    width: 70%;
}

a > i {
    pointer-events: none;
}

.tooltip-inner {
    max-width: 350px;
    text-align: left;
}