
.leaflet-container { /* all maps */
    height: 40vh;
}

.leaflet-bar,
.leaflet-touch,
.leaflet-touch,
.leaflet-control-layers  {
    border: 0 !important;
}

#id_points-map {
    height: 80vh;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 17px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.slider {
    width: 50% !important;
}