/*------------------------------------------------------------------
[Master Stylesheet]

Project	     : Seipkon - Bootstrap Admin Template
Author       : Hassan Rasu
Author URL   : https://themeforest.net/user/themescare
Version      : 1.0
Template By  : Themescare

-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Table of contents]

01. Import Fonts
02. Body, layout
03. Page Loader
04. Header
05. Sidebar
06. Breadcromb
07. Widget Card
08. All Charts
09. Table
10. Map
11. Datepicker
12. Label And Buttons
13. E-Commerce
    01. All Product
    02. Add Product
    03. Product Order List

14. Pages
    01. All Pages
    02. Create Page

15. Advance Apps
    01. Chatting
    02. Notes
    03. Employee

16. Mailbox
17. UI-Panels
18. UI-Font Icon
19. UI-Modal
20. UI-Tabs Accordian
21. UI-Sweet Alerts
22. UI-Progress Bar
23. UI-Carousel
24. UI-Tooltip & Popover
25. UI-Breadcrumbs
26. UI-Pagination
27. Forms
28. Form Wizards
29. Profile Page
30. Invoice Page
31. Gallery Page
32. Blank Page
33. Authentication Page
34. Error Page

-------------------------------------------------------------------*/


/*================================================
02. Body, layout
==================================================*/

/*body {*/
/*    font-family: "Arial", sans-serif;*/
/*    font-size: 13px;*/
/*    line-height: 16px;*/
/*    color: #000000;*/
/*    font-weight: 400;*/
/*    background: white;*/
/*}*/

/*body.body_white_bg {*/
/*    background: #f7f7f7 none repeat scroll 0 0*/
/*}*/

/*html,*/
/*body {*/
/*    height: 100%;*/
/*}*/

/*.wrapper {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/

/*img {*/
/*    max-width: 100%;*/
/*    height: auto*/
/*}*/

/*h1,*/
/*h2,*/
/*h3,*/
/*h4,*/
/*h5,*/
/*h6,*/
/*p {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*ul,*/
/*ol {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*li {*/
/*    list-style-type: none;*/
/*}*/

/*.page-box {*/
/*    width: 100%;*/
/*    background: #fff none repeat scroll 0 0;*/
/*    margin-top: 10pt;*/
/*    padding: 10pt;*/
/*}*/

/*#content {*/
/*    width: 100%;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    right: 0;*/
/*    background: white;*/
/*}*/

/*#content>.page-content {*/
/*    min-height: 100vh;*/
/*    padding: 15px 15px*/
/*}*/

/*#content.active {*/
/*    width: 100%;*/
/*}*/

/*.seipkon-footer-area {*/
/*    background: #fff none repeat scroll 0 0;*/
/*    padding: 15px;*/
/*    text-align: center;*/
/*    color: #455a64;*/
/*    border-top: 1px solid #ddd*/
/*}*/

/* Print styling */

@page {
    size: landscape;
    margin: 15mm 15mm 15mm 15mm;
    counter-increment: page;
    @bottom-right {
        content: "page " counter(page) " of " counter(pages);
        font-family: Arial, sans-serif;
        font-size: 10px;
    }
}


@page rotated {
    size: landscape;
    margin: 15mm 15mm 15mm 15mm;
}

@media print {

    [class*="col-sm-"] {
        float: left;
    }

    [class*="col-xs-"] {
        float: left;
    }

    .col-sm-12, .col-xs-12 {
        width: 100% !important;
    }

    .col-sm-11, .col-xs-11 {
        width: 91.66666667% !important;
    }

    .col-sm-10, .col-xs-10 {
        width: 83.33333333% !important;
    }

    .col-sm-9, .col-xs-9 {
        width: 75% !important;
    }

    .col-sm-8, .col-xs-8 {
        width: 66.666% !important;
    }

    .col-sm-7, .col-xs-7 {
        width: 58.33333333% !important;
    }

    .col-sm-6, .col-xs-6 {
        width: 49.9999% !important;
    }

    .col-sm-5, .col-xs-5 {
        width: 41.66666667% !important;
    }

    .col-sm-4, .col-xs-4 {
        width: 33.33333333% !important;
    }

    .col-sm-3, .col-xs-3 {
        width: 25% !important;
    }

    .col-sm-2, .col-xs-2 {
        width: 16.66666667% !important;
    }

    .col-sm-1, .col-xs-1 {
        width: 8.33333333% !important;
    }

    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-xs-1,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12 {
        float: left !important;
    }

    body {
        margin: 0;
        padding: 0 !important;
    }

    .container {
        width: auto;
    }

    body {
        font-family: Arial, sans-serif !important;
        font-size: 11px;
        line-height: 14px;
    }

    .pull-right {
        float: right !important;
    }

    a[href]:after {
        content: none;
    }

    div.rotated {
        page: rotated;
    }

    .noprint,
    div.alert,
    .group-media,
    .btn,
    .footer,
    form,
    #comments,
    .gmnoprint,
    .gm-style-cc,
    .nav,
    ul.links.list-inline,
    .leaflet-draw,
    .leaflet-control-attribution,
    a[rel~="noopener"],
    ul.action-links {
        display: none !important;
    }

    .row:before,
    .row:after {
        content: "";
        display: table;
        clear: both;
    }


}

/*================================================
04. Header
==================================================*/

.main-header {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}

.seipkon-logo {
    background: #FFFFFF;
    float: none !important;
    max-height: 150px;
    position: relative;
    text-align: center;
    max-width: 100%;
    z-index: 1;
}

.seipkon-logo a {
    display: inline-block
}

.seipkon-logo img {
    margin: 0 0;
    max-width: 95%;
    max-height: 100%;
}
