th.rotate {
  /* Something you can count on */
  height: 100px;
  white-space: nowrap;
}

th.rotate > div {
  transform:
    /* Magic Numbers */
    translate(0px, 25px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
  width: 40px;
}
th.rotate > div > span {
  padding: 5px 5px;
  text-transform: none;
}

div.rotate {
    transform:rotate(270deg);
    transform-origin: "bottom-right";
}

.table > tbody > tr> td {
  text-transform: none;
}