@media print {
    /*th.rotate {*/
    /*    !* Something you can count on *!*/
    /*    height: 50px;*/
    /*    white-space: nowrap;*/
    /*}*/
    /*th {*/
    /*    background-color: #ffffff !important;*/
    /*    text-transform: none !important;*/
    /*    font-weight: bold !important;*/
    /*}*/
    /*th.rotate > div {*/
    /*    transform: !* Magic Numbers *! translate(0px, 0px) !* 45 is really 360 - 45 *! rotate(315deg);*/
    /*    width: 20px;*/
    /*}*/
    /*th.rotate > div > span {*/
    /*    padding: 5px 5px;*/
    /*}*/
    /*div.rotate {*/
    /*    transform: rotate(270deg);*/
    /*    transform-origin: "bottom-right";*/
    /*}*/
    table.fullwidth {
        width: 100%;
    }

    table {
        page-break-after: auto !important;
        page-break-inside: auto !important;
        position: static;
        overflow: visible;
    }

    thead {
        display: table-header-group;
    }

    tfoot {
        display: table-row-group;
    }

    tr    { page-break-inside:avoid; page-break-after:auto }

    table tfoot tr,
    table tfoot tr td {
        background-color: #ffffff !important;
    }

    td {
        -webkit-print-color-adjust: exact;
    }

    table, thead {
        border-collapse: collapse;
        border-top: 2px solid grey;
        border-bottom: 2px solid grey;
    }

    /*tr:nth-child(20n) {*/
    /*    page-break-after: always !important;*/
    /*    page-break-inside: avoid;*/
    /*}*/
    tbody tr:nth-child(even) {
        background-color: #d6d6d6;
    }

    table tbody tr td {
        padding: 1px !important;
        border: 1px solid #a1a1a1;
    }

    table thead tr th {
        padding: 1px !important;
        border-left: 1px solid grey;
        border-right: 1px solid grey;
    }

    table tfoot tr td {
        padding: 1px !important;
        border: 1px solid grey;
        font-weight: bold;
    }

    td, th {
        text-align: center !important;
    }

    div.breakable {
        page-break-inside: auto;
    }

}
