<div class="popup_template">
    <a class="popup_link" href="#"><h4 class="popup_title"></h4></a>
    <div class="item_data"></div>
</div>
<div class="order_template">
    <hr>
    <a class="order_link" href="#"><h5>Order <span class="order"></span></h5></a>
    <small class="order_date"></small>
    <span class="order_status"></span>
    <h5>Products</h5>
    <ul class="products"></ul>
</div>
<div class="event_template">
    <hr>
    <h5 class="event_title"></h5>
    <small class="event_date"></small>
    <ul class="event_data"></ul>
</div>
