{% extends "clients/fieldrecbase.html" %}
{% load static %}
{% load leaflet_tags %}
{% block extrahead %}
    {{ block.super }}
    <style>
        #order_birdsdeye {
            height: 80vh;
        }

        .leaflet-container {
            height: inherit !important;
        }

        hr {
            margin-top: 4px;
            margin-bottom: 4px;
        }

        img.prodicon {
            height: 2em;
            width: 2em;
        }

        img.pkgicon {
            height: 3em;
            width: 3em;
        }

        li.li-popup {
            list-style-type: none;
        }

        .event_title {
            padding: 4px;
        }

        div#popup_details {
            flex-grow: 1;
            overflow: scroll;
        }

        #outer {
            display: flex;
            flex-flow: column;
            height: 80vh;
        }

        #selectors {
            height: 19em;
        }

        .leaflet-tooltip-custom {
            clear: both;
            min-width: 4em;
        }

        .ttrow {
            clear: both;
        }

    </style>
{% endblock %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <div class="breadcromb-area">
                <div class="row">
                    <div class="col-md-6  col-sm-6">
                        <div class="seipkon-breadcromb-left">
                            <h3>View Orders and Events</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="seipkon-breadcromb-right">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li>Birds Eye View</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block dashcontent %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-box clearfix">
                <div class="col-md-3" id="outer">
                    <div class="panel" id="selectors">
                        <ul class="nav nav-tabs" id="fieldsform">
                            <li role="presentation" class="active"><a href="#events" data-toggle="tab"><strong>By
                                Events</strong></a></li>
                            <li role="presentation"><a href="#orders" data-toggle="tab"><strong>By Orders</strong></a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <form>
                            <div class="row">
                                <div class="tab-content col-sm-12">
                                    <div class="tab-pane fade active in" id="events">
                                        <div class="form-group align-items-center">
                                            <div class="col-sm-12">
                                                <label for="datetimepicker1">Duration
                                                    (Click twice for start and end, default: last year)</label>
                                                <input type="text" id="datetimepicker1" class="form-control" value="">
                                            </div>
                                            <div class="col-sm-12">
                                                <label for="event_categories">Select Event Categories (Fields colored by
                                                    most recent event)</label>
                                                <select class="form-control" id=event_categories>
                                                    <option>---</option>
                                                    {% for e in event_categories %}
                                                        <option value="{{ e.id }}">{{ e }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="orders">
                                        <div class="form-group align-items-center">
                                            <div class="col-sm-12">
                                                <label for="datetimepicker2">Duration
                                                    (Click twice for start and end, default: last year)</label>
                                                <input type="text" id="datetimepicker2" class="form-control" value="">
                                            </div>
                                            <div class="col-sm-12">
                                                <label for="products_categories">Select Products Categories (Fields
                                                    colored by first product on most recent order)</label>
                                                <select class="form-control" id=products_categories>
                                                    <option>---</option>
                                                    {% for e in product_categories %}
                                                        <option value="{{ e.id }}">{{ e }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="popup_details">
                        <h4>Click on a field for more details</h4>
                    </div>
                </div>
                <div class="col-md-9 clearfix">
                    <div id="order_birdsdeye">
                        {% leaflet_map "birdseye" callback="window.map_init" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden">
        {% include "clients/birdseye_popup_template.html" %}
    </div>
{% endblock %}

{% block pagescripts %}
    {{ block.super }}
    <script>
        var ftgroup = {};
        let events_url_base = "{% url 'api_field_events_birdseye' %}";
        let order_url_base = "{% url 'api_order_list_birdseye' %}";
        var mapready = true;
    </script>
    <script src="{% static "assets/js/spin.min.js" %}"></script>
    <script src="{% static "assets/js/leaflet.spin.min.js" %}"></script>
    <script src="{% static 'assets/js/birdseye.js' %}"></script>
{% endblock %}