{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% load static %}
{% block pagestyles %}
    {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <div class="breadcromb-area">
                <div class="row">
                    <div class="col-md-6  col-sm-6">
                        <div class="seipkon-breadcromb-left">
                            <h3>Clients</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="seipkon-breadcromb-right">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li>Clients</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block dashcontent %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-box">
                <div class="panel-heading">
                     <span class="pull-left">
                            <a class="btn btn-success" href="add/">
                                <i class="fa fa-plus"></i>
                                Add New Client
                            </a>
                     </span>
                    <span class="badge pull-right fa fa-building"> Company</span><br>
                </div>
                <div class="panel-body">
                    <div>
                        <table id="clienttable" class="table datatable wrap table-responsive table-striped table-bordered">
                            <thead>
                            <th>Client</th>
                            <th>Originator</th>
                            <th>Orders</th>
                            <th>Products</th>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="page-box">
                <div class="panel-heading">
                    <h3>Events and Tasks</h3>
                </div>
                <div class="panel-body">
                    {% include "clients/fieldevents_table.html" %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block pagescripts %}
    <script>
        var client_action_url = "{% url 'client_list_json' %}";
    </script>
    <script src="{% static 'assets/js/client.js' %}"></script>
{% endblock %}