{% extends "contact/contact_form.html" %}

{% block breadcrumb %}
<div class="row">
    <div class="col-md-12">
        <div class="breadcromb-area">
            <div class="row">
                <div class="col-md-6  col-sm-6">
                    <div class="seipkon-breadcromb-left">
                        <h3>{{ formtype }}</h3>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-right">
                        <ul>
                            <li><a href="/">Home</a></li>
                            {% if formtype == "Add a new Client" %}
                            <li>{{ formtype }}</li>
                            {% else %}
                                <li>{{ object.client.originator }}</li>
                            <li> {{ object }}</li>
                            <li>Edit</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}