{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <div class="breadcromb-area">
                <div class="row">
                    <div class="col-md-6  col-sm-6">
                        <div class="seipkon-breadcromb-left">
                            <h3>Clients</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="seipkon-breadcromb-right">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="{% url 'client_list' %}">Clients</a></li>
                                <li>Delete</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block dashcontent %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-box">
                <div class="panel-heading">
                    <h2 class="m-t-none" id="device_name">You are about to delete {{ object }}</h2>
                    <small>
                        Only continue if you know what you're doing
                    </small>
                </div>
                <div class="panel-body">
                    <form action="" method="post">{% csrf_token %}
                        <h4>Are you sure you want to delete the following object: "{{ object }}"?</h4>
                        <br>
                        <input type="submit" class="btn btn-danger" value="Confirm"/>
                        <a href="javascript:history.back()" )>No! let's go back to where we came from</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

