{% extends "clients/new_farm.html" %}

{% block farms_list %}
    <div class="panel-body">
        {% block fields_list %}
            <a href="{% url 'new_field' pk=object.pk %}">
                <button class="btn btn-primary btn-xs" type="button">
                    <i class="fa fa-plus"></i>
                    Add New Field
                </button>
            </a>
            {% include "clients/field_list_block.html" with farm=object %}
        {% endblock %}
    </div>
    {% include "clients/hallpass_share_modal.html" %}
{% endblock %}