{% load humanize %}
<div class="form-group">
    <h4>Farms
        {% block addnewfarm %}
            <a href="{% url 'new_farm' pk=client.pk %}">
                <button class="btn btn-success btn-xs" type="button">
                    <i class="fa fa-plus"></i>
                    Add New Farm
                </button>
            </a>
        {% endblock %}
    </h4>
</div>
{% if client.farms.all %}
    <div class="row">
        <div class="accordion" id="farmTable">
            {% for farm in client.farms.all %}
                <div class="panel panel-default">
                    <div class="panel-heading" id="heading_{{ forloop.counter }}">
                        <a role="button" data-toggle="collapse"
                           data-target="#collapse_{{ forloop.counter }}"
                           aria-expanded="false" aria-controls="collapse_{{ forloop.counter }}">
                            <strong>{{ farm.name }}</strong>
                            (<small><i>{{ farm.fields.count }} fields</i></small>)
                        </a>
                        <span>
                            <a href="{% url 'farm_detail' pk=farm.pk %}">
                                <button class="btn btn-info btn-xs pull-right"
                                        type="button" title="Edit">
                                    <i class="fa fa-edit"></i>
                                </button>
                            </a>
                            <a href="{% url 'new_field' pk=farm.pk %}">
                                <button class="btn btn-primary btn-xs pull-right"
                                        type="button" title="Add field">
                                    <i class="fa fa-list"></i>
                                </button>
                            </a>

                            <a href="{% url 'farm_delete' pk=farm.pk %}">
                                <button class="btn btn-danger btn-xs pull-right"
                                        {% if farm.fields.count == 0 %}
                                            title="Delete"
                                        {% else %}
                                            title="Cannot delete. This farm has {{ farm.fields.count }} fields"
                                            disabled
                                        {% endif %}
                                        type="button" >
                                    <i class="fa fa-trash"></i>
                                </button>
                            </a>

                        </span>
                    </div>
                    <div id="collapse_{{ forloop.counter }}" class="collapse"
                         aria-labelledby="heading_{{ forloop.counter }}" data-parent="#farmTable">
                        <div class="panel-body">
                            {% block fields_list %}
                                {% include "clients/field_list_block.html" %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include "clients/hallpass_share_modal.html" %}
{% endif %}