{% extends "dashboard/dashboard_base.html" %}
{% load static %}

{% block extrahead %}
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% endblock %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <div class="breadcromb-area">
                <div class="row">
                    <div class="col-md-6  col-sm-6">
                        <div class="seipkon-breadcromb-left">
                            <h3>Fields</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="seipkon-breadcromb-right">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li>Fields</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block dashcontent %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-box">
                {% include "clients/fields_table.html" %}
            </div>
        </div>
    </div>

{% endblock %}

{% block pagescripts %}
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            var oTable = $('.datatable').DataTable({
                order: [[0, "contact"]],
                paging: true,
                pagingType: "numbers",
                columnDefs: [
                    {
                        name: "contact",
                        orderable: true,
                        searchable: true,
                        targets: [0]
                    },
                    {
                        name: "farm",
                        orderable: true,
                        searchable: true,
                        targets: [1]
                    },
                    {
                        name: "field",
                        orderable: true,
                        searchable: true,
                        targets: [2]
                    }
                ],
                "processing": true,
                "serverSide": true,
                "ajax": "{% url 'field_list_json' %}"
            });
        });
    </script>
{% endblock %}

