{% extends "clients/fieldrecbase.html" %}
{% load static %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}


{% block pagestyles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "assets/plugins/daterangepicker/css/daterangepicker.css" %}"/>
    <link rel="stylesheet" href="{% static "assets/css/MarkerCluster.css" %}"/>
    <link rel="stylesheet" href="{% static "assets/css/MarkerCluster.Default.css" %}"/>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css'
          rel='stylesheet'/>

    {% leaflet_css plugins="forms" %}

{% endblock %}

{% block dashcontent %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-box">
                <div class="panel-heading">
                    <h3>{{ field.name }} ({{ field.area }} Acres)</h3>
                </div>
                <div class="panel-body">
                    {% include "common/formerror.html" %}
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="page-box">
                <div class="panel-heading">
                    <h4>Yield Variability Analysis</h4>
                    <small>The columns below were used in developing a composite picture of your field variability
                        and the factors that determine it. Darker areas correspond to higher yields.
                    </small>
                </div>
                <div class="panel-body" id="risk-report">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Colors</th>
                            <th>% Area</th>
                            {% for r in data.yield %}
                                <th class="rotate">{{ r }}</th>
                            {% endfor %}
                            {% for r in data.elevation %}
                                <th class="rotate">{{ r }} (change)</th>
                            {% endfor %}
                            {% for r in data.others %}
                                <th class="rotate">{{ r }}</th>
                            {% endfor %}
                        </tr>

                        </thead>
                        <tbody>

                        {% for row in table %}
                            {% if not forloop.first %}
                                <tr>
                                    <td><span class='glyphicon glyphicon-stop' style='color:{{ row.0 }}'></span></td>
                                    <td>{{ row.1|floatformat:1 }}</td>
                                    {% for c in row.2 %}
                                        <td>{{ c|floatformat:1 }}</td>
                                    {% endfor %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="page-box">
                <div class="panel-body" id="complexity_index">
                    <h4>Complexity index</h4>
                    <p>Higher for less uniform and smaller fields. A highly variable field would have a complexity index
                        of 1.</p>
                    <strong>{{ data.complexity|floatformat:3 }}</strong>
                </div>
                <div class="panel-heading">
                    <h4>Yield Variability Analysis Details</h4>
                    <small>Actual regression analysis
                    </small>
                </div>
                <div class="panel-body" id="regression-report">
                    {% for reg in data.risk %}
                        <div class="col-md-6">
                            <div class="page-box">
                                <div class="panel-heading">
                                    Model {{ forloop.counter }}
                                </div>
                                <div class="panel-body">
                                    <h5>Response</h5>
                                    {{ reg.0 }}
                                    <h6>Intercept</h6>
                                    This would be your response if the affecting value were zero:<br>
                                    Between {{ reg.2.0.0|floatformat:1 }} and {{ reg.2.0.1|floatformat:1 }} units.
                                    <h5>Affecting variable</h5>
                                    {{ reg.1 }}
                                    <h6>Influence</h6>
                                    Your response is affected between {{ reg.2.1.0|floatformat:1 }} and
                                    {{ reg.2.1.1|floatformat:1 }}
                                    units for every unit of the influencing variable.
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% block records_associated %}

    {% endblock %}

{% endblock %}

{% block pagescripts %}
    {{ block.super }}
    <script type="text/javascript">

        $("#button-id-updatebbox").prop("disabled", true);
        L.Map.addInitHook(function () {
            mapsList.push(this); // Use whatever global scope variable you like.
            this.on('click', function () {
                var hyb = L.gridLayer.googleMutant({
                    type: 'hybrid' // valid values are 'roadmap', 'satellite', 'terrain' and 'hybrid'
                }).addTo(this);
                this.panTo(this.getCenter());
                this._onResize();
                this.invalidateSize();
                var imageurl = "{{ report.image.file.url }}";
                var bounds = {{ data.extent }};
                L.imageOverlay(imageurl, bounds).addTo(this);
                this.fitBounds(bounds);
                $("#id_report").val({{ report.pk }})
            });
            var a = this;
            setTimeout(function () {
                a.fireEvent("click");
            }, 2000);
        });
    </script>

{% endblock %}
