{% load humanize %}
<div class="page-box">
    <div class="panel-heading">
        <h4>Files Associated with {{ field.name }}</h4>
    </div>
    <div class="panel-body">
        <div id="images"></div>
        <table class="table table-striped table-bordered" id="field_files">
            <thead>
            <tr>
                <th>File</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {% for f in files %}
                <tr>
                    <td><a href="{% url 'fieldevent_file' pk=f.pk %}" title="{{ f.event_id }}">{{ f.file.name }}</a>
                        {% if not is_client %}
                            <span class="pull-right">
                                                <a class="btn btn-xs btn-danger"
                                                   href="{% url 'fieldevent_delete' pk=f.pk %}"><i
                                                        class="fa fa-trash"></i></a>
                                            </span>
                        {% endif %}
                    </td>
                    <td>{{ f.modified|date:"m/d/Y" }}</td>
                </tr>
            {% endfor %}
            {% for f in variability_reports %}
                <tr>
                    <td>
                        <a href="{% url 'field_variability_report' pk=f.pk %}">Report {{ f.pk }}</a>
                        {% if not is_client %}
                            <span class="pull-right">
                                                    <a class="btn btn-xs btn-info"
                                                       href="{% url 'field_risk_update' pk=f.pk %}"><i
                                                            class="fa fa-edit"></i></a>
                                                    <a class="btn btn-xs btn-danger"
                                                       href="{% url 'field_variability_report_delete' pk=f.pk %}"><i
                                                            class="fa fa-trash"></i></a>
                                                </span>
                        {% endif %}
                    </td>
                    <td>{{ f.generated|date:"m/d/Y" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <script>
            window.onload = function () {
                $.fn.dataTable.moment('MM/DD/YYYY');
                $("#field_files").DataTable(
                    {
                        "order": [[1, "desc"]]
                    }
                );
            }
        </script>
    </div>
</div>