{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% load geojson_tags %}
{% block extrahead %}
    {{ block.super }}
    {% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}

    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css'
          rel='stylesheet'/>
    <link rel="stylesheet" href="{% static 'assets/plugins/fullcalendar/core/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/fullcalendar/daygrid/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/fullcalendar/timegrid/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/fullcalendar/list/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/leaflet_custom.css' %}">
    <link rel="stylesheet" href="{% static "assets/plugins/daterangepicker/css/daterangepicker.css" %}"/>
    <link rel="stylesheet" href="{% static "assets/css/MarkerCluster.css" %}"/>
    <link rel="stylesheet" href="{% static "assets/css/MarkerCluster.Default.css" %}"/>
    <script type="text/javascript">
        var MyGeometryField = L.GeometryField.extend({
            addTo: function (map) {
                L.GeometryField.prototype.addTo.call(this, map);
                // Customize map for field
                boundary_layer = this;
                boundary_layer.drawnItems.setStyle({fillOpacity: 0.05});
            }
        });
    </script>
    <script type="text/javascript" src="{% static 'assets/plugins/fullcalendar/core/main.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/fullcalendar/daygrid/main.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/fullcalendar/timegrid/main.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/fullcalendar/list/main.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/fullcalendar/interaction/main.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'assets/css/fieldcalendar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/weather-icons.min.css' %}">
{% endblock %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <div class="breadcromb-area">
                <div class="row">
                    <div class="col-md-4  col-sm-4">
                        <div class="seipkon-breadcromb-left">
                            <h3>{{ formtype }}</h3>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <div class="seipkon-breadcromb-right">
                            <ul>
                                <li><a href="/dashboard/">Dashboard</a></li>
                                {% if orguser %}
                                    <li><a href="{% url 'client_list' %}">Clients</a></li>
                                {% endif %}
                                {% if client %}
                                    <li><a href="{% url 'client_detail' pk=client.pk %}">{{ client.name }}
                                    {% if not client.active %}<strong> (Inactive)</strong>{% endif %}
                                    </a></li>
                                {% endif %}
                                {% if farm %}
                                    <li><a href="{% url 'farm_detail' pk=farm.pk %}">{{ farm }}</a></li>
                                {% endif %}
                                {% if field %}
                                    <li><a href="{% url 'field_detail' pk=field.pk %}">{{ field.name }}
                                        {% if field.area %}({{ field.area }} acres) {% endif %}
                                    </a></li>
                                {% endif %}
                                <li>{{ formtype }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block dashcontent %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-box">
                {% if orguser %}
                    <div class="col-md-6">
                        <div class="panel-body">
                            <small>
                                Fields marked with an asterisk are required
                            </small>
                            {% crispy form %}
                        </div>
                    </div>
                {% endif %}
                <div class="{% if orguser %}col-md-6{% else %}col-md-12{% endif %}">
                    <script type="text/javascript">
                        // this is the map that shows up on the client update page.
                        var collection = {{ fields|geojsonfeature:"id,name"|safe }};
                    </script>
                    <script src="{% static 'assets/js/client_map.js' %}"></script>
                    {% leaflet_map "spots" callback="window.map_init" %}
                </div>
                <div style="clear: both" id="mapcan"></div>
            </div>
        </div>
    </div>
    {% block records_associated %}
        <div class="row">
            <div class="col-lg-12">
                <div class="page-box">
                    <div class="col-md-4">
                        <div class="panel-heading">
                            <h3>Client Fields and Events</h3>
                            <br>
                            <p>To add new items on the calendar, please go to the
                                <button class="btn btn-info btn-xs" type="button">
                                    <i class="fa fa-edit"></i>Edit
                                </button>
                                view of the respective fields
                            </p>
                        </div>
                        <div class="panel-body" id="farms_list">
                            {% block farms_list %}
                                {% include "clients/farms_list_block.html" %}
                            {% endblock %}
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="panel-body">
                            {% include "fieldcalendar/field_calendar_stub.html" %}
                        </div>
                    </div>
                    <div style='clear:both'></div>
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}

{% block pagescripts %}
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}" async defer></script>
    <script src='{% static "assets/js/Leaflet.GoogleMutant.js" %}'></script>
    <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js'></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.21/sorting/datetime-moment.js"></script>
    <script src="{% static 'assets/js/touchpunch.js' %}"></script>
    <script>
        var fieldpk = {{ field.pk|default:0 }};
        var fieldcalendarurl = "{% if client.pk %}{% url 'api_client_field_events' pk=client.pk %}{% endif %}"
    </script>
    <script src="{% static 'assets/js/fieldcalendar.js' %}"></script>
    <script src="{% static 'assets/js/googlemap.js' %}"></script>

{% endblock %}
    
