<div>
    <table id="clientstable" class="table datatable table-responsive table-striped table-bordered">
        <thead>
        <th>Client</th>
        <th>Farm</th>
        <th>Field</th>
        </thead>
        <tbody>
        </tbody>
    </table>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var oTable = $('#clientstable').dataTable({
                order: [[0, "contact"]],
                paging: true,
                stateSave: true,
                pagingType: "numbers",
                responsive: true,
                columnDefs: [
                    {
                        name: "contact",
                        orderable: true,
                        searchable: true,
                        targets: [0]
                    },
                    {
                        name: "farm",
                        orderable: true,
                        searchable: true,
                        targets: [1]
                    },
                    {
                        name: "field",
                        orderable: true,
                        searchable: true,
                        targets: [2]
                    }
                ],
                "processing": true,
                "serverSide": true,
                "ajax": "{% url 'field_list_json' %}"
            });
        });
    </script>
</div>