{% extends "clients/fieldrecbase.html" %}
{% load static %}
{% load static %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}


{% block pagestyles %}
    {{ block.super }}
    <style>
        path.leaflet-interactive {
            fill-opacity: 0.05 !important;
            stroke: #eab700;
        }

        .maptooltip {
            padding: 2px !important;
            font-size: 12px;
            line-height: 1.1em;
            font-weight: bold;
        }

        .leaflet-container { /* all maps */
            height: 60vh !important;
        }

        .dropdown-submenu {
            position: relative;
        }

        .dropdown-menu {
            z-index: 2000;
        }

        .dropdown-submenu > .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -6px;
            margin-left: -1px;
            -webkit-border-radius: 0 6px 6px 6px;
            -moz-border-radius: 0 6px 6px;
            border-radius: 0 6px 6px 6px;
        }

        .dropdown-submenu:hover > .dropdown-menu {
            display: block;
        }

        .dropdown-submenu > a:after {
            display: block;
            content: " ";
            float: right;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-left-color: #ccc;
            margin-top: 5px;
            margin-right: -10px;
        }

        .dropdown-submenu:hover > a:after {
            border-left-color: #fff;
        }

        .dropdown-submenu.pull-left {
            float: none;
        }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }
    </style>
    <link rel="stylesheet" href="{% static 'assets/css/spin.css' %}">

{% endblock %}

{% block dashcontent %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-box">
                <div class="panel-body">
                    <div class="col-lg-2 col-md-4">
                        {% include "clients/gislayers_dyanamic.html" %}
                    </div>
                    <div class="col-lg-10 col-md-8">
                        {% crispy form %}
                        <hr/>
                        <div class="col-md-12">
                            <div class="col-md-5">
                                <div ondragover="allowDrop(event)" ondrop="drop(event)">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                        <tr><th colspan="2">Variability Analysis</th></tr>
                                        <tr><th>Response</th><th>Influencer</th></tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td id="table_yield">&nbsp;</td>
                                            <td id="table_others">&nbsp;</td>
                                        </tr>
                                        <thead>
                                        <tr>
                                            <th colspan="2">Plots only</th>
                                        </tr>
                                        </thead>
                                        <tr>
                                            <td colspan="2" id="table_plotonly">&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <button class="btn btn-info" id="risk_calculator" onclick="calculate_risk()">
                                        Analyze field variability
                                    </button>
                                    <button class="btn btn-default" id="sampling_map" onclick="get_sampling_map()">
                                        Create Sampling Map
                                    </button>
                                    <button class="btn btn-default" id="zones" onclick="make_zones()">
                                        Create Zones
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div id="procmessages"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {##}
    {#    <div class="row">#}
    {#        <div class="col-md-4">#}
    {#            <div class="page-box">#}
    {#                <div class="panel-heading">#}
    {#                    <h4>Generate Field Zones</h4>#}
    {#                </div>#}
    {##}
    {#                <div>#}
    {#                    {% comment %}{% include "clients/nitrogenrec.html" %}{% endcomment %}#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-md-8">#}
    {#            <div class="page-box">#}
    {#                {% include "clients/gislayers.html" %}#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    <div class="row">
        <div class="col-md-12">
            <div class="page-box" id="risk-report">
                <div class="panel-body" id="calculation_table_div">
                </div>
                <div class="panel-body" id="variability_div">
                </div>
                <div class="panel-body" id="regression_div">
                </div>
            </div>
        </div>
    </div>

    {% block records_associated %}
        <div class="row">
        </div>
        <div class="row">
            <div class="col-md-12">
                {% include "clients/field_files.html" %}
            </div>
        </div>
    {% endblock %}

{% endblock %}

{% block pagescripts %}
    {% leaflet_js plugins="forms" %}
    {{ block.super }}
    <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
    <script src="{% static "assets/plugins/leaflet/leaflet.markercluster.js" %}"></script>
    <script src="{% static "assets/js/spin.min.js" %}"></script>
    <script src="{% static "assets/js/leaflet.spin.min.js" %}"></script>
    <script src="{% static 'assets/js/gis_common.js' %}"></script>
    <script src="{% static 'assets/js/gis.js' %}"></script>
    <script src="{% static 'assets/js/gis_layer_generator.js' %}"></script>
    <script src="https://unpkg.com/json5@^2.0.0/dist/index.min.js"></script>
    <script type="text/javascript">
        var loc = "{% url 'create_sample_map' pk=field.pk %}";
        var fieldname = "{{ field.name }}";
        var targets;
        var latest_raster;

        function risk_report() {
            $("#id-updateFieldFormGIS").submit();
            {#console.log(calculated_risk_data); #}
            {# var base = "{% url 'field_risk_report' pk=field.pk %}" + "?data="; #}
            {# var url = base + encodeURIComponent(JSON.stringify(calculated_risk_data)); #}
            {# window.open(url);#}
        }
    </script>
{% endblock %}

