{% load humanize %}
<ul class="list-group list-group-flush">
    {% if farm.fields.all.count %}
        {% for field in farm.fields.all %}
            <li class="list-group-item">{{ field.name }}
                ({{ field.area }} acres)
                <a href="{% url 'new_order' pk=field.pk %}">
                    <button class="btn btn-success btn-xs pull-right"
                            type="button" title="Create a new order on this field">
                        <i class="fa fa-chart-line"></i>
                    </button>
                </a>
                <a href="{% url 'field_detail' pk=field.pk %}">
                    <button class="btn btn-info btn-xs pull-right"
                            type="button" title="Edit this field">
                        <i class="fa fa-edit"></i>
                    </button>
                </a>
                <a href="{% url 'field_geo_details' pk=field.pk %}">
                    <button class="btn btn-warning btn-xs pull-right"
                            type="button" title="Go to the GIS View">
                        <i class="fa fa-map-pin"></i>
                    </button>
                </a>
                {% if field.layer.count == 0 %}
                <a href="{% url 'field_delete' pk=field.pk %}">
                    <button class="btn btn-danger btn-xs pull-right"
                            type="button" title="Delete this field">
                        <i class="fa fa-trash"></i>
                    </button>
                </a>
                {% endif %}
                <a href="{% url 'api_create_hall_pass' %}" field="{{ field.pk }}"
                   field_name="{{ field.name }}"
                   class="btn btn-primary btn-xs pull-right share_button"
                   role="button" title="Share this field with another user">
                    <i class="fa fa-share-square"></i>
                </a>
                </a>
                {% with passes=field.valid_hallpasses %}
                    {% if passes %}
                        <br>This field is shared with:
                        <ul>
                            {% for pass in passes %}
                                {% if not pass.expired %}
                                    <li class="shared-list">{{ pass.user.username }},
                                        Expires {{ pass.expiry|naturaltime }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </li>
        {% endfor %}
    {% else %}
        <p>No fields listed in this farm</p>
    {% endif %}
</ul>