{% extends "clients/fieldrecbase.html" %}
{% load static %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}


{% block pagestyles %}
    {{ block.super }}
    <style>
        i.nomargin {
            margin-right: 0px !important;
        }

        #sliders > tbody > tr > td {
            text-align: center;
        }

        .leaflet-container {
            height: 75vh !important;
        }
    </style>
{% endblock %}

{% block dashcontent %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-box">
                {% if "Grid" in formtype %}
                    <div>
                        <div class="col-md-3">
                            <div class="panel-heading">
                                <h4>To make a square grid:</h4>
                            </div>
                            <div class="panel-body">
                                <ul>
                                    <li>Create a grid sample points</li>
                                    <li>Adjust them with the sliders</li>
                                    <li>Refine boundaries with the draw tools</li>
                                    <li>Submit the map</li>
                                    <li>Download the resulting shapefile</li>
                                </ul>
                            </div>
                            <div class="panel-body" id="offset-slider">
                                <table class="table table-condensed" id="sliders">
                                    <thead>
                                    <tr>
                                        <th colspan="3">Adjustments</th>
                                        <th>Grid</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <button class="btn btn-rounded btn-bordered-default" id="grid_counterclock">
                                                <i class="fa fa-undo nomargin"></i></button>
                                        </td>
                                        <td>
                                            <button class="btn btn-rounded btn-bordered-default" , id="grid_north">
                                                <i class="fa fa-arrow-up nomargin"></i></button>
                                        </td>
                                        <td>
                                            <button class="btn btn-rounded btn-bordered-default" , id="grid_clock">
                                                <i class="fa fa-undo fa-flip-horizontal nomargin"></i></button>
                                        </td>
                                        <td>
                                            <small>Size</small>
                                            <div class="input-group">
                                                <input type="text" class="form-control grid_text" id="gridarea"
                                                       placeholder="Grid size" value="2.5"
                                                       aria-label="Grid Area in Acres" aria-describedby="acre-addon">
                                                <div class="input-group-addon">
                                                    <span class="input-group-text" id="acre-addon">acres</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button class="btn btn-rounded btn-bordered-default" id="grid_west">
                                                <i class="fa fa-arrow-left nomargin"></i></button>
                                        </td>
                                        <td>
                                            <button class="btn btn-rounded btn-bordered-default" id="grid_reset">
                                                <i class="fa fa-crosshairs nomargin"></i></button>
                                        </td>
                                        <td>
                                            <button class="btn btn-rounded btn-bordered-default" id="grid_east">
                                                <i class="fa fa-arrow-right nomargin"></i></button>
                                        </td>
                                        <td>
                                            <small>Rotate</small>
                                            <div class="input-group">
                                                <input type="text" class="form-control grid_text" id="roffset"
                                                       placeholder="Rotate" value="0"
                                                       aria-label="Rotate" aria-describedby="r-addon">
                                                <div class="input-group-addon">
                                                    <span class="input-group-text" id="r-addon">deg</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <button class="btn btn-rounded btn-bordered-default" id="grid_south">
                                                <i class="fa fa-arrow-down nomargin"></i></button>
                                        </td>
                                        <td></td>
                                        <td>
                                            <small>Translate</small>
                                            <div class="input-group">
                                                <input type="text" class="form-control grid_text" id="nsoffset"
                                                       placeholder="Nudge" value="0"
                                                       aria-label="Nudge North-South" aria-describedby="ns-addon">
                                                <div class="input-group-addon">
                                                    <span class="input-group-text" id="ns-addon">N-S ft</span>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <input type="text" class="form-control grid_text" id="ewoffset"
                                                       placeholder="Nudge" value="0"
                                                       aria-label="Nudge East-West" aria-describedby="ew-addon">
                                                <div class="input-group-addon">
                                                    <span class="input-group-text" id="ew-addon">E-W ft</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-heading">
                                <h4>...or tesselate the field using Voronoi's method</h4>
                            </div>
                            <div class="panel-body">
                                <ul>
                                    <li>Click on "Voronoi Tessellation"</li>
                                    <li>Submit the map</li>
                                    <li>Download the resulting shapefile</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div>
                        <div class="col-md-3">
                            <div class="panel-heading">
                                <h3>Edit the sampling map</h3>
                            </div>
                            <div class="panel-body">
                                <ul>
                                    <li>Use the tools provided to adjust regions and points</li>
                                    <li>Submit the map</li>
                                    <li>Download the resulting shapefile from the GIS page</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                {% endif %}
                <div class="col-md-9">
                    <div class="panel-body">
                        <small>

                        </small>
                        {% crispy form %}
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
    </div>

    {% block records_associated %}
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Generate Square Grid</h4>
                        <p id="order"></p>
                    </div>
                    <div class="modal-body">
                        <form id="modal-form">
                            <div class="modal-form-group">
                                <label for="area">Grid Size in Acres</label><br>
                                <input type="text" id="area" value="2.5"><br>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="modal-save" class="btn btn-primary">Generate Grid</button>
                        <button type="button" id="modal-close" class="btn btn-default" data-dismiss="modal">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}

{% block pagescripts %}
    {{ block.super }}
    <script type="text/javascript">
        var mapsList = [];
        var extent = [{{ extent }}];
        var raster = '{{ file }}';
        var samplelayer = null;
        var regionlayer = null;
        var control = L.control.layers();
        var buffered_boundary = null;
        var locating_pin = false;
        var precise_points = new L.FeatureGroup();

        $("#button-id-makeshp").click(function (e) {
            e.preventDefault();
            {% if object.pk %}
                window.location.href = "{% url 'sample_map_shapefile' pk=object.pk %}"
            {% endif %}
        })
    </script>
    <script src="{% static "assets/js/spin.min.js" %}"></script>
    <script src="{% static "assets/js/leaflet.spin.min.js" %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/samplerselect.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/turf.min.js' %}"></script>
{% endblock %}