{% extends "clients/new_field.html" %}
{% load static %}
{% load humanize %}

{% block pagestyles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'assets/css/dropzone.css' %}">
{% endblock %}


{% block records_associated %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-box">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4>File storage</h4>
                                </div>
                                <div class="dropzone container-fluid" id="container-dropzone">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4>
                                        Previous Orders on this Field
                                    </h4>
                                </div>
                                <div class="panel-body">
                                    {% block order_forms %}
                                        {% if field.orders.all %}
                                            <table class="table">
                                                <tr>
                                                    <th>Order</th>
                                                    <th>Status</th>
                                                    <th>Products</th>
                                                    <th>Actions</th>
                                                </tr>
                                                {% for o in field.orders.all %}
                                                    <tr>
                                                        <td>
                                                            <a href="{% url 'order_detail' pk=o.pk %}">{{ o.order_number }}</a>
                                                        </td>
                                                        <td>{{ o.order_status }}
                                                        </td>
                                                        <td>{% for p in o.products.all %}
                                                            {{ p }}
                                                        {% endfor %}
                                                        </td>
                                                        <td>
                                                            <a href="{% url 'order_reorder' pk=o.pk %}" title="Reorder"><i
                                                                    class="fa fa-redo"></i>&nbsp;</a>
                                                            <a href='/orders/{{ o.pk }}/?format=pdf&cached=1'
                                                               title="Get Report"><i
                                                                    class="fa fa-file-pdf"></i>&nbsp;</a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        {% endif %}
                                    {% endblock %}
                                    <a href="{% url 'new_order' pk=field.pk %}">
                                        <button class="btn btn-success btn-xs pull-left" type="button">
                                            <i class="fa fa-chart-line"></i>
                                            New Order
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        {% include "clients/field_files.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block pagescripts %}
    {{ block.super }}
    <script src="{% static 'assets/js/dropzone.js' %}"></script>
    <script src="{% static 'assets/js/blm_api.js' %}"></script>
    <script>
        var fieldcalendarurl = "{% url 'api_field_events_json' pk=field.pk %}";
        Dropzone.autoDiscover = false;
        var myDropZone = new Dropzone("div#container-dropzone", {
            url: "fileupload/",
            headers: {
                'X-CSRFToken': $("#id_labcorecsrf").val()
            }
        });
        var plss = [];
    </script>
{% endblock %}