<div>
    <table id="eventstable" class="table datatable table-responsive table-striped table-bordered">
        <thead>
        <th>Created</th>
        <th>Field</th>
        <th>Category</th>
        <th>Event</th>
        <th>Start</th>
        <th>Details</th>
        </thead>
        <tbody>
        </tbody>
    </table>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var eTable = $('#eventstable').dataTable({
                order: [[4, "desc"]],
                paging: true,
                stateSave: true,
                pagingType: "numbers",
                responsive: true,
                columnDefs: [
                    {
                        name: "created",
                        orderable: true,
                        searchable: false,
                        targets: [0],
                        render: $.fn.dataTable.render.moment(moment.ISO_8601, 'MM/DD/YYYY')
                    },
                    {
                        name: "field",
                        orderable: true,
                        searchable: true,
                        targets: [1]
                    },
                    {
                        name: "category",
                        orderable: true,
                        searchable: false,
                        targets: [2]
                    },
                    {
                        name: "event",
                        orderable: true,
                        searchable: true,
                        targets: [3]
                    },
                    {
                        name: "started",
                        orderable: true,
                        searchable: false,
                        targets: [4],
                        render: $.fn.dataTable.render.moment(moment.ISO_8601, 'MM/DD/YYYY')
                    },
                    {
                        name: "details",
                        orderable: false,
                        searchable: true,
                        targets: [5]
                    }
                ],
                "processing": true,
                "serverSide": true,
                "ajax": "{% if client.pk %}{% url 'event_list_json' pk=client.pk %}{% else %}{% url 'event_list_json_all' %}{% endif %}"
            });
        });
    </script>

</div>