<div class="panel panel-default" id="panel-template" style="display: none">
    <div class="panel-heading" role="tab" id="heading">
        <h6 class="panel-title" style="font-size: 12px !important;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_l_id"
               aria-expanded="false" aria-controls="collapse_l.id" class="collapsed">
            </a>
        </h6>
    </div>
    <div id="collapse_l_id" class="panel-collapse collapse" role="tabpanel"
         aria-labelledby="heading_l_id"
         aria-expanded="false" style="height: 0.99359px;">
        <div class="panel-body" ondragover="allowDrop(event)" ondrop="drop(event)">
            <div class="layer-actions">

            </div>
            <div id="field_names-template" style="display: none;">
            </div>
        </div>
    </div>
</div>


<div class="btn-group fieldname">
    <button type="button" class="btn btn-xs dropdown-toggle"
            id=""
{#            ondragstart="drag(event)"#}
            style="text-transform: none !important;"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    </button>
    <ul class="dropdown-menu mainlist">
    </ul>
</div>

