{% load static %}
{% load humanize %}
{% load gislayers_extras %}

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading{{ l.id }}">
        <h6 class="panel-title" style="font-size: 12px !important;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ l.id }}"
               aria-expanded="false" aria-controls="collapse{{ l.id }}" class="collapsed">
                {% if l.editable %}
                    <i class="fa fa-lock-open">&nbsp;</i>
                {% else %}
                    <i class="fa fa-lock">&nbsp;</i>
                {% endif %}
                {% if l.dbf_field_values.order and l.polygons_only %}
                    <i class="fa fa-calculator" style="color: green">&nbsp;</i>
                {% endif %}
                {% if l.points_only %}
                    <i class="fa fa-map-pin" title="Point layer">&nbsp;</i>
                {% elif l.polygons_only %}
                    <i class="fa fa-vector-square" title="Polygon layer">&nbsp;</i>
                {% else %}
                    <i class="fa fa-shapes">&nbsp;</i>
                {% endif %}
                {{ l.name }}
            </a>
        </h6>
    </div>
    <div id="collapse{{ l.id }}" class="panel-collapse collapse" role="tabpanel"
         aria-labelledby="heading{{ l.id }}"
         aria-expanded="false" style="height: 0.99359px;">
        <div class="panel-body" ondragover="allowDrop(event)" ondrop="drop(event)">
            <div>
                <div>
                    {{ l.features }} features, Created: {{ l.date_created|naturaltime }}
                </div>
                <div>
                    <a href="{% url 'subfield_details' pk=l.id %}"
                       class="btn btn-xs"
                       title="View details">
                        <i class="fa fa-eye" style="color: blue"></i>
                    </a>
                    {% if l.editable %}
                        <a href="{% url 'subfield_update' pk=l.id %}"
                           class="btn btn-xs"
                           title="Edit name">
                            <i class="fa fa-edit" style="color: blue"></i>
                        </a>
                    {% endif %}
                    <a href="{% url 'remove_raster_cache' pk=l.id %}"
                       class="btn-remove-cache btn btn-xs"
                       title="Remove Cached Rasters">
                        <i class="fa fa-eraser" style="color: red"></i>
                    </a>

                    <a href="{% url 'delete_subfield_layer' pk=l.id %}"
                       class="btn btn-xs"
                       title="Delete Layer">
                        <i class="fa fa-trash" style="color: red"></i>
                    </a>
                    {% if l.source_file_event %}
                        <a href="{% url 'fieldevent_file' pk=l.source_file_event.pk %}"
                           class="btn btn-xs"
                           title="Download related file">
                            <i class="fa fa-download" style="color: blue"></i>
                        </a>
                    {% else %}
                        <a href="{% url 'subfield_download' pk=l.id %}"
                           class="btn btn-xs"
                           title="Get shapefile">
                            <i class="fa fa-download" style="color: blue"></i>
                        </a>
                    {% endif %}
                    {#                    <a href="{% url 'duplicate_subfield_layer' pk=l.id %}"#}
                    <a href="{% url 'api_subfield_duplicate' pk=l.id %}"
                       class="btn-duplicate-layer btn btn-xs"
                       title="Create another Layer with polygons from this one">
                        <i class="fa fa-copy" style="color: blue"></i>
                    </a>
                    <a href="{% url 'api_set_boundary' pk=l.id %}"
                       class="btn-set-boundary btn btn-xs"
                       title="Simplify and set as field boundary">
                        <i class="fa fa-draw-polygon" style="color: blue"></i>
                    </a>
                    {% if l.dbf_field_values.order and l.polygons_only %}
                        <a href="{% url 'rec_generator' pk=l.id %}"
                           class="btn-rec btn btn-xs"
                           title="Generate Recommendation from this layer">
                            <i class="fa fa-calculator" style="color: green">&nbsp;</i>
                        </a>
                    {% endif %}
                </div>
            </div>
            <div>
                {% for f in l.dbf_field_names.field_names %}
                    {% if f == "Sampling Map" %}
                        <a href="{% url 'update_sample_map' pk=l.id %}"
                           role="button"
                           class="btn btn-xs btn-bordered-default">{{ f }}</a>
                    {% else %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs dropdown-toggle
                                                    {% if f in l.dbf_field_values.keys %}
                                                        btn-bordered-info
                                                    {% else %}
                                                        btn-bordered-default
                                                    {% endif %}" draggable="true"
                                    id="btnid:{{ field.pk }}:{{ l.name }}:{{ l.id }}:{{ f }}"
                                    ondragstart="drag(event)"
                                    style="text-transform: none !important;"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ f }} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a id="id:{{ field.pk }}:{{ l.name }}:{{ l.id }}:{{ f }}"
                                       class="btn-geo"
                                       href="{% url 'field_geo_layer' pk=field.pk subfield=l.id file=l.name|urlencode:'' parameter=f|urlencode:'' %}"
                                    >View on Map</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a class="set_response" href="#">Set as Response</a></li>
                                <li><a class="set_influencer" href="#">Set as Influencer</a></li>
                                <li><a class="just_plot" href="#">Just Plot</a></li>
                                <li role="separator" class="divider"></li>
                                {% if f in l.dbf_field_values.keys %}
                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" class="merge_layer" href="#">
                                            Bring this data into</a>
                                        <ul class="dropdown-menu">
                                            {% for target in layers %}
                                                {% if target.polygons_only and target.name != "Soil Survey Data" %}
                                                    <li><a tabindex="-1" class="bring-in"
                                                           href="{% url 'bring_in_subfield_layer' pk=l.id target=target.id param=f|urlencode:'' agg='mean' %}">
                                                        {{ target.name }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    {% with f|formulas as formoolas %}
                                        {% if formoolas and l.editable %}
                                            <li role="separator" class="divider"></li>
                                            <li class="dropdown-submenu">
                                                <a tabindex="-1" class="apply_formula" href="#">
                                                    Apply formula</a>
                                                <ul class="dropdown-menu">
                                                    {% for formula in formoolas %}
                                                        <li><a tabindex="-1" class="apply-formula"
                                                               title="{{ formula.description }}"
                                                               href="{% url 'apply_formula_on_subfield' pk=l.id formula=formula.id %}">
                                                            {{ formula.name }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endif %}
                                    {% endwith %}
                                    {% if l.points_only %}
                                        <li role="separator" class="divider"></li>
                                        <li>
                                            <a tabindex="-1"
                                               title="Experimental!"
                                               href="{% url 'create_sample_grid_from_points' pk=l.id %}">
                                                Create Sampling Map</a>
                                        </li>
                                    {% endif %}
                                {% else %}
                                    <li><a href="#">View first to import into other layers</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>