<div class="accordian">
    <h5>{{ layers.count }} GIS Layers Associated with {{ field.name }}</h5><br>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% for l in layers %}
            {% include 'clients/gis_layer_stub.html' %}
        {% endfor %}
    </div>
</div>

{% comment %}
<div class="panel-heading">
    <h4>GIS Layers Associated with {{ field.name }}</h4>
</div>
<div class="panel-body">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>File</th>
            <th>Parameters</th>
        </tr>
        </thead>
        <tbody>
        {% for l in layers %}
            <tr>
                <td>{{ l.name }}, {{ l.features }} features
                    <span class="pull-right">
                        <a href="{% url 'remove_raster_cache' pk=l.pk %}" class="btn-remove-cache">
                        <i class="fa fa-eraser" style="color: red"></i>
                        </a>
                    </span>
                </td>
                <td ondragover="allowDrop(event)" ondrop="drop(event)">
                    {% for f in l.dbf_field_names.field_names %}
                        {% if f == "Sampling Map" %}
                            <a href="{% url 'update_sample_map' pk=l.pk %}"
                               role="button"
                               class="btn btn-xs btn-bordered-default">{{ f }}</a>
                        {% else %}
                            <a href="{% url 'field_geo_layer' pk=field.pk file=l.name|urlencode:'' parameter=f|urlencode:'' %}"
                               role="button" draggable="true" ondragstart="drag(event)"
                               id="id:{{ field.pk }}:{{ l.name }}:{{ f }}"
                               style="text-transform: none !important;"
                               class="btn btn-xs btn-geo
                                                    {% if f in l.dbf_field_values.keys %}
                                                        btn-bordered-info
                                                    {% else %}
                                                        btn-bordered-default
                                                    {% endif %}
                                                        ">{{ f }}</a>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>{% endcomment %}
