<div class="accordian">
    <h5 id="gis_layer_title"><span id="stubcount">{{ layers.count }}</span> GIS Layers Associated with {{ field.name }}
    </h5><br>
    <div>
        <input id="gis_layer_search" class="form-control" placeholder="Filter layers" value="">
        <br>
    </div>
    <div id="gisstubs" class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% for l in layers %}
            <div id="layer_{{ l.pk }}" class="gisstub" lyrid={{ l.pk }} name="{{ l.name }}">
                <small>Loading {{ l.name }}</small>
            </div>
        {% endfor %}
    </div>
</div>
<div class="templates_test">
    {% include 'clients/gis_layer_stub_template.html' %}
</div>


