<div id="shareModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="sharemodal-title">Modal header</h4>
                <div id="modal-error-message" class="alert alert-danger"></div>
            </div>
            <div class="modal-body">
                <form id="hallpass-modal-form">
                    {% csrf_token %}
                    <div class="modal-form-group">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" id="username" value="NA" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="duration">Expires in</label>
                            <input type="text" id="duration" class="form-control" value="">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="schdmodal-save" class="btn btn-primary">Save</button>
                <button type="button" id="schdmodal-close" class="btn btn-default" data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>