{% extends "clients/fieldrecbase.html" %}
{% load static %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}
{% load static %}

{% block pagestyles %}
    {{ block.super }}
    {#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">#}
    {#    <link rel="stylesheet" media="print"#}
    {#          href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css">#}
    <style>
    img.calimage {
        width: 2.5em;
    }
    </style>
{% endblock %}

{% block dashcontent %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-box">
                <div class="panel-body">
                    {% crispy form %}
                    <div id="mapcan">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block records_associated %}

    {% endblock %}
    {% if field.pk %}
        <div class="row">
            <div class="col-md-12">
                <div class="page-box" id="fieldhistory">
                    <div class="panel-heading">
                        <h2>Field Journal</h2>
                    </div>
                    <div class="panel-body">
                        <div id='wrap'>
                            <div id='external-events'>
                                <div id='external-events-listing'>
                                    <h4>Drag Field Events onto Calendar</h4>
                                    <br>
                                    <input type="text" class="form-control" id="eventInput" onkeyup="eventSearch()"
                                           placeholder="Search..">
                                    {% if events %}
                                        <ul id="fieldevents_list">
                                            {% for cat, evts in events.items %}
                                                <li class="categoryLabel" style="color:{{ cat.color }}">
                                                    <strong>{{ cat.name }}</strong>
                                                    <ul id="category_{{ cat }}">
                                                        {% for e in evts %}
                                                            <li class='fc-event'
                                                                style="background:{{ cat.color }}"
                                                                id="event_{{ e.pk }}"
                                                                name="{{ e.name }}"
                                                                rendercolor="{{ cat.color }}">
                                                                {% if e.icon %}
                                                                    <img width="24px"
                                                                         src="{{ e.icon.url }}"
                                                                         alt="icon"
                                                                         />
                                                                {% endif %}
                                                                <strong>{{ e.name }}</strong>
                                                                {% for cf in e.custom_fields.all %}
                                                                    <p hidden id="{{ cf.pk }}"
                                                                       name="{{ cf }}"
                                                                       help_text="{{ cf.help_text }}">{{ cf.value }}</p>
                                                                {% endfor %}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                            {% include "fieldcalendar/field_calendar_stub.html" %}
                            <div style='clear:both'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}

{% block pagescripts %}
    {{ block.super }}

    {#    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js'></script>#}
{% endblock %}
