<div class="panel-heading">
    <h4>Develop Nitrogen Recommendations</h4>
    <small>Leave factors blank for default values</small>
    <div id="fsn_zone"></div>
</div>
<div class="panel-body" ondragover="allowDrop(event)" ondrop="recdrop(event)">
    <h5>Establish crop demand</h5>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Parameter</th>
            <th>Data</th>
            <th>Factor</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Yield / PI (required)</td>
            <td id="yld"></td>
            <td><input type="text" name="yld_factor" size="8"> bu/PI unit</td>
        </tr>
        <tr>
            <td>Seeding rate</td>
            <td id="seed"></td>
            <td><input type="text" name="seed_factor" size="8"> x1000 plants</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="panel-body" ondragover="allowDrop(event)" ondrop="recdrop(event)">
    <h5>Estimate soil supply</h5>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Parameter</th>
            <th>Data</th>
            <th>Factor</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Organic C (as %LOI, required)</td>
            <td id="orgc"></td>
            <td><input type="text" name="orgc_factor" size="8"> xC:N ratio</td>
        </tr>
        <tr>
            <td>Organic N (in ppm, required)</td>
            <td id="orgn"></td>
            <td>NA</td>
        </tr>
        <tr>
            <td>Water holding capacity (required)</td>
            <td id="aws"></td>
            <td><input type="text" name="aws_factor" size="8"> N/mm</td>
        </tr>
        <tr>
            <td>Soil pH (required)</td>
            <td id="ph"></td>
            <td><input type="text" name="ph_factor" size="8"> lb/unit</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="panel-body" ondragover="allowDrop(event)" ondrop="recdrop(event)">
    <h5>Compensate for losses</h5>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Parameter</th>
            <th>Data</th>
            <th>Factor</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Slope (required)</td>
            <td id="slp"></td>
            <td><input type="text" name="slp_factor" size="8"> slope factor</td>
        </tr>
        <tr>
            <td>Fixed offset</td>
            <td id="offset">NA</td>
            <td><input type="text" name="offset_factor" size="8"> lbs/ac</td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-info" id="rec_calculator" disabled="true" onclick="calculate_rec()">Calculate Recommendation
    </button>
    <div id="recmessages"></div>
</div>