{% load variability_report_extras %}
{% load leaflet_tags %}
<div class="mapdiv col-sm-12">
    <h3>{{ plot.0|format_parameter }}</h3>
    <div class="mapbox">
        <a href="{{ plot.0|parameter_url }}"></a>
        {% leaflet_map plot.0 %}
    </div>
    <div class="legendbox">
    </div>
</div>
