{% extends "clients/subfieldlayer_detail.html" %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block dashcontent %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-box">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="Update Name" class="btn btn-primary">
                </form>

            </div>
        </div>
    </div>
    {{ block.super }}
{% endblock %}