{% extends "clients/fieldrecbase.html" %}
{% load static %}
{% load humanize %}
{% load gislayers_extras %}

{% block pagestyles %}
    {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <div class="breadcromb-area">
                <div class="row">
                    <div class="col-md-4  col-sm-4">
                        <div class="seipkon-breadcromb-left">
                            <h3>{{ formtype }}</h3>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <div class="seipkon-breadcromb-right">
                            <ul>
                                <li><a href="/dashboard/">Dashboard</a></li>
                                {% if orguser %}
                                    <li><a href="{% url 'client_list' %}">Clients</a></li>
                                {% endif %}
                                {% if client %}
                                    <li><a href="{% url 'client_detail' pk=client.pk %}">{{ client.name }}
                                        {% if not client.active %}<strong> (Inactive)</strong>{% endif %}
                                    </a></li>
                                {% endif %}
                                {% if farm %}
                                    <li><a href="{% url 'farm_detail' pk=farm.pk %}">{{ farm }}</a></li>
                                {% endif %}
                                {% if field %}
                                    <li><a href="{% url 'field_geo_details' pk=field.pk %}">{{ field.name }}
                                        {% if field.area %}({{ field.area }} acres) {% endif %}
                                    </a></li>
                                {% endif %}
                                <li>{{ object.name }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block dashcontent %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-box">
                <div class="container-fluid">
                    <h3>{{ object.name }}
                        {% if "details" in request.path and object.editable %}
                            <a class="btn btn-info pull-right" href="{% url 'subfield_update' pk=object.pk %}">
                                <i class="fa fa-edit"></i> Edit this name</a>
                        {% endif %}
                    </h3>
                </div>
                <div class="container-fluid">
                    <h4>{{ object.field }} {% if field.area %}({{ field.area }} acres) {% endif %}
                        <a class="btn pull-right btn-primary"
                           href="{% url 'field_geo_details' pk=field.pk %}">
                           Go to {{ field.name }}
                        </a>
                    </h4>
                </div>
                <div class="container-fluid">
                    <table class="table table-condensed table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Parameter</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Date Created</td>
                            <td>{{ object.date_created|naturalday }}</td>
                        </tr>
                        <tr>
                            <td>Date Modified</td>
                            <td>{{ object.date_modified|naturalday }}</td>
                        </tr>
                        <tr>
                            <td>Features</td>
                            <td>{{ object.features }}<br>
                                Points: {{ object.points|length }}<br>
                                Polygons: {{ object.polygons|length }}<br>
                                Geoms: {{ object.geoms|length }}
                            </td>
                        </tr>
                        <tr>
                            <td>Parameters Available</td>
                            <td>{{ object.dbf_field_names.field_names|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>Parameters Cached<br><strong>* Area totals are meaningful only for product
                                amounts</strong>
                            </td>
                            <td>
                                <table class="table table-condensed">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Average/acre</th>
                                        <th>Area Total*</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for par in object.dbf_field_values.keys %}
                                        {% if par in object.dbf_field_names.field_names %}
                                            <tr>
                                                <td>{{ par }}</td>
                                                <td>{{ object|area_avg:par|floatformat }}</td>
                                                <td>{{ object|area_sum:par|floatformat }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>Source File</td>
                            <td>{{ object.source_file }}</td>
                        </tr>
                        <tr>
                            <td>Process Logs</td>
                            <td>{{ object.dbf_field_values.process_logs }}</td>
                        </tr>
                        <tr>
                            <td>Processing Updates</td>
                            <td>
                                <ul>
                                    {% for update in object.dbf_field_values.updates %}
                                        <li>{{ update }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Cached Rasters</td>
                            <td>{% for r in object.rasterfile_set.all %}
                                {{ r.file.name }}<br>
                            {% endfor %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}