{% extends "dashboard/print_base.html" %}
{% load static %}
{% load leaflet_tags %}
{% load humanize %}
{% load variability_report_extras %}

{% block pagetitle %}Variability Analysis Report for {{ object.field.name }}{% endblock %}

{% block pagestyles %}
    {{ block.super }}
    {% leaflet_css plugins="forms" %}
    <style>
        @page {
            size: portrait;
            margin: 10mm 10mm 10mm 10mm;
            counter-increment: page;
            @bottom-right {
                content: "page " counter(page) " of " counter(pages);
                font-family: Arial, sans-serif;
                font-size: 10px;
            }
        }

        body {
            font-family: 'Roboto', sans-serif;
            font-size: 13px;
            line-height: 24px;
            color: #000000;
            font-weight: 400;
        }

        .leaflet-container { /* all maps */
            height: 100%;
            width: 100%;
        }

        .info {
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255, 255, 255, 0.8);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
        }

        div.mapdiv {
            page-break-inside: avoid;
            height: 4.8in;
        }

        div.mapbox {
            width: 5.5in;
            height: 4.5in;
            display: inline-block;
        }

        div.legendbox {
            width: 1.5in;
            display: inline-block;
            padding-left: 5px;
            vertical-align: top;
        }

        div.legendtile {
            width: 1em;
            height: 1em;
            display: inline-block;
            -webkit-print-color-adjust: exact;
            vertical-align: middle;
            padding: 3px;
            border: 1px solid grey;
        }

        div.legendtext {
            display: inline-block;
            vertical-align: middle;
            padding-left: 3px;
            font-size: 11px;
        }

        div.marker {
            -webkit-print-color-adjust: exact;
        }

        path.leaflet-interactive {
            fill-opacity: 0.05 !important;
            stroke: #eab700;
        }

        .maptooltip {
            padding: 1px !important;
            font-size: 10px;
            line-height: 1em;
            font-weight: bold;
        }

        #preview {
            background: #f9f9f9;
            position: relative;
            color: #fff;
            float: left;
            width: 220px;
            height: 220px;
            margin: 0 20px 20px 0;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            clear: both;
        }

        #canvas-preview {
            width: 200px;
            top: 100px;
            position: relative;
        }

        #preview-textfield {
            position: absolute;
            top: 100px;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 2em;
            font-weight: bold;
            color: black;
            font-family: 'Amaranth', sans-serif;
        }
    </style>
{% endblock %}

{% block dashcontent %}
    {% load contact_extras %}

    <div style="width: 100%">
        <div style="width: 40%; display: inline-block; vertical-align: top">
            {% if orgimage %}
                <div class="seipkon-logo">
                    <img class="seipkon-logo" src="{{ orgimage }}" alt="logo"> <br>
                </div>
                {{ org.company.address.first }} <br>
                {{ org.company.phone.first }} <br>
                {% if org.company.fax %}{{ org.company.fax }}<br>{% endif %}
                {{ org.company.url }}<br>
            {% else %}
                <div class="seipkon-logo">
                    <img class="seipkon-logo" src="{{ object.lab_processor.company.image.url }}" alt="logo"> <br>
                </div>
                {{ object.lab_processor.company.address.first }} <br>
                {{ object.lab_processor.company.phone.first|usphone }} <br>
                {% if object.lab_processor.company.fax %}{{ object.lab_processor.company.fax|usphone }}<br>{% endif %}
                {{ object.lab_processor.company.url }}<br>
            {% endif %}
            <h1>Field Variability Analysis</h1>
        </div>
        <div style="width: 59%; display: inline-block; vertical-align: top;">
            <div style="display: inline-block; vertical-align: top; float: right">
                <table class="bannertable">
                    <tr>
                        <td><h2>Report</h2></td>
                        <td><h2>{{ object.pk }}</h2></td>
                    </tr>
                    <tr>
                        <td><b>Report Date</b></td>
                        <td>{% now "m/d/Y" %}</td>
                    </tr>
                    <tr>
                        <td><b>Dealer</b></td>
                        <td>{{ object.field.farm.client.originator.organization.company.name }}</td>
                    </tr>
                    <tr>
                        <td><b>Client</b></td>
                        <td>{{ object.field.farm.client.name }}</td>
                    </tr>
                    <tr>
                        <td><b>Farm</b></td>
                        <td>{{ object.field.farm.name }}</td>
                    </tr>
                    <tr>
                        <td><b>{% if object.field.name.0 == "L" and object.field.name.1 == "F" %}
                            Facility
                        {% else %}Field{% endif %}
                        </b></td>
                        <td>{{ object.field.name }}</td>
                    </tr>
                </table>
            </div>
            <div style="display: inline-block; vertical-align: top; float: right">
                <div id="complexity_index">
                    <div id="preview">
                        <canvas width="200" height="100" id="gauge"
                                style="width: 200px; height: 100px;"></canvas>
                        <div id="preview-textfield"
                             style="font-size: 41px; position: absolute">
                            {{ object.data.complexity|floatformat:3 }}<br>
                            <p style="font-size: 12px;">Lower is better.<br>A highly variable field would have a complexity index of 1.</p>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="row">
            <div class="panel">
                <div class="panel-heading">
                    <h2>Analyst's Observations</h2>
                </div>
                <div class="panel-body">
                    <h4>Complexity index</h4>
                    {{ object.description|safe }}
                </div>
            </div>
            {% for plot in yield_plots %}
                {% include "clients/report_map.html" %}
            {% endfor %}
            {% for plot in other_plots %}
                {% include "clients/report_map.html" %}
            {% endfor %}
            {% for plot in just_plots %}
                {% include "clients/report_map.html" %}
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-12">
        <div class="row">
            <div class="panel-heading">
                <br>
                <h2>Yield Variability Analysis</h2>
                <small>The columns below were used in developing a composite picture of your field variability
                    and the factors that determine it. Darker areas correspond to higher yields.
                </small>
            </div>
            <div class="mapdiv col-sm-12">
                <div class="mapbox">
                    {{ fielddisplay }}
                </div>
            </div>
            <div class="panel-body" id="risk-report">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Colors</th>
                        <th>% Area</th>
                        {% for r in object.data.yield %}
                            <th>{{ r|format_parameter }}</th>
                        {% endfor %}
                        {% for r in object.data.elevation %}
                            <th>{{ r|format_parameter }} (change)</th>
                        {% endfor %}
                        {% for r in object.data.others %}
                            <th>{{ r|format_parameter }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in table %}
                        {% if not forloop.first %}
                            <tr>
                                <td bgcolor="{{ row.0 }}"><span class='glyphicon glyphicon-stop'
                                                                style='color:{{ row.0 }} !important;'></span></td>
                                <td>{{ row.1|floatformat:1 }}</td>
                                {% for c in row.2 %}
                                    <td>{{ c|floatformat:1 }}</td>
                                {% endfor %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="row">
            <div class="panel">
                <div class="panel-heading">
                    <br>
                    <h4>Yield Variability Analysis Details</h4>
                </div>
                <div class="panel-body" id="regression-report">
                    {% for reg in object.data.risk %}
                        <div class="col-md-12">
                            <div class="panel-heading">
                                Model {{ forloop.counter }}
                            </div>
                            <div class="panel-body">
                                <h5>Response:
                                    {{ reg.0|format_parameter }}</h5>
                                If the affecting value were zero, your response would be
                                between {{ reg.2.0.0|floatformat:1 }} and {{ reg.2.0.1|floatformat:1 }} units.
                                <h5>Affecting variable:
                                    {{ reg.1|format_parameter }}</h5>
                                Your response is affected between {{ reg.2.1.0|floatformat:1 }} and
                                {{ reg.2.1.1|floatformat:1 }}
                                units for every unit of the influencing variable.
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block pagescripts %}
    <script src="{% static 'assets/js/jquery-3.1.0.min.js' %}"></script>
    <script src="{% static 'assets/js/gauge.min.js' %}"></script>
    {% leaflet_js plugins="forms" %}
    {{ block.super }}
    <script src="{% static "assets/js/spin.min.js" %}"></script>
    <script src="{% static "assets/js/leaflet.spin.min.js" %}"></script>
    <script type="text/javascript">
        var mapsList = [];
        let reporturl = "{{ report.image.file.url }}";
        $("#id_report").val({{  report.pk }});
        let bounds = {{ report.data.extent }};

        L.Map.addInitHook(function () {
            mapsList.push(this); // Use whatever global scope variable you like.
            this.removeControl(this.zoomControl);
            //this.removeControl(this.drawControlid_polygons);
            var boundary_layer;
            MyGeometryField = L.GeometryField.extend({
                addTo: function (map) {
                    L.GeometryField.prototype.addTo.call(this, map);
                    // Customize map for field
                    boundary_layer = this;
                    boundary_layer.drawnItems.setStyle({fillOpacity: 0.0});
                }
            });
            this.on('click', function () {
                var hyb = L.gridLayer.googleMutant({
                    type: 'hybrid' // valid values are 'roadmap', 'satellite', 'terrain' and 'hybrid'
                }).addTo(this);
                this.panTo(this.getCenter());
                this._onResize();
                this.invalidateSize();

                try {
                    if ($(this._container).siblings("a").length) {
                        let imageurl = $(this._container).siblings("a").attr("href");
                        var legend_div = $($($(this._container).closest("div.mapbox")).siblings("div.legendbox")[0]);
                        generate_map(imageurl, imageurl + "raster/", this, legend_div);
                    } else {
                        // this is the risk map
                        L.imageOverlay(reporturl, bounds).addTo(this);
                        this.fitBounds(bounds);
                    }
                } catch (e) {
                    console.log(e);
                }
            });
            var a = this;
            setTimeout(function () {
                a.fireEvent("click");
            }, 1000);
        });

        $(document).ready(function () {
            var target = document.getElementById('gauge'); // your canvas element
            var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
            gauge.maxValue = 1; // set max gauge value
            gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
            gauge.animationSpeed = 32; // set animation speed (32 is default value)
            gauge.set({{ object.data.complexity|floatformat:3 }}); // set actual value
        });

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}" async defer></script>
    <script src='https://unpkg.com/leaflet.gridlayer.googlemutant@latest/Leaflet.GoogleMutant.js'></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <script src="{% static "assets/plugins/leaflet/leaflet.markercluster.js" %}"></script>

    <script src="{% static 'assets/js/gis_common.js' %}"></script>
    <script src="{% static 'assets/js/gis_variability.js' %}"></script>
{% endblock %}