{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block content %}
    <style>
        li.alert-warning {
            background-color: #f2dede !important;
            border-color: #ebcccc;
            color: #a94442 !important;
            background: #f2dede url("{% static 'admin/img/icon-no.svg' %}") 40px 12px no-repeat !important;
        }

        td {
            font-size: 12pt;
        }

        td.indent {
            text-indent: 16px;
        }

        td.attribute {
            font-weight: bold;
            font-size: 12pt;
            color: #447e9b;
        }

        td.attribute_emphasis {
            font-weight: bold;
            font-size: 14pt;
            color: #b30000;
        }

        td.value_emphasis {
            font-weight: bold;
            font-size: 14pt;
        {#color: #b30000;#}
        }

        td.fillemphasis {
            bgcolor: gold;
        }

        table.emphasis {
            border: 1px solid;
            border-collapse: collapse;
            border-spacing: 0;
            padding-bottom: 10px;
            border-bottom: 2px solid black;
        }
    </style>

    <h1>Sample Receiving Record</h1>
    <p><i>Please look at the following information and confirm allocation of Lab IDs to received samples.</i></p>
    <p><i><b>You will not be able to change Lab IDs, File and Basket/Position allocations after you confirm
        below.</b></i></p>
    <p>&nbsp;</p>
    {% if new_file and allocated %}
        <h3>New File Alert</h3>
        <p>A new File will be opened and the current File {{ file }} will be closed since it has only {{ empties }}
            slots left.</p>
        <p>You may go back and use the space for an order that has {{ empties }} or fewer samples in it.</p>
        <p>&nbsp;</p>
    {% endif %}

    <table class="emphasis">
        <tr>
            <td class="attribute_emphasis">Order</td>
            <td class="value_emphasis">{{ data.order }}</td>
        </tr>
        <tr>
            <td class="attribute">Client</td>
            <td>{{ data.order.field.farm.client }}</td>

        </tr>
        <tr>
            <td class="attribute">Farm</td>
            <td>{{ data.order.field.farm.name }}</td>

        </tr>
        <tr>
            <td class="attribute">Field</td>
            <td>{{ data.order.field.name }}</td>

        </tr>
        <tr>
            <td class="attribute_emphasis">Number of Samples</td>
            <td class="value_emphasis" bgcolor="gold">{{ data.num_samples }}</td>
        </tr>
        {% if data.custom_start_number != 1 %}
            <tr>
                <td class="attribute_emphasis">Custom starting number</td>
                <td class="value_emphasis">{{ data.custom_start_number }}</td>
            </tr>
        {% endif %}
        {% if not new_file and allocate %}
            <tr>
                <td class="attribute_emphasis">File</td>
                <td class="value_emphasis">{{ file }}</td>
            </tr>
            {% if not multiple_baskets %}
                <tr>
                    <td class="attribute_emphasis">Basket</td>
                    <td class="value_emphasis">{{ basket.name }} </td>
                </tr>
                <tr>
                    <td class="attribute indent">Starting Lab ID</td>
                    <td class="indent">{{ first_id }}</td>
                </tr>
                <tr>
                    <td class="attribute indent">Ending Lab ID</td>
                    <td class="indent">{{ last_id }}</td>
                </tr>
            {% else %}
                {% for basket in baskets %}
                    <tr>
                        <td class="attribute_emphasis">{{ basket.basket }}</td>
                        <td class="value_emphasis">{{ basket.name }} (Position {{ basket.first_position }}
                            to {{ basket.last_position }})
                        </td>
                    </tr>
                    <tr>
                        <td class="attribute indent">Starting Lab ID</td>
                        <td class="indent">{{ basket.first_id }}</td>
                    </tr>
                    <tr>
                        <td class="attribute indent">Ending Lab ID</td>
                        <td class="indent">{{ basket.last_id }}</td>
                    </tr>
                    <tr>
                        <td class="attribute indent">Sample Count</td>
                        <td class="indent">{{ basket.sample_cnt }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endif %}
    </table>

    <div>&nbsp;</div>
    <form method="post">{% csrf_token %}
        <div style="display:none">{{ form }}</div>
        <div>
            <input type="hidden" name="post" value="yes">
            <input type="submit" name="_confirmsave" value="{% trans "Yes, I'm sure" %}">
            <a href="javascript:history.back()" class="button cancel-link">{% trans "No, take me back" %}</a>
        </div>
    </form>
{% endblock %}


{#        <tr>#}
{#            <td class="attribute">Starting Position</td>#}
{#            <td>{{ position }}</td>#}
{#        </tr>#}
{#        {% endif %}#}