{% extends "dashboard/print_base.html" %}
{% load static %}
{% load humanize %}
{% load samples_extras %}

{% block pagetitle %}
    DCR for File #{{ file }}
{% endblock %}
{% block logoblock %}
{% endblock %}

{% block dashcontent %}
    <style>
        @media print {
            div {
                margin-bottom: -1px;
            }

            body {
                /*font-family: 'Roboto', sans-serif;*/
                font-size: 12px;
                line-height: 24px;
                color: #000000;
                font-weight: 400;
                background: white;
            }

            img {
                max-height: 100%;
                max-width: 100%;
            }

            [class*="col-"] {
                display: inline-block;
                vertical-align:top;
            }

            .col-12 {
                width: 100% !important;
            }

            .col-8 {
                width: 58% !important;
            }

            .col-4 {
                width: 33.333% !important;
            }

            .col-2 {
                width: 20% !important;
            }

            a[href]:after {
                display: none;
                visibility: hidden;
            }

            body {
                transform: scale(1);
                margin: 0;
            }

            @page {
                size: 11in 8.5in;   /* auto is the initial value */
                /* this affects the margin in the printer settings */
                margin: 10mm 10mm 10mm 10mm;
            }

            table {
                page-break-inside: avoid;
                border-collapse: collapse;
            {#border: 1px solid #8a8a8a;#} border-spacing: 0;
                width: 100%;
            }

            table.titleblock,
            td.titleblock {
                border: none !important;
                border-spacing: 0;
                width: 100%;
                vertical-align: middle;
                text-align: center;
            }

            table.orderblock,
            td.orderblock {
                vertical-align: middle;
                text-align: right;
                padding-right: 8px;
                font-size: 12pt;
            }

            td {
            {#border: 1px solid #8a8a8a;#} padding-left: 4px;
                text-align: center;
            }

            th.table-heading {
                padding-left: 4px;
            }

            td.entry-heading {
                font-size: 8pt;
                font-style: italic;
                line-height: 24px;
                min-width: 70px;
            }

            td.data-entry {
                font-size: 8pt;
                line-height: 24px;
                min-width: 140px;
            {#max-width: 160px;#}
            }

            td.blank {
                line-height: 24px;
            {#min-width: 120px;#}{#max-width: 160px;#}
            }

            td.question {
                font-size: 9pt;
                line-height: 24px;
                text-align: center;
            }

            .nopadding {
                padding: 0px !important;
                margin: 0px !important;
            }

            div.h2 {
                font-size: 12pt;
                color: darkslategrey;
            }

            .table-hover tbody tr:hover,
            .table-striped tbody tr:nth-of-type(odd),
            .thead-default th {
                background-color: lavender;
            }

            .heading {
                border-top: 1px solid;
                border-bottom: 1px solid;
                border-color: slategray;
                line-height: 20px;
            "
            }

            .tablename {
                border-top: 1px dashed;
                border-bottom: 1px dashed;
            }

            .notes {
            {#border-top: 1px solid;#} border-bottom: 1px dashed;
                color: dimgrey;
            }

            tbody tr:nth-child(even) {
                background-color: #ffffff !important;
            }
        }

    </style>
    <div class="row">
        <div class="col-12">
            <h3 class="tablename">Data Collection Report</h3>
            <div style="line-height: 12px;">&nbsp;</div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <h2 style="color: #000088">File #{{ file }} <span
                    style="font-size: 12pt; color: dimgrey;">({{ file.created|date:"l m/d/Y" }})</span></h2>
            {#            <h4>Baskets</h4>#}
            {#            {{ file.baskets.first.name }} to {{ file.baskets.last.name }}#}
            <div style="line-height: 12px;">&nbsp;</div>
            <h4>Sample Lab IDs:&nbsp;&nbsp;&nbsp;&nbsp;<span
                    style="font-size: 12pt; color: #000088;">{{ file.sample_range.0.pk }} &#8594; {{ file.sample_range.1.pk }} ({{ file.num_samples }})</span>
            </h4>
            <div style="line-height: 12px;">&nbsp;</div>
            <h4>Products in this file<span>&nbsp;&nbsp;</span>
                <ol style="font-size: 8pt; color: #000088;">
                    {% for p in products %}
                        &nbsp;&nbsp;&nbsp;&nbsp;{{ p }}<br>
                    {% endfor %}
            </h4>
            </ol>
            <div style="line-height: 24px;">&nbsp;</div>
        </div>
        <div class="col-2">
            <h4>GPS Orders</h4>
            {% for o in gps_orders %}
                {{ o.order_number }}<br>
            {% endfor %}
        </div>
        <div class="col-2">
            <h4>Loose Orders</h4>
            {% for o in loose_orders %}
                {{ o.order_number }}<br>
            {% endfor %}
        </div>
    </div>
    {#    <div class="row">#}
    {#        <div class="col-sm-12">#}
    {#            <h4>Sample Lab IDs:&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 12pt; color: #000088;">{{ file.sample_range.0.pk }} &#8594; {{ file.sample_range.1.pk }} ({{ file.num_samples }})</span></h4>#}
    {#            <div style="line-height: 12px;">&nbsp;</div>#}
    {#            <h4>Products in this file<span>&nbsp;&nbsp;</span>#}
    {#            <ol style="font-size: 8pt; color: #000088;">#}
    {#                {% for p in products %}#}
    {#                   &nbsp;&nbsp;&nbsp;&nbsp;{{ p }}<br>#}
    {#                {% endfor %}#}
    {#            </h4>#}
    {#            </ol>#}
    {#            <div style="line-height: 24px;">&nbsp;</div>#}
    {#        </div>#}
    {#    </div>#}

    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-condensed">
                <thead class="heading">
                <tr>
                    <th style="text-align: center;">Basket</th>
                    <th>Assoc ORG(s)</th>
                    <th>Day in</th>
                    <th>Due</th>
                </tr>
                </thead>
                <tbody>
                {% for b in file.baskets %}
                    <tr>
                        <td style="text-align: center;">{{ b.name }}</td>
                        <td>{{ basket_orgs|org_list:b }}</td>
                        <td>{{ b.created|date:"D n/j/y" }}</td>
                        <td>{{ b.due|date:"D n/j/y" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row tablename">
        <div class="col-12">
            <div style="line-height: 24px;">&nbsp;</div>
            <div style="line-height: 24px;">&nbsp;</div>
            <h4 class="notes">Notes</h4>
        </div>
    </div>
{% endblock %}

{% block footerblock %}
{% endblock %}

{% block pagescripts %}
{% endblock %}