{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}
{% load humanize %}
{% load samples_extras %}
{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/fixedcolumns/3.2.6/css/fixedColumns.dataTables.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/fixedcolumns/3.2.6/js/dataTables.fixedColumns.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/floatthead/2.1.4/jquery.floatThead.min.js"></script>
    <script>
        //var $ = django.jQuery;
        $(document).ready(function () {
            $('a.lab_measurement').click(function (event) {
                event.preventDefault();
                console.log(event.target);
                $.ajax({
                    url: "/samples/toggle/" + $(event.target).attr('id') + "/",
                    method: 'POST',
                    success: function (response) {
                        if (response.void) {
                            $(event.target).wrap('<s>');
                        } else {
                            $(event.target).unwrap('s');
                        }
                    }
                });
                return false; // for good measure
            });
            {#var files = $('#samples').DataTable({#}
            {#    scrollY: 300,#}
            {#    scrollX: true,#}
            {#    scrollCollapse: true,#}
            {#    paging: false,#}
            {#    fixedColumns: {#}
            {#        leftColumns: 4#}
            {#    }#}
            {#//});#}

            var files = $('#samples')
            files.floatThead();

        });
    </script>
{% endblock %}
{% block content_title %}
    <h1> File Details for File {{ file }} created {{ file.created }}</h1>
    <a href="/admin/samples/file/">Return to File List</a>
{% endblock %}
{% block result_list %}
    <style>
        .rotate {
            transform: rotate(7deg);

            /* Safari and Chrome */
            -webkit-transform: rotate(-45deg);

            /* Firefox */
            -moz-transform: rotate(-45deg);

            /* IE */
            -ms-transform: rotate(-45deg);

            /* Opera */
            -o-transform: rotate(-45deg);

            float: left;
            line-height: 72px;

        }
    </style>
    {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
    <div class="results">
        <h3>(<img src="{% static 'admin/img/icon-yes.svg' %}" alt="True">: Sample complete)</h3>
        <table id="samples" class="display compact hover cell-border" style="width:100%">
            <thead>
            <tr>
                <th>&nbsp</th>
                <th>&nbsp</th>
                <th>Location</th>
                <th></th>
                <th></th>
                {% for prod in products %}
                    <th colspan="{{ prod.test_params|length }}">
                        <div class="text">{{ prod }}</div>
                    </th>
                {% endfor %}
            </tr>
            <tr>
                <th scope="col" class="action-checkbox-column">
                    <div class="text"><span><input type="checkbox" id="action-toggle"></span></div>
                    <div class="clear"></div>
                </th>
                <th>Sample</th>
                <th>Order Serial</th>
                <th>Basket</th>
                <th>Position</th>
                {% for prod in products %}
                    {% for par in prod.test_params %}
                        {% if not par.calculated %}
                            <th><span class="rotate">{{ par }}</span></th>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
{#                            {% for par in unique_parameters %}#}
{#                                {% if not par.calculated %}#}
{#                                    <th><span class="rotate">{{ par }}</span></th>#}
{#                                {% endif %}#}
{#                            {% endfor %}#}
            </tr>
            </thead>
            <tbody>
            {% for sample in readings %}

                <tr class="{% cycle 'row1' 'row2' %}">
                    <td class="action-checkbox">{{ sample.checkbox }}</td>
                    <td>{% if sample.void %}<s>{% endif %}
                        <a href="{% url 'admin:samples_sample_change' sample.pk %}">{{ sample.pk|intcomma }}</a>
                        {% if sample.void %}</s>{% endif %}
                        <span class="pull-right">
                                    {% if sample.sample_is_processed %}
                                        <img src="{% static 'admin/img/icon-yes.svg' %}" alt="True">
                                    {% elif sample.sample_is_processed == False %}
                                        <img src="{% static 'admin/img/icon-no.svg' %}" alt="False">
                                    {% else %}
                                        <img src="{% static 'admin/img/icon-unknown.svg' %}" alt="NA">
                                    {% endif %}
                            {% if sample.duplicate %}
                                D
                            {% endif %}
                            {% if sample.recheck %}
                                R
                            {% endif %}
                                </span></td>
                    <td>{{ sample.order_serial }}
                        {% ifchanged sample.order %}
                            (Order
                            <a href="{% url 'admin:samples_samplesummary_changelist' %}?order={{ sample.order.pk }}">{{ sample.order }}</a>
                            )
                        {% endifchanged %}
                    </td>
                    <td>{{ sample.basket }} </td>
                    <td>{{ sample.basket_position }} </td>
                    {% for prod, parameters in sample.productset.items %}
                        {% for par, measurements in parameters.items %}
                            {% if par != 'is_complete' and not par.calculated %}
                                <td>
                                    {% for m in measurements.measures %}
                                        {% if sample.void or m.void %}<s>{% endif %}
                                    <a class="lab_measurement" id="{{ m.pk }}" href="#">
                                        {{ m.value|floatformat:par.significant_digits }}
                                        {% if m.duplicate %} D{% endif %}
                                    </a>
                                    {% if sample.void or m.void %}</s>{% endif %}
                                        <br>
                                    {% endfor %}
                                </td>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block pagination %}{{ block.super }}{% endblock %}