{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}
{% load humanize %}
{% load samples_extras %}
{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/fixedcolumns/3.2.6/css/fixedColumns.dataTables.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/fixedcolumns/3.2.6/js/dataTables.fixedColumns.min.js"></script>
    <script>
        //var $ = django.jQuery;
        $(document).ready(function () {
            var files = $('#files').DataTable({
                scrollY: "300px",
                scrollX: true,
                scrollCollapse: true,
                paging: false,
                fixedColumns: {
                    leftColumns: 4
                }
            });
        });
    </script>
{% endblock %}
{% block content_title %}
    <h1> File Summary for File {{ file }} created {{ file.created }}</h1>
    <a href="/admin/samples/file/">Return to File List</a>
{% endblock %}
{% block result_list %}
    {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
    <div class="results">
        <h3>(<img src="{% static 'admin/img/icon-yes.svg' %}" alt="True">: Sample complete)</h3>
        <table id="files" class="stripe row-border order-column" style="width:100%">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th colspan="100%">
                    <div class="text">
                        Products served in this file
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="text">
                        <a href="#">Sample</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Order Serial</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Basket</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Position</a>
                    </div>
                </th>
                {% for prod in products %}
                    <th>
                        <div class="text">
                            <a href="#">{{ prod }}</a>
                            <p>(<img src="{% static 'admin/img/icon-yes.svg' %}" alt="True">: Complete)</p>
                        </div>
                    </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for basket, samples in sample_file.items %}
                {% for sample in samples %}
                    {% ifchanged sample.order %}
                        <tr>
                            <td></td>
                            <td colspan="100%" align="center">
                                <a href="{% url 'admin:samples_samplesummary_changelist' %}?order={{ sample.order.pk }}">Order {{ sample.order }}</a>
                            </td>
                        </tr>
                    {% endifchanged %}
                    <tr>
                        <td>{% if sample.void %}<s>{% endif %}
                            <a href="{% url 'admin:samples_sample_change' sample.pk %}">{{ sample.pk }}</a>
                            {% if sample.void %}</s>{% endif %}
                            <span class="pull-right">
                                {% if sample.sample_is_processed %}
                                    <img src="{% static 'admin/img/icon-yes.svg' %}" alt="True">
                                {% elif sample.sample_is_processed == False %}
                                    <img src="{% static 'admin/img/icon-no.svg' %}" alt="False">
                                {% else %}
                                    <img src="{% static 'admin/img/icon-unknown.svg' %}" alt="NA">
                                {% endif %}
                                {% if sample.duplicate %}
                                    D
                                {% endif %}
                                {% if sample.recheck %}
                                    R
                                {% endif %}
                            </span></td>
                        <td>{{ sample.order_serial }} </td>
                        <td>{{ sample.basket }} </td>
                        <td>{{ sample.basket_position }} </td>
                        {% for product in products %}
                            <td>
                                {% with sample|complete_for_product:product as complete %}
                                    {% if complete == True %}
                                        <img src="{% static 'admin/img/icon-yes.svg' %}" alt="True">
                                    {% elif complete == False %}
                                        <img src="{% static 'admin/img/icon-no.svg' %}" alt="False">
                                    {% else %}
                                        NA
                                    {% endif %}
                                {% endwith %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
{% endblock %}
{% block pagination %}{{ block.super }}{% endblock %}