{% extends "admin/change_list.html" %}
{% load humanize %}
{% load samples_extras %}
{% block content_title %}
    <h1> Lab Measurement Summary </h1>
{% endblock %}
{% block result_list %}
    <style>
        .bar-chart {
            display: flex;
            justify-content: space-around;
            height: 160px;
            padding-top: 60px;
            overflow: hidden;
        }

        .bar-chart .bar {
            flex: 100%;
            align-self: flex-end;
            margin-right: 2px;
            position: relative;
            background-color: #79aec8;
        }

        .bar-chart .bar:last-child {
            margin: 0;
        }

        .bar-chart .bar:hover {
            background-color: #417690;
        }

        .bar-chart .bar .bar-tooltip {
            position: relative;
            z-index: 999;
        }

        .bar-chart .bar .bar-tooltip {
            position: absolute;
            top: -60px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            font-weight: bold;
            opacity: 0;
        }

        .bar-chart .bar:hover .bar-tooltip {
            opacity: 1;
        }
    </style>

    <div class="results">
        <div id="filter_description"></div>
        <table class="dataframe">
            <thead>
            <tr>
                <th>
                    <div class="text">
                        <a href="#">Parameter</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Unit</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Count</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Range</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Average</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Standard Deviation</a>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            {% if summary %}
                {% for row in summary %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td> {{ row.parameter__name }} </td>
                        <td> {{ row.parameter__unit__unit }} </td>
                        <td> {{ row.total | intcomma }} </td>
                        <td> {{ row.min | default:0 | floatformat:row.parameter__significant_digits }}
                            to {{ row.max | default:0 | floatformat:row.parameter__significant_digits }}</td>
                        <td> {{ row.average | default:0 | floatformat:row.parameter__significant_digits }}</td>
                        <td> {{ row.stdev | default:0 | floatformat:row.parameter__significant_digits }}</td>
                    </tr>
                {% endfor %}
                <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
                    <td> Parameters: {{ summary|length }} </td>
                    <td></td>
                    <td> {{ summary_total.total | intcomma }} </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100%">No data</td>
                </tr>
            {% endif %}
            </tbody>
        </table>

        {% if histogram %}
            {#            <h2>Monthly summary for Parameter {{ parameter }}</h2>#}
            {#            <p>Trend over the last 11 months</p>#}
            {#            <div class="bar-chart">#}
            {#                {% for x in month_range %}#}
            {#                    {% for m in monthly %}#}
            {#                        {% if m.month == x %}#}
            {#                            <div class="bar" style="height:{{ m.pct }}%">#}
            {#                                <div class="bar-tooltip">#}
            {#                                    {{ m.tooltip|safe }}#}
            {#                                </div>#}
            {#                            </div>#}
            {#                        {% else %}#}
            {#                        {% endif %}#}
            {#                    {% endfor %}#}
            {#                {% endfor %}#}
            {#            </div>#}
            <div style="width: 30%; display: inline-block">
                <h3>Histogram Data</h3>
                <button class="button" style="float: right;" onclick="exportTableToCSV('{{ parameter }}.csv')">CSV
                </button>
                {{ table|safe }}
            </div>
            <div style="width: 70%; float: right; display: inline-block">
                <div style="width: 100%; display: inline-block">
                    {{ histogram|safe }}
                </div>
                <div style="width: 100%; display: inline-block">
                    {{ time_series|safe }}
                </div>
            </div>
        {% endif %}
    </div>
    <script type="text/javascript">
        if (!$) {
            $ = django.jQuery;
        }
        $(document).ready(function () {
            {#var filters = $("li.selected");#}
            {#var text = "Filtered by category: " + $(filters[0]).html() +#}
            {#    ";&nbsp;&nbsp;&nbsp; by products: " + $(filters[1]).html() +#}
            {#    ";&nbsp;&nbsp;&nbsp; by parameter: " + $(filters[2]).html();#}
            {#$("div#filter_description").html(text);#}

            $('select.form-control').select2();
        });

        function downloadCSV(csv, filename) {
            var csvFile;
            var downloadLink;

            // CSV file
            csvFile = new Blob([csv], {type: "text/csv"});

            // Download link
            downloadLink = document.createElement("a");

            // File name
            downloadLink.download = filename;

            // Create a link to the file
            downloadLink.href = window.URL.createObjectURL(csvFile);

            // Hide download link
            downloadLink.style.display = "none";

            // Add the link to DOM
            document.body.appendChild(downloadLink);

            // Click download link
            downloadLink.click();
        }

        function exportTableToCSV(filename) {
            var csv = [];
            var rows = document.querySelectorAll("table.dataframe tr");

            for (var i = 0; i < rows.length; i++) {
                var row = [], cols = rows[i].querySelectorAll("td, th");

                for (var j = 0; j < cols.length; j++)
                    row.push(cols[j].innerText);

                csv.push(row.join(","));
            }

            // Download CSV file
            downloadCSV(csv.join("\n"), filename);
        }

    </script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
{% endblock %}
{% block pagination %}{% endblock %}