{% extends "admin/change_list.html" %}
{% load humanize %}
{% block content_title %}
    <h1> Order Summary </h1>
{% endblock %}
{% block result_list %}
    <div class="results">
        <table>
            <thead>
            <tr>
                <th>
                    <div class="text">
                        <a href="#">Order</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Samples</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Created</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Status</a>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for row in summary %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td> <a href="{% url 'admin:samples_samplesummary_changelist' %}?order={{ row.order }}">
                        {{ row.order__order_number }}
                    </a> </td>
                    <td> {{ row.total }} </td>
                    <td> {{ row.order__date_created }} </td>
                    <td> {{ row.order__order_status__name }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block pagination %}{{ block.super }}{% endblock %}