{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}
{% load humanize %}
{% load samples_extras %}
{% block content_title %}
    <h1> Sample Summary for Order {{ order }}</h1>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/fixedcolumns/3.2.6/css/fixedColumns.dataTables.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/fixedcolumns/3.2.6/js/dataTables.fixedColumns.min.js"></script>
    <script>
        //var $ = django.jQuery;
        $(document).ready(function () {
            $('a.lab_measurement').click(function (event) {
                event.preventDefault();
                console.log(event.target);
                $.ajax({
                    url: "/samples/toggle/" + $(event.target).attr('id') + "/",
                    method: 'POST',
                    success: function (response) {
                        if (response.void) {
                            $(event.target).wrap('<s>');
                        } else {
                            $(event.target).unwrap('s');
                        }
                    }
                });
                return false; // for good measure
            });
            var samples = $('#samples').DataTable({
                scrollY: "600px",
                scrollX: true,
                scrollCollapse: true,
                paging: false,
                order: [[1, "asc"]],
                fixedColumns: {
                    leftColumns: 5
                }
            });
            var pending = $('#pending').DataTable({
                scrollY: "600px",
                scrollX: true,
                scrollCollapse: true,
                paging: false,
                order: [[1, "asc"]],
                fixedColumns: {
                    leftColumns: 5
                }
            });
        });
    </script>
{% endblock %}


{% block result_list %}
    {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
    <div class="results">
        <h3>(<img src="{% static 'admin/img/icon-yes.svg' %}" alt="True">: Sample complete)</h3>
        <table id="samples" class="display compact hover cell-border" style="width:100%">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Location</th>
                <th></th>
                <th></th>
                {% for prod in products %}
                    {% if prod.test_params %}
                        <th colspan="{{ prod.test_params|length }}">
                            <div class="text">{{ prod }}</div>
                        </th>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th></th>
                <th>Sample<br>&nbsp</th>
                <th>Order Serial<br>&nbsp</th>
                <th>Basket<br>&nbsp</th>
                <th>Position<br>&nbsp</th>
                {% for prod in products %}
                    {% if prod.test_params %}
                        {% for par in prod.test_params %}
                            <th>{{ par }}<br>({{ par|average_for_order:order }})</th>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for sample in readings %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td>{{ sample.checkbox }}</td>
                    <td>{% if sample.void %}<s>{% endif %}
                        <a href="{% url 'admin:samples_sample_change' sample.pk %}">{{ sample.pk }}</a>
                        {% if sample.void %}</s>{% endif %}
                        <span class="pull-right">
                            {% if sample.sample_is_processed %}
                                <img src="{% static 'admin/img/icon-yes.svg' %}" alt="True">
                            {% elif not sample.sample_is_processed %}
                                <img src="{% static 'admin/img/icon-no.svg' %}" alt="False">
                            {% else %}
                                <img src="{% static 'admin/img/icon-unknown.svg' %}" alt="None">
                            {% endif %}
                            {% if sample.duplicate %}
                                D
                            {% endif %}
                        </span></td>
                    <td>{{ sample.order_serial }} </td>
                    <td>{{ sample.basket }} </td>
                    <td>{{ sample.basket_position }} </td>
                    {% for prod, parameters in sample.productset.items %}
                        {% for par, measurement in parameters.items %}
                            {% if par != 'is_complete' %}
                                <td>
                                    {% for m in measurement.measures %}
                                        {% if sample.void or m.void %}<s>{% endif %}
                                    <a class="lab_measurement" id="{{ m.pk }}" href="#">
                                        {{ m.value|floatformat:par.significant_digits }}
                                        {% if m.duplicate %} D{% endif %}
                                    </a>
                                    {% if sample.void or m.void %}</s>{% endif %}
                                        <br>
                                    {% endfor %}
                                </td>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <h3>Pending Rechecks (<img src="{% static 'admin/img/icon-no.svg' %}" alt="True">: Missing Reading)</h3>
    <div class="results">
        <table id="pending" class="display compact hover cell-border" style="width:100%">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Location</th>
                <th></th>
                <th></th>
                {% for prod in products %}
                    {% if prod.test_params %}
                        <th colspan="{{ prod.test_params|length }}">
                            <div class="text">{{ prod }}</div>
                        </th>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th></th>
                <th>Sample<br>&nbsp</th>
                <th>Order Serial<br>&nbsp</th>
                <th>Basket<br>&nbsp</th>
                <th>Position<br>&nbsp</th>
                {% for prod in products %}
                    {% if prod.test_params %}
                        {% for par in prod.test_params %}
                            <th>{{ par }}</th>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for sample in readings %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td>{{ sample.checkbox }}</td>
                    <td>{% if sample.void %}<s>{% endif %}
                        <a href="{% url 'admin:samples_sample_change' sample.pk %}">{{ sample.pk }}</a>
                        {% if sample.void %}</s>{% endif %}
                        <span class="pull-right">
                            {% if sample.sample_is_processed %}
                                <img src="{% static 'admin/img/icon-yes.svg' %}" alt="True">
                            {% elif not sample.sample_is_processed %}
                                <img src="{% static 'admin/img/icon-no.svg' %}" alt="False">
                            {% else %}
                                <img src="{% static 'admin/img/icon-unknown.svg' %}" alt="None">
                            {% endif %}
                            {% if sample.duplicate %}
                                D
                            {% endif %}
                        </span></td>
                    <td>{{ sample.order_serial }} </td>
                    <td>{{ sample.basket }} </td>
                    <td>{{ sample.basket_position }} </td>
                    {% for prod, parameters in sample.productset.items %}
                        {% for par, measurement in parameters.items %}
                            {% if par != 'is_complete' %}
                                <td>
                                {% if not measurement.par_complete %}
                                    <img src="{% static 'admin/img/icon-no.svg' %}" alt="False">
                                </td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
{% endblock %}
{% block pagination %}{{ block.super }}{% endblock %}