{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{ media }}
    <script type="text/javascript" src="{% static 'assets/js/jquery-3.1.0.min.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
{% endblock %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
            &rsaquo; <a
                href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
            &rsaquo; {% if has_change_permission %}
            <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}
            {{ opts.verbose_name_plural|capfirst }}{% endif %}
            &rsaquo; {% if add %}{% blocktrans with name=opts.verbose_name %}Add {{ name }}{% endblocktrans %}{% else %}
            {{ original|truncatewords:"18" }}{% endif %}
        </div>
    {% endblock %}
{% endif %}

{% block content %}
    <div id="content-main">
        {% block object-tools %}
            {% if change %}{% if not is_popup %}
                <ul class="object-tools">
                    {% block object-tools-items %}
                        <li>
                            {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
                            <a href="{% add_preserved_filters history_url %}"
                               class="historylink">{% trans "History" %}</a>
                        </li>
                        {% if has_absolute_url %}
                            <li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>
                        {% endif %}
                    {% endblock %}
                </ul>
            {% endif %}{% endif %}
        {% endblock %}
        <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post"
              id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
            <h2>Current File: {{ currentFile }}, Available slots: {{ currentFile.open_slots }}</h2>
            <div>
                {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1"/>{% endif %}
                {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}"/>{% endif %}
                {% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
                {% if errors %}
                    <p class="errornote">
                        {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}
                            {% trans "Please correct the errors below." %}{% endif %}
                    </p>
                    {{ adminform.form.non_field_errors }}
                {% endif %}

                {% block field_sets %}
                    {% for fieldset in adminform %}
                        {% include "admin/includes/fieldset.html" %}
                    {% endfor %}
                {% endblock %}

                {% block after_field_sets %}{% endblock %}

                {% block inline_field_sets %}
                    {% for inline_admin_formset in inline_admin_formsets %}
                        {% include inline_admin_formset.opts.template %}
                    {% endfor %}
                {% endblock %}

                {% block after_related_objects %}{% endblock %}

                {#{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}#}
                {% block submit_buttons_bottom %}
                    {% block submit_row %}
                        {#    {{ block.super }}#}
                        <div class="submit-row">
                            {% if 'View' not in title %}
                                <input type="submit" value="{% trans 'Continue' %}" class="default"
                                       name="_save">{% endif %}
                            {#    {% if show_delete_link %}#}
                            {#        {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}#}
                            {#        <p class="deletelink-box"><a href="{% add_preserved_filters delete_url %}" class="deletelink">{% trans "Delete" %}</a></p>#}
                            {#    {% endif %}#}
                            {#        <input type="submit" value="{% trans 'Confirm' %}" name="_saveasnew">{% endif %}#}
                            {#    {% if show_save_and_add_another %}<input type="submit" value="{% trans 'Save and add another' %}" name="_addanother">{% endif %}#}
                            {#    {% if show_save_and_continue %}<input type="submit" value="{% if can_change %}{% trans 'Save and continue editing' %}{% else %}{% trans 'Save and view' %}{% endif %}" name="_continue">{% endif %}#}
                            <a href="{% url opts|admin_urlname:'changelist' %}"
                               class="closelink">{% trans 'Cancel' %}</a>
                        </div>
                    {% endblock %}
                {% endblock %}

                {% block admin_change_form_document_ready %}
                    <script>
                        $(document).ready(function () {
                            $("#id_full_order").select2();
                        });
                    </script>
                    <script type="text/javascript"
                            id="django-admin-form-add-constants"
                            src="{% static 'admin/js/change_form.js' %}"
                            {% if adminform and add %}
                            data-model-name="{{ opts.model_name }}"
                            {% endif %}>
                    </script>
                {% endblock %}

                {# JavaScript for prepopulated fields #}
                {% prepopulated_fields_js %}

            </div>
        </form>
    </div>
{% endblock %}


{##}
{#{% extends 'admin/change_form.html' %}#}
{#{% load i18n admin_urls %}#}
{#{% load i18n admin_urls static %}#}
{##}
{#{% block submit_buttons_bottom %}#}
{#    {% block submit_row %}#}
{#    {{ block.super }}#}
{#        <div class="submit-row">#}
{#        {% if show_save %}<input type="submit" value="{% trans 'Confirm' %}" class="default" name="_save">{% endif %}#}
{#    {% if show_delete_link %}#}
{#        {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}#}
{#        <p class="deletelink-box"><a href="{% add_preserved_filters delete_url %}" class="deletelink">{% trans "Delete" %}</a></p>#}
{#    {% endif %}#}
{#        {% if show_save_as_new %}<input type="submit" value="{% trans 'Confirm' %}" name="_saveasnew">{% endif %}#}
{#    {% if show_save_and_add_another %}<input type="submit" value="{% trans 'Save and add another' %}" name="_addanother">{% endif %}#}
{#    {% if show_save_and_continue %}<input type="submit" value="{% if can_change %}{% trans 'Save and continue editing' %}{% else %}{% trans 'Save and view' %}{% endif %}" name="_continue">{% endif %}#}
{#        {% if show_close %}<a href="{% url opts|admin_urlname:'changelist' %}" class="closelink">{% trans 'Close' %}</a>{% endif %}#}
{##}
{#            <input type="submit" value="Make Unique" name="_make-unique">#}
{#        </div>#}
{#    {% endblock %}#}
{#{% endblock %}#}