{% extends "admin/change_list.html" %}
{% load humanize %}
{% load samples_extras %}
{% block content_title %}
    <h1> Sample Processing Tally </h1>
{% endblock %}
{% block result_list %}
    <div class="results">
        <button class="button" style="float: right;" onclick="exportTableToCSV('{{ filename }}.csv')">CSV
        </button>
        <table class="dataframe">
            <thead>
            <tr>
                <th><h2>{{ filename }}</h2></th>
                <th></th>
                {% for cat in categories %}
                    <th colspan="{{ counts|count_for_key:cat }}">
                        <div class="text">{{ cat }}</div>
                    </th>
                {% endfor %}
            </tr>
            <tr>
                <th>
                    <div class="text">
                        <a href="#">File</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Samples</a>
                    </div>
                </th>
                {% for prod in products %}
                    <th>
                        <div class="text">
                            <a href="#">{{ prod.name }}</a>
                        </div>
                    </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in files %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td>{{ row }}</td>
                    <td>{{ counts|count_for_key:row }}</td>
                    {% for prod in products %}
                        <td>
                            {{ summary|count_for_key:row|count_for_key:prod }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>Total</th>
                <th>{{ grand_total.samples }}</th>
                {% for prod in products %}
                    <th>
                        {{ grand_total|count_for_key:prod }}
                    </th>
                {% endfor %}
            </tr>
            </tfoot>
        </table>
    </div>
    <script>
        function downloadCSV(csv, filename) {
            var csvFile;
            var downloadLink;

            // CSV file
            csvFile = new Blob([csv], {type: "text/csv"});

            // Download link
            downloadLink = document.createElement("a");

            // File name
            downloadLink.download = filename;

            // Create a link to the file
            downloadLink.href = window.URL.createObjectURL(csvFile);

            // Hide download link
            downloadLink.style.display = "none";

            // Add the link to DOM
            document.body.appendChild(downloadLink);

            // Click download link
            downloadLink.click();
        }

        function exportTableToCSV(filename) {
            var csv = [];
            var rows = document.querySelectorAll("table.dataframe tr");

            for (var i = 0; i < rows.length; i++) {
                var row = [], cols = rows[i].querySelectorAll("td, th");

                for (var j = 0; j < cols.length; j++)
                    row.push(cols[j].innerText);

                csv.push(row.join(","));
            }

            // Download CSV file
            downloadCSV(csv.join("\n"), filename);
        }

    </script>
{% endblock %}
{% block pagination %}{% endblock %}