{% extends "admin/change_list.html" %}
{% block content_title %}
    <h1> Billed Samples Summary </h1>
{% endblock %}
{% block result_list %}
<div class="results">
    <table>    
    <thead>
      <tr>
        <th>
          <div class="text">
            <a href="#">Organization</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Total</a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for row in summary %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td> {{ row.filled_sample__filled_at__name }} </td>
        <td> {{ row.total }} </td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}
{% block pagination %}{% endblock %}