{% load i18n %}
<ul class="{% if not categories %}no-{% endif %}categories">
    {% for category in categories %}
        <li{% if category.slug == context_category.slug %} class="current"{% endif %}>
            <a href="{{ category.get_absolute_url }}"
               title="{% blocktrans %}Show all entries in {{ category }}{% endblocktrans %}">{{ category }}
                <span class="pull-right">
                    {% blocktrans count entry_count=category.count_entries_published %}{{ entry_count }} entry
                        {% plural %}{{ entry_count }} entries{% endblocktrans %}
                </span>
            </a>
        </li>
    {% empty %}
        <li>
            {% trans "No categories yet." %}
        </li>
    {% endfor %}
</ul>