{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <div class="breadcromb-area">
                <div class="row">
                    <div class="col-md-6  col-sm-6">
                        <div class="seipkon-breadcromb-left">
                            <h3>{{ formtype }}</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="seipkon-breadcromb-right">
                            <ul>
                                <li><a href="/">Update Contact</a></li>
                                {% if person %}
                                    <li>{{ person }}</li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block dashcontent %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-box">
                <div class="panels-section">
                    <div class="row">
                        <form id="contactform" action="{{ request.path }}" method="post" enctype="multipart/form-data">
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        {% include "common/nonformerror.html" %}
                                        <div>
                                            {% csrf_token %}
                                            {% include "common/formerror.html" %}
                                            {% crispy form form.helper %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div>
                                            {% include "common/nonformerror.html" with form=phone %}
                                            {{ phone.management_form|crispy }}
                                            {% for f in phone %}
                                                <div class="col-lg-12">
                                                    {% include "common/formerror.html" with form=f %}
                                                    {% crispy f f.helper %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div>
                                            {% include "common/nonformerror.html" with form=email %}
                                            {{ email.management_form|crispy }}
                                            {% for f in email %}
                                                <div class="col-lg-12">
                                                    {% include "common/formerror.html" with form=f %}
                                                    {% crispy f f.helper %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div>
                                            {% include "common/nonformerror.html" with form=address %}
                                            {{ address.management_form|crispy }}
                                            {% for f in address %}
                                                <div class="col-lg-12">
                                                    {% include "common/formerror.html" with form=f %}
                                                    {% crispy f f.helper %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="panel panel-default controls">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <input type="button" name="cancel" value="Cancel" class="btn btn-default"
                                                   id="button-id-cancel" onclick="window.history.back()">
                                            <input type="submit" name="_continue" value="Save and continue editing"
                                                   class="btn btn-info" id="submit-id-continue">
                                            <input type="submit" name="submit" value="Submit" class="btn btn-primary"
                                                   id="submit-id-submit">
                                            {% if orguser %}
                                                {% if object.user or object.get_company_contact.user %}
                                                    <button title="Disallow client from logging in in to their account"
                                                            type="button" name="userdeactivate" class="btn btn-danger"
                                                            id="button-id-deactivate" ,
                                                            onclick="deactivate_user()">Deactivate Login
                                                    </button>
                                                    <button title="Send a password reset link to the primary email"
                                                            type="button" name="passwordreset"
                                                            class="btn btn-warning" id="button-id-resetpassword" ,
                                                            onclick="reset_password()">Send Password Reset Link
                                                    </button>
                                                {% else %}
                                                    <button
                                                            {% if object.login_email %}
                                                                {% if object.is_company and object.has_company_contact %}
                                                                    title="Create login and invite {{ object.get_company_contact }} to log in to their account"
                                                                {% elif object.is_company and not object.has_company_contact %}
                                                                    title="Set Company Contact and assign a primary login email address"
                                                                    disabled
                                                                {% else %}
                                                                    title="Invite {{ object }} to log in to their account"
                                                                {% endif %}
                                                            {% else %}
                                                                    title="Create or mark primary login email address"
                                                                    disabled
                                                            {% endif %}
                                                                    type="button" name="usercreate"
                                                                    class="btn btn-success"
                                                                    id="button-id-invite"
                                                                    onclick="invite_user()">
                                                        Invite
                                                        Client
                                                    </button>
                                                {% endif %}
                                            {% endif %}

                                        </div>
                                        To add more items, such as additional phone numbers or emails, press "Save and
                                        Continue". A primary email of the type "Login" is required to be able to create
                                        a login for the
                                        client.
                                    </div>
                                    <div class="panel-body">
                                        {% if object.user and object.login_email %}
                                            <h4>The username: <i>{{ object.user.username }}</i>
                                                and email
                                                <i>{{ object.login_email }}</i> are associated with this
                                                profile</h4>
                                        {% elif object.user and not object.login_email %}
                                            <h4>The username: <i>{{ object.user.username }}</i>,
                                                is associated with this profile,
                                                but no email is marked Primary and Login for this
                                                account </h4>
                                        {% elif object.get_company_contact.user and object.get_company_contact.login_email %}
                                            <h4>The username: <i>{{ object.get_company_contact.user.username }}</i>
                                                and email
                                                <i>{{ object.get_company_contact.login_email }}</i> are associated with
                                                this
                                                profile</h4>
                                        {% else %}
                                            <h4>No login associated with this account</h4>
                                        {% endif %}
                                    </div>
                                </div>
                                {% if object.is_company %}
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4>{{ object }} is a Company. The following Persons are associated with
                                                this Company</h4>
                                        </div>
                                        <div class="panel-body">
                                            <a class="button btn btn-primary" id="add_person_button"
                                               href="{% url "add_person" %}?company={{ company.pk }}">Add another Person to this Company</a>
                                        </div>
                                        <div class="panel-body">
                                            {% for person in company.company_members %}
                                                {% include "contact/contact_tile.html" with contact=person %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if not object.is_company and person.company %}
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4>{{ object }} is a Person associated with {{ person.company }}. Following
                                                are other Persons
                                                associated with {{ object }}</h4>
                                        </div>
                                        <div class="panel-body">
                                            {% for p in person.company.company_members %}
                                                {% include "contact/contact_tile.html" with contact=p %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
    {{ block.super }}
    <script>

        function invite_user() {
            {% if object %}
                $.ajax({
                    headers: {"X-CSRFToken": "{{ csrf_token }}"},
                    type: 'POST',
                    url: "{% url 'create_user_from_person' pk=object.id %}",
                    data: {},
                    success: function (data) {
                        //location.reload();
                        console.log(data);
                        alert("User " + data.user + " created and email sent to " + data.email);
                    },
                    error: function (err) {
                        console.log(err);
                        alert("Error: " + err.message);
                    }
                });
            {% endif %}
        }

        function deactivate_user() {
            alert("Not implemented yet");
        }

        function reset_password() {
            {% if object %}
                $.ajax({
                    headers: {"X-CSRFToken": "{{ csrf_token }}"},
                    type: 'POST',
                    url: "{% url 'resend_password' pk=object.id %}",
                    success: function (data) {
                        alert("Password reset link sent to " + data.user + " at " + data.email);
                    }

                });
            {% endif %}
        }
    </script>
    {{ address.media }}
    <script src="{% static 'assets/plugins/masked-input/js/jquery.maskedinput.min.js' %}"></script>
    <script src="{% static 'assets/js/contact.js' %}"></script>
{% endblock %}