{% extends "dashboard/dashboard_base.html" %}
{% load static %}

{% block breadcrumb %}
<div class="row">
   <div class="col-md-12">
      <div class="breadcromb-area">
         <div class="row">
            <div class="col-md-6  col-sm-6">
               <div class="seipkon-breadcromb-left">
                  <h3>Contacts</h3>
               </div>
            </div>
            <div class="col-md-6 col-sm-6">
               <div class="seipkon-breadcromb-right">
                  <ul>
                     <li><a href="/">Home</a></li>
                     <li><a href="/dashboard/">Dashboard</a></li>
                     <li>Contacts</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
{% block dashcontent %}
<div class="row">
   <div class="col-md-12">
      <div class="page-box">
         <div class="panel-body">
            <div class="table-responsive">
               <span class="badge pull-right fa fa-building"> Company</span>
               <table class="table">
               <tr>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Actions</th>
               </tr>
               {% for contact in object_list %}
               <tr>
                  <td>{{ contact }}
                        {% if contact.is_company %}
                        <span class="badge pull-right fa fa-building"> </span>
                        {% endif %}
                  </td>
                  <td>{% for a in contact.address.all %}
                        {{ a }}
                       {% endfor %}
                  </td>
                  <td>{% for e in contact.email.all %}
                        {{ e }}
                       {% endfor %}
                  </td>
                  <td>{% for p in contact.phone.all %}
                        {{ p }}
                       {% endfor %}</td>
                  <td><a href="{{ client.pk }}/">Edit</a>
                      <a href="{{ client.pk }}/delete/">Delete</a>
                  </td>
               </tr>
               {% endfor %}
               </table> 
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}