{% load static %}
<div class="col-md-4">
    <div class="page-box">
        <div class="panel-heading">
            <span class="pull-left">
                {% if contact.user.person.image %}
                    <img src="{{ contact.user.person.image.url }}" alt="profile" class="profile-avator"/>
                {% else %}
                    <img src="{% static 'assets/img/default_user.png' %}" alt="profile"
                         class="profile-avator"/>
                {% endif %}
            </span>

            {% if contact.is_company_contact %}
                <span class="pull-right">
                    <i class="fa fa-cogs"></i> Company Contact<br>
                    </span>
            {% endif %}
            <h4>
                <a href="{% url 'person_detail' pk=contact.pk %}?company={{ contact.company.id }}">
                    {{ contact }} {% if contact.user %}({{ contact.user.username }}){% endif %}
                </a>
            </h4>
            <p>User is
                {% if contact.user.is_active %} active{% else %} inactive{% endif %}
            </p>
        </div>
        <div class="panel-body">
            <p>{{ contact.email.all|join:"<br/>" }}</p>
            <p>{{ contact.phone.all|join:"<br/>" }}</p>
            <p>{{ contact.address.all|join:"<br/>" }}</p>
        </div>
        <div class="panel-body">
            {% if contact.company %}
                <h5>
                    <a href="{% url 'company_detail' pk=contact.company.pk %}">
                        {{ contact.company }}
                    </a>
                </h5>
            {% endif %}
        </div>
    </div>
</div>