{% load crispy_forms_field %}
{% if field.is_hidden %}
    {{ field }}
{% else %}
    {% if field|is_checkbox %}
        <div title="{{ field.help_text }}" id="div_{{ field.auto_id }}" class="checkbox{% if wrapper_class %} {{ wrapper_class }}{% endif %}">
            <label for="{{ field.id_for_label }}" class="{% if field.field.required %} requiredField{% endif %}">
                {% crispy_field field 'class' 'checkbox' %}
                {{ field.label|safe }}
            </label>
        </div>
    {% else %}
        <div title="{{ field.help_text }}" id="div_{{ field.auto_id }}" class="form-group{% if wrapper_class %} {{ wrapper_class }}{% endif %}">
            <label for="{{ field.id_for_label }}" class="{% if field.field.required %} requiredField{% endif %}">
                {{ field.label|safe }}{% if field.field.required %} (required){% endif %}
            </label>
            {% crispy_field field 'placeholder' field.label %}
        </div>
    {% endif %}
{% endif %}
