{% extends "soildxadminbase.html" %}
{% load static %}
{% load leaflet_tags %} 
    
{% block pagestyles %} 
{% leaflet_css %}
<link rel="stylesheet" href="{% static "vendor/fooTable/css/footable.core.min.css"%}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/css/bootstrap-slider.min.css"/>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css' rel='stylesheet' />
<style>

    .leaflet-container {  /* all maps */
        height: 600px;
    }

    #specialbigmap {
        height: 1000px;
    }

</style>
{% endblock %} 

{% block content %}

     <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <input type="hidden" id="mapbox_key" name="variable" value="{{ mapbox_key }}">
                <h2 class="font-light m-b-xs">
                    FertiSaver-N Calculator: {{ device.type }}
                </h2>
            </div>
        </div>
    </div>
    
    <div class="content animate-panel">  
    <div class="row">

            <div class="col-md-12">

                <div class="font-bold m-b-sm">
                    Calculate optimal N needs for your crop
                </div>

                <div class="hpanel">
                    <div class="panel-body">

                        <h2 class="m-t-none" id="device_name">Recommendation for 2017</h2>
                        <small>
                            Instructions: Add as much information as you can. Estimates will be used for missing values. 
                        </small>
                        
                        <form name="calibration_form" novalidate id="calibration_form" action="#" method="post">
                        {% csrf_token %}
                        <div class="text-center m-b-md" id="wizardControl">
                            <a class="btn btn-primary" href="#step1" id="#step1" data-toggle="tab">1: Location</a>
                            <a class="btn btn-default" href="#step2" id="#step2" data-toggle="tab">2: Soil tests</a>
                            <a class="btn btn-default" href="#step3" id="#step3" data-toggle="tab">3: Management</a>
                            <a class="btn btn-default" href="#step4" id="#step4" data-toggle="tab">4: Action Plan</a>
                        </div>

                        <div class="tab-content">
                            <div id="step1" class="p-m tab-pane active">
                                <div class="row">
                                    <div class="col-lg-3 text-center">
                                        <i class="pe-7s-config fa-3x text-muted"></i>
                                        <p class="small m-t-md">
                                            <strong>Location information</strong> <br/><br/>
                                            We need to know your soil type. Please enter a location for the test. You may enter Latitude - Longitude
                                            or you may select your location on the map. 
                                            Alternatively, you may select the soil series that corresponds to the test. 
                                        </p>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="hpanel">
                                                <div class="panel-heading">
                                                    <div class="panel-tools">
                                                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                                        <a class="closebox"><i class="fa fa-times"></i></a>
                                                    </div>
                                                    Location
                                                </div>
                                                <div class="panel-body">{% leaflet_map "map" callback="mapInit" %}</div>
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <label>Latitude</label>
                                                <input type="" value="" id="latitude" class="form-control" name="latitude">
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <label>Longitude</label>
                                                <input type="" value="" id="longitude" class="form-control" name="longitude">
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <label>State</label>
                                                <select class="form-control m-b" name="state" id="state">
                                                </select>
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <label>County</label>
                                                <select class="form-control m-b" name="county" id="county" disabled>
                                                </select>
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <label>Soil series</label>
                                                <select class="form-control m-b" name="soil_series" id="soil_series" disabled>
                                                </select>
                                                <input type="" value="" id="mukey" name="mukey" hidden>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right m-t-xs">
                                    <a class="btn btn-default prev" href="#">Previous</a>
                                    <a class="btn btn-default next" href="#">Next</a>
                                </div>

                            </div>
                            <div id="step2" class="p-m tab-pane">
                                <div class="row">
                                    <div class="col-lg-3 text-center">
                                        <i class="pe-7s-sun fa-3x text-muted" id="icon_sun"></i>
                                        <p class="small m-t-md">
                                            <strong>Soil test data</strong> <br/><br/>
                                            Information about your FertiSaver-N and soil pH test results. 
                                            Your soil type has a characteristic pH and organic carbon levels we can estimate
                                            from our database. For more precise estimates, please provide actual values. 
                                        </p>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="form-group col-lg-12">
                                                <label>FertiSaver-N Test Result</label>
                                                <input type="" value="{{ read.fsn_value }}" id="fsn_test" class="form-control" name="fsn_test">
                                                <input type="" value="{{ read.id }}" id="calibrated_read" name="calibrated_read" hidden>
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <label>Soil pH</label>
                                                <input type="" value="6.7" id="soil_pH" class="form-control" name="soil_pH">
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <label>Soil organic matter</label><small> (Average over 1 m depth)</small>
                                                <input type="" value="6" id="soil_om" class="form-control" name="soil_om">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-right m-t-xs">
                                    <a class="btn btn-primary" href="#" id="reset_form">Reset Form</a>
                                    <a class="btn btn-default prev" href="#">Previous</a>
                                    <a class="btn btn-default next" href="#">Next</a>
                                </div>
                            </div>
                            <div id="step3" class="p-m tab-pane">
                                <div class="row">
                                    <div class="col-lg-3 text-center">
                                        <i class="pe-7s-sun fa-3x text-muted" id="icon_sun"></i>
                                        <p class="small m-t-md">
                                            <strong>Management information</strong> <br/><br/>
                                            The carbon/nitrogen composition of the residue from the last crop determines
                                            its decomposition rate. Low nitrogen residue like corn stover and wheat straw
                                            require a small amount of nitrogen to aid decomposition. The nitrogen requirement is
                                            offset by recent manuring history. <br/>
                                            No-till typically requires extra nitrogen unless your field has had enough time to 
                                            equilibriate (typically over 5 years). 
                                        </p>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="form-group col-lg-12">
                                                <label>Tillage practice</label>
                                                <select class="form-control" name="tillage" id="tillage">
                                                </select>
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <label>Previous crop</label>
                                                <select id="previous_crop" class="form-control" name="previous_crop">
                                                </select>
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <label>Previous crop yield </label><small> (in bushels per acre)</small>
                                                <input type="" value="" id="previous_yield" class="form-control" name="previous_yield">
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <label>Plant population </label><small> (# of plants per acre)</small>
                                                <input type="" value="30000" id="plant_population" class="form-control" name="plant_population">
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <label>Recent manuring history </label><small> (pounds of manure applied, if applied in the last 3 years)</small>
                                                <input type="" value="0" id="manure" class="form-control" name="manure">
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <label>Typical corn yields for your location </label><small> (Optional. This is your expected yield goal. We can estimate this from your location's productivity index)</small>
                                                <input type="" value="" id="typical_corn_yield" class="form-control" name="typical_corn_yield">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-right m-t-xs">
                                    <a class="btn btn-primary" href="#" id="reset_form">Reset Form</a>
                                    <a class="btn btn-default prev" href="#">Previous</a>
                                    <a class="btn btn-default next" href="#">Next</a>
                                </div>
                            </div>    
                            <div id="step4" class="tab-pane">
                                <div class="row text-center m-t-lg m-b-lg">
                                    <div class="col-lg-12">
                                        <div class="form-group col-lg-12">
                                            <label>Dial in your risk preference </label><small> (We recommend leaving the slider in the center for optimal N levels)</small>
                                            <input id="slider1" data-slider-id='rSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="50"/>
                                        </div>
                                        <i id="action_plan_check" class="pe-7s-check fa-3x text-muted"></i>
                                        <div id="action_plan_results"><p>Everything looks good!</p></div>
                                        <p class="small m-t-md">
                                            <strong>Save this document</strong> for future reference<br/>
                                        </p>
                                        <div class="checkbox col-lg-12">
                                            <input type="checkbox" class="i-checks approveCheck" name="approve">
                                            Yes!
                                        </div>
                                    </div>

                                    
                                </div>
                                <div class="text-right m-t-xs">
                                    <a class="btn btn-default prev" href="#">Previous</a>
                                    <a class="btn btn-default next" href="#">Next</a>
                                    <a class="btn btn-success submitWizard" href="#">Generate</a>
                                </div>
                            </div>
                        </div>
                    </form>    

                        
                        <div id=results></div>
                    </div>
                </div>
            </div>
        </div>
            <div class="normalheader transition animated fadeIn small-header">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    FertiSaver-N Action Plan
                </div>
                <div class="row">
                    <div class="col-md-3" style>
                        <div class="hpanel">
                            <div class="panel-body">
                                <div class="stats-title pull-left">
                                    <h4>Residue decomposition</h4>
                                </div>
                                <div class="stats-icon pull-right">
                                    <i class="pe-7s-trash fa-3x"></i>
                                </div>
                                <div class="m-t-xl">
                                    <h1 class="text-success" id="residue_management_rec">-- lb/ac</h1>
                                    <h4>Fall 2016</h4>
                                    <small>
                                    <p id="residue_text"> </p>   
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style>
                        <div class="hpanel">
                            <div class="panel-body">
                                <div class="stats-title pull-left">
                                    <h4>pH / soil texture improvement</h4>
                                </div>
                                <div class="stats-icon pull-right">
                                    <i class="pe-7s-key fa-3x"></i>
                                </div>
                                <div class="m-t-xl">
                                    <h1 class="text-success" id="lime_rec">-- ton/ac</h1>
                                    <h4>Fall 2016</h4>
                                    <small>
                                    <p id="lime_text"> </p>    
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style>
                        <div class="hpanel">
                            <div class="panel-body">
                                <div class="stats-title pull-left">
                                    <h4>Preplant Nitrogen</h4>
                                </div>
                                <div class="stats-icon pull-right">
                                    <i class="pe-7s-download fa-3x"></i>
                                </div>
                                <div class="m-t-xl">
                                    <h1 class="text-success" id="preplant_N_rec">-- lb/ac</h1>
                                    <h4>Spring 2017</h4>
                                    <small>
                                    <p id="preplant_N_text"> </p>    
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style>
                        <div class="hpanel">
                            <div class="panel-body">
                                <div class="stats-title pull-left">
                                    <h4>Late sidedress</h4>
                                </div>
                                <div class="stats-icon pull-right">
                                    <i class="pe-7s-drop fa-3x"></i>
                                </div>
                                <div class="m-t-xl">
                                    <h1 class="text-success" id="late_sidedress_rec">-- lb /ac</h1>
                                    <h4>Late Spring 2017</h4>
                                    <small>
                                    <p id="late_sidedress_text"> </p>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
    


{% block pagescripts %} 
{% leaflet_js %}
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js'></script>
<script src="{% static "vendor/fooTable/dist/footable.all.min.js"%}"></script>
<script src="{% static "scripts/recommendations.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/bootstrap-slider.min.js"></script>
{% endblock %}
