{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% load cache %}
{% load product_extras %}
{% block extrahead %}
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% endblock %}
{% cache productlist 600 request.user.username %}
    {% block breadcrumb %}
        <div class="row">
            <div class="col-md-12">
                <div class="breadcromb-area">
                    <div class="row">
                        <div class="col-md-6  col-sm-6">
                            <div class="seipkon-breadcromb-left">
                                <h3>Products</h3>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="seipkon-breadcromb-right">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="{% url 'category_list' %}">Products</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block dashcontent %}
        <div class="row">
            <div class="col-md-12">
                <div class="page-box">
                    <div class="panel-body">
                        <span class="badge pull-right fa fa-cubes"> Package</span><br/>
                    </div>
                    <div class="table-responsive">
                        <table class="table datatable">
                            <thead>
                            <th>Category</th>
                            <th>Product</th>
                            <th>Price</th>
                            </thead>
                            <tbody>
                            {% for cat in object_list %}
                                <tr>
                                    <td><b>{{ cat.name }}</b></td>
                                    <td><b>{{ cat.description }}</b></td>
                                    <td></td>
                                </tr>
                                {% for prod in cat.product_set.all %}
                                    {% if prod.active and prod|available_to:org %}
                                        <tr>
                                            <td><span
                                                    style="color: {{ prod.category.color }}">{{ prod.category }}</span>
                                            </td>
                                            <td><b>{{ prod.name }}</b> <br>{{ prod.description }}
                                                {% if prod.is_package %}
                                                    <span class="badge pull-right fa fa-cubes"> </span>
                                                {% endif %}
                                                {% if prod.image %}
                                                    <img src="{{ prod.image.url }}" class="pull-right" width="2rem"
                                                         alt="no icon"/>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% for price in prod.prices.all %}
                                                    <span class="pull-right">{{ price|discount:org }}</span><br/>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block pagescripts %}
        <script>
            $(document).ready(function () {
                var oTable = $('.datatable').dataTable({
                    //order: [[0,"asc"], [1,"asc"]],
                    paging: false,
                    columnDefs: [
                        {
                            name: "category",
                            orderable: false,
                            searchable: true,
                            targets: [0]
                        },
                        {
                            name: "Product",
                            orderable: false,
                            searchable: true,
                            targets: [1]
                        }
                    ],
                    "processing": true,
                    "serverSide": false
                });
                // ...
            });
        </script>
    {% endblock %}
{% endcache %}