{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% load static %}
{% load product_extras %}
{% block extrahead %}
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% endblock %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <div class="breadcromb-area">
                <div class="row">
                    <div class="col-md-6  col-sm-6">
                        <div class="seipkon-breadcromb-left">
                            <h3>Products</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="seipkon-breadcromb-right">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li>Vendored Products</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block dashcontent %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-box">
                <div class="panel-heading">
                    <h3>Search for products on the SoilDx Vendor Network</h3>
                </div>
                <div class="panel-body">
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" aria-label="Large"
                               id="searchsvx"
                               aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>
                <div class="panel-body">
                    <span class="badge pull-right fa fa-cubes"> Package</span><br/>
                    <span class="badge pull-right fa fa-check-circle"> Active</span>
                </div>
                <div class="table-responsive">
                    <table class="table datatable">
                        <thead>
                        <th>Category</th>
                        <th>Product</th>
                        <th>Provided by</th>
                        <th>Price</th>
                        <th>Actions</th>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="page-box">
                <div class="panel-heading">
                    <h3>Active Participants in the SoilDx Vendor Network</h3>
                </div>
                {% if vendors %}
                    <div class="panel-body">
                        {% for vendor in vendors %}
                            <div class="panel col-sm-6">
                                <div class="panel-heading">
                                    <h4>{{ vendor.organization.company.name }}</h4>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-responsive table-bordered table-condensed">
                                        <tbody>
                                        <tr>
                                            <th>SVX Vendor ID</th>
                                            <td>{{ vendor.id }}</td>
                                        </tr>
                                        <tr>
                                            <th>Address</th>
                                            <td>{% for a in vendor.organization.company.address %}
                                                {{ a.address }} ({{ a.address_type }})
                                                <br>
                                            {% endfor %}</td>
                                        </tr>
                                        <tr>
                                            <th>Phone</th>
                                            <td>{% for a in vendor.organization.company.phone %}
                                                {{ a.phone_number }} ({{ a.phone_type }})
                                                <br>
                                            {% endfor %}</td>
                                        </tr>
                                        <tr>
                                            <th>Email</th>
                                            <td>{% for a in vendor.organization.company.email %}{{ a.email }}
                                                <br>{% endfor %}</td>
                                        </tr>
                                        <tr>
                                            <th>Website</th>
                                            <td><a href="{{ vendor.base_url }}">{{ vendor.base_url }}</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="panel">
                        <div class="panel-heading">
                            <h4>No vendors listed yet</h4>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
    <script>
        var network = {{ network|safe }};
    </script>
    <script src="{% static 'assets/js/svx.js' %}"></script>
{% endblock %}